<style type="text/css" media="screen">
  .full-bg-image, .banner-image{
    background-color: #af010e;
  }
  .banner-image {
    padding-top:30px;
    box-shadow: none;
    background: url("/images/campaigns/20150615_dayofaction-rsvp_homepage_1170x440_v02.png") 0 -10px no-repeat;
    min-height: 420px;
    background-size: initial;
  }

  .banner-image .action-panel{
    margin-top:60px;
  }
</style>

<div class="full-bg-image">
  <div class="container banner-image">
    <div class="row">
      <div class="col-md-offset-8 col-lg-offset-8 col-md-4 col-lg-4 col-sm-8 col-sm-offset-2">
        {% capture panel_body %}
        <div class="panel-body mayday-inputs">
          <h2>RSVP for the Day of Action</h2>
          <p>Take action on Tuesday June 23.</p>
          <p class="margin-bottom-0"><a href="/june23/" title="" class="btn btn-mayday margin-bottom-0">Let's Go</a></p>
        </div>
        {% endcapture %}
        {% include panels/panel_empty.html form_class='smaller-form no-gutter'%}
      </div>
    </div>
  </div>
  </div>
</div>