<div class="jumbotron dark" style="background-image:url('/images/crowd.jpg');">
  <div class="container">
    <h1 class="text-center margin-bottom-xs">{{include.title}}</h1>
    <div class="col-md-8 center-block text-center">
      <h4 class="asi-if-h4 visible-xs text-center text-grey-light margin-bottom-xs">Tap on a state for information on progress, or</h4>
      <h4 class="hidden-xs text-center text-grey-light margin-bottom-sm">Hover over a state for information on progress or</h4>
      <a class="btn btn-mayday" href="#get-involved" style="display:inline-block;position:relative;z-index:100;width:auto;">Get Involved</a>
    </div>
    {% if include.sub_title %}<h2 class="text-center">{{include.sub_title}}</h2>{% endif %}
    <div id="map"></div>
    <div class="legend panel col-md-9 center-block margin-bottom-xs clearfix" style="padding-top:10px; margin-top:-30px; padding-bottom: 10px;">
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#dae4e7;"></div> = No Activity</div>
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#f36433;"></div> = No Public Financing</div>
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#fdd63f;"></div> = Needs Local Improvement</div>
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#0ad6b2;"></div> = Some Local Progress</div>
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#2ac4ea;"></div> = Needs State Improvement</div>
      <div class="legend-item col-sm-6 col-md-4 h6"><div class="legend-color" style="background:#0054b9;"></div> = Statewide Public Financing System</div>
      <div class="legend-item col-xs-12 h6"><image src="/images/2016_mayday-logo-shield.svg" style="height:20px;width:20px;display:inline-block;vertical-align: middle;" /> = Endorsed Candidate</div>
    </div>
  </div>
</div>