<style type="text/css" media="screen">
.jumbotron{
  background:transparent url('/images/campaigns/web-refresh-jumbotron-background.jpg') 0 0 no-repeat;
  background-size:cover;
  padding-bottom:0;
  background-position:center;
  margin-bottom:0;
  position: relative;
}

.jumbotron .panel {
	padding: 0 20px 10px;
}

.jumbotron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00467e;
    z-index: 0;
    opacity: .5;
}
 .jumbotron .container{
    /* background: transparent url('/images/20160203_money_in_dome.svg') center bottom no-repeat;
    background-size:180px;
    padding-bottom:180px */
  }
  
  .jumbotron p {
  	margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 200;
  }

@media (max-width: 1199px){
}

@media (min-width: 992px) and (max-width: 1199px){
}

@media (min-width: 768px){
  /* .jumbotron{padding-top:180px;} */
}

@media (max-width: 767px){
  .form-group:last-child{margin-top:15px;}
}
@media (max-width: 540px){
  .jumbotron .container{
    background-image:none;
    padding-bottom:10px;
  }
}
@media (max-width: 420px){
}
</style>

<div class="carousel slide" id="front-page-slider"  data-ride="carousel">

	    <ol class="carousel-indicators text-center center-block">
    <li data-target="#front-page-slide" data-slide-to="0" class="active"></li>
    <li data-target="#front-page-slide" data-slide-to="1"></li>
	  </ol>

    <div class="carousel-inner" role="listbox">
    
    	<div class="jumbotron item active" style="padding:;background-image:url('/images/campaigns/candidates/shultz.jpg');background-position:bottom center;">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center margin-top-md margin-bottom-lg">
                <h1><span class="text-yellow">We're Ending Big Money in Politics</span></h1>
                <h2 class="text-grey-light">Help us defeat Debbie Wasserman Schultz</h2>
               <div class="col-sm-10 col-md-7 center-block">
                    <p class="as-if-h5"><strong>Instead of fighting corruption, the head of the Democratic Party has only enabled lobbyists and big money.</strong></p>
                    <p class="as-if-h5"><strong>Debbie Wasserman Schultz is part of the problem. Defeating her is part of the solution, but we need your help.</strong></p>
                    <div class="col-xs-8 center-block margin-bottom-md margin-top-md">
                        <a href="http://act.mayday.us/schultz" class="btn-mayday btn">Help Us</a>
                    </div>
                </div>
              </div>
            </div>           
          </div>
        </div>
    
        <div class="jumbotron item">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center"><span class="text-yellow">Help End Big Money Politics</span> <br/>Take back our democracy.</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 center-block panel">
                  <div id="join-form">
                    <style>iframe{width:100%}</style>
                    <iframe src="https://mayday.nationbuilder.com/email_collect_https" scrolling="no" frameBorder="0"></iframe>
                    <script>iFrameResize({log:false, checkOrigin:false})</script>
                  </div>
              </div>
            </div>
            <div class="row margin-bottom-lg">
              <div class="col-md-9 col-lg-8 center-block">
                <p class="text-center"><!--MAYDAY<span orange-text>.US</span>--> We are a grassroots movement fighting to fix our broken political system. Building teams at the local level, we hold status quo politicians accountable at the ballot box and elect true reformers committed to passing strong anti-corruption laws. <a href="/the-plan" class="text-yellow">Learn more.</a><!--<br class="visible-xs"/><a href="/the-plan/" title="">Learn More</a>--></p>
              </div>
            </div>
          </div>
        </div>
        
    </div>
    
</div>

  {% comment %}
           
           <div id="members" class="progress-meter"></div>
            <div id="petition" class="progress-meter"></div>
            <div id="donations" class="progress-meter"></div>
            <div id="volunteers" class="progress-meter"></div>
            
            {% endcomment %}