<style type="text/css" media="screen">
.jumbotron-carl{
  
  padding-bottom:0;
  background-position:center;
  margin-bottom:0;
  position: relative;
  padding-top: 10px;
}
.jumbotron-carl h1 {
	font-size:40px;
  color:#ffffff;
  line-height:1;
}
.jumbotron-carl h2 {
	font-size:50px;
  color:#ffffff;
}
.jumbotron-carl .panel {
	padding: 0 20px 10px;
}
.jumbotron-carl:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 	#f3623f;
    z-index: 0;
    opacity: 100;
}
 .jumbotron-carl .container{
    /* background: transparent url('/images/20160203_money_in_dome.svg') center bottom no-repeat;
    background-size:180px;
    padding-bottom:180px */
  }
  
  .jumbotron-carl p {
  	margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 200;
  }
</style>
    
<div class="jumbotron-carl">
  <div class="container">
  
    <div class="row margin-top-md margin-bottom-md">
      
      <div class="col-md-3">
      <img src="/images/carl/CC-Sticker4.png" class="img-responsive img-bottom" alt="Responsive image">
      </div>
      <div class="col-md-7 center-block text-center">
      
        <ul><h1 class="text-yellow margin-bottom-xs">Join our newest campaign to to end big money politics:</h1></ul>
        <ul><img src="/images/carl/CC-Logo White.png" class="img-responsive img-bottom" alt="Responsive image"></ul>
          <div class="row margin-top-sm margin-bottom-xs">
            <div class="col-md-7 center-block">
              <div class="col-sm-4 center-block"><a class="button btn btn-mayday margin-bottom-sm" href="https://secure.actblue.com/contribute/page/monthly_members?amount=27&recurring=true"> Meet Carl</a></div>
            </div>
          </div>
      </div>
     <div class="col-md-3">
        <img src="/images/carl/CC-Sticker4.png" class="img-responsive img-bottom" alt="Responsive image">
      </div>
    </div>
  </div>
</div>



{% capture footer_scripts %}

<!-- <script>
$( "#recent" ).load( "https://mayday.nationbuilder.com/snippets #recent", function() {});
</script> -->

{% endcapture %}
