<style type="text/css" media="screen">
.jumbotron{
  background-size:cover;
  padding-bottom:0;
  background-position:center;
  margin-bottom:0;
  position: relative;
  padding-top: 90px;
}
.jumbotron h1 {
	font-size:40px;
  color:#fdd63f;
  line-height:1;
}
.jumbotron h2 {
	font-size:50px;
}
.jumbotron .panel {
	padding: 0 20px 10px;
}
.jumbotron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3623f;
    z-index: 0;
    opacity: 100;
}
 .jumbotron .container{
    /* background: transparent url('/images/20160203_money_in_dome.svg') center bottom no-repeat;
    background-size:180px;
    padding-bottom:180px */
  }
  
  .jumbotron p {
  	margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 200;
  }
</style>
    
<div class="jumbotron item">
  <div class="container">
  
    <div class="row margin-top-md margin-bottom-md">
    
      <div class="col-md-4 center-block text-center">
      <img src="//placehold.it/800x600" class="img-responsive" >
      </div>
      
      <div class="col-md-8 center-block text-center">
      
        <h1 class="text-yellow margin-bottom-xs">Join our newest campaign against systemic corruption:</h1>
        <h2 class="text-yellow margin-bottom-xs">Corruption Carl</h2> 
          <div class="row margin-top-sm margin-bottom-xs">
            <div class="col-md-10 center-block">
              <div class="col-sm-4 center-block"><a class="button btn btn-mayday margin-bottom-lg" href="https://secure.actblue.com/contribute/page/monthly_members?amount=27&recurring=true"> Meet Carl now</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 center-block">
              <div id="recent" class="text-yellow"></div>
            </div>
          </div>
        
      </div>
    
    </div>
    
  </div>
</div>



{% capture footer_scripts %}

<!-- <script>
$( "#recent" ).load( "https://mayday.nationbuilder.com/snippets #recent", function() {});
</script> -->

{% endcapture %}
