<style type="text/css" media="screen">
.jumbotron-carl2{
  
  padding-bottom:0;
  background-position:center;
  margin-bottom:0;
  position: relative;
  padding-top: 10px;
}
.jumbotron-carl2 h1 {
	font-size:40px;
  color:#ffffff;
  line-height:1;
}
.jumbotron-carl2 h2 {
	font-size:50px;
  color:#ffffff;
}
.jumbotron-carl2 .panel {
	padding: 0 20px 10px;
}
.jumbotron-carl2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 	#FDD146;
    z-index: 0;
    opacity: 100;
}
 .jumbotron-carl2 .container{
    background: transparent url('/images/carl/CC-Sticker3.png') center bottom no-repeat;
    background-size:180px;
    padding-bottom:180px
  }
  
  .jumbotron-carl2 p {
  	margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 200;
  }
</style>
    
<div class="jumbotron-carl2">
 <div class="container">
  <div class="row"
   <div class="col-md-12">
    <img src="/images/carl/CC-Sticker4.png" class="img-responsive" alt="Responsive image">
   </div>
  </div>
 </div>
</div>

{% capture footer_scripts %}
<!-- <script>
$( "#recent" ).load( "https://mayday.nationbuilder.com/snippets #recent", function() {});
</script> -->

{% endcapture %}
