<style type="text/css" media="screen">
.jumbotron-carl2{
  
  padding-bottom:0;
  background-position:center;
  margin-bottom:0;
  position: relative;
  padding-top: 0px;
  background: linear-gradient(
  to right, 
  #231f20 0%, 
  #231f20 50%, 
  #f0cf12 50%, 
  #f0cf12 100%
  );
}
.jumbotron-carl2 h1 {
	font-size:40px;
  color:#ffffff;
  line-height:1;
}
.jumbotron-carl2 h2 {
	font-size:50px;
  color:#ffffff;
}
.jumbotron-carl2 .panel {
	padding: 0 0px 0px;
}
.jumbotron-carl2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right, 
    #231f20 0%, 
    #231f20 50%, 
    #f0cf12 50%, 
    #f0cf12 100%
  );
    z-index: 0;
    opacity: 100;
}
 .jumbotron-carl2 .container{
    /*background: transparent url('/images/carl/CC-Sticker3.png') center bottom no-repeat;
    background-size:180px;
    
	 -bottom:180px*/
  }
  
  .jumbotron-carl2 p {
  	margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 200;
  }
	
.jumbotron-carl2 a {
    color: inherit;
}

.jumbotron-carl2 a {text-decoration: none}
</style>

<div class="jumbotron-carl2">
 <div class="container">
   <div class="col-md-12">
    <a href="http://www.cleanupcarl.com"> <img src="/images/carl/New_Website_Banner2.png" width="100%"></a>
   </div>
  </div>
 </div>

{% capture footer_scripts %}
<!-- <script>
$( "#recent" ).load( "https://mayday.nationbuilder.com/snippets #recent", function() {});
</script> -->

{% endcapture %}
