<style>

.jumbotron{
	background-image: url('/images/campaigns/jumbotron-donate.jpg');
	background-size:cover;
	background-position:center;
	margin-bottom: 0;
	padding-bottom:70px;
	padding-top:70px;
}

.jumbotron .panel {
	padding:20px 30px 20px
}

.jumbotron h1 {
	font-size:40px;
	color:#00467e;
	line-height:1;
}

.jumbotron h2 {
	font-size: 30px;
}

.navbar-brand:after {
	content:none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    max-width: 960px;
    margin: 0 auto 1em;
}

.videoWrapper iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand {
	display:inline-block;
	float:none;
	padding:0;
	font-weight: 500;
}

.navbar-brand img {
	max-width:50%;
	display:inline-block;
}

a.navbar-brand {
	color:#00467e !important;
}

a.navbar-brand:hover {
	color:#0054b9 !important;
}

.donate-page {
	padding: 40px 0 0;
}

.action-panel .panel-body h2 {
    padding-top: 55px;
}

</style>

<script src="/js/iframeResizer.min.js"></script>

<div class="jumbotron">
  <div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      <div class="panel action-panel with-shield mayday-inputs">
        <div class="panel-body mayday-inputs">
        	<h1 class="mayday-headline-smaller text-center margin-bottom-sm">Thank you for your generous contribution!</h1>
          <h2>Tell your friends</h2>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <a href="http://www.facebook.com/sharer.php?u=https://mayday.us/donate/" target="_blank" class="btn btn-mayday btn-share-center facebook">
                <span class="text"><i class="fa fa-facebook"></i></span>
              </a>
            </div>
            <div class="col-md-6 col-sm-6">
              <a href="https://twitter.com/home?status=Ready%20to%20fight%20corruption%20with%20me%3F%20Donate%20today%20for%20political%20equality%3A%20https%3A%2F%2Fmayday.us%2Fdonate%2F" target="_blank" class="btn btn-mayday btn-md-wide btn-share-center twitter">
                <span class="text"><i class="fa fa-twitter"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div><!--  close panel -->
    </div>
  </div>
</div>
</div>

