<style>

.jumbotron{
	background-image: url('/images/campaigns/jumbotron-donate.jpg');
	background-size:cover;
	background-position:center;
	margin-bottom: 0;
	padding-bottom:70px;
	padding-top:70px;
}

.jumbotron .panel {
	padding:20px 30px 20px
}

.jumbotron h1 {
	font-size:40px;
	color:#00467e;
	line-height:1;
}

.jumbotron h2 {
	font-size: 30px;
}

.navbar-brand:after {
	content:none;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    max-width: 960px;
    margin: 0 auto 1em;
}

.videoWrapper iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand {
	display:inline-block;
	float:none;
	padding:0;
	font-weight: 500;
}

.navbar-brand img {
	max-width:50%;
	display:inline-block;
}

a.navbar-brand {
	color:#00467e !important;
}

a.navbar-brand:hover {
	color:#0054b9 !important;
}

.donate-page {
	padding: 40px 0 0;
}

</style>

<script src="/js/iframeResizer.min.js"></script>

<div class="jumbotron">
  <div class="container panel">
  		<div class="row text-center">
        <h1><a class="navbar-brand" href="{{ root_path }}/"><img src="{{ root_path }}/images/2016_mayday-logo-sheild.svg" alt=""> MAYDAY<span class="text-orange">.US</span></a></h1>

        </div>
      <div class="row">
        <div class="col-md-7">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/ltYRVRQ95dk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-5">
            <h1>Help End Big Money Politics</h1>
            <h5>Help us elect candidate committed to fundamental reform in 2016</h5>
            <a href="#donate-form" class="btn btn-mayday">Pledge Now</a>
        </div>
      </div>
  </div>
</div>

