<style>

.jumbotron{
	background-image: url('/images/campaigns/jumbotron-donate.jpg');
	background-size:cover;
	background-position:center;
	margin-bottom: 0;
	padding-bottom:70px;
	padding-top:100px;
}

.jumbotron .panel {
	padding:40px;
}

@media only screen and (max-width:400px) {
	.jumbotron .panel {
		padding:10px;
	}
}

.jumbotron h1 {
	font-size:40px;
	color:#00467e;
	line-height:1;
}
.jumbotron h2 {
	font-size: 30px;
}

</style>

<div class="jumbotron">
  <div class="container">
      <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 panel">
            <h1>Help Us Meet Our Goal</h1>
            <h5>Contribute directly to hiring organizers on the ground and run digital ads to support the reformers needed to change dysfunctional politics and reclaim our democracy from big money</h5>
            <h2 class="text-orange">Donate In Two Minutes or Less</h2>
            {% include form_donate.html %}
        </div>
      </div>
  </div>
</div>

