<style>

.jumbotron{
	background:#033258;
	background-image: url('/images/campaigns/Mayday-Header-4th-of-July-1844x771v1.jpg');
	background-size:cover;
	background-position: bottom center;
	margin-bottom: 0;
	padding-bottom:100px;
	padding-top:100px;
	overflow:hidden;
	position:relative;
}

.candidate-info {
	padding: 20px 60px;
}

.jumbotron .panel {
	padding:20px;
}

@media only screen and (max-width:400px) {
	.jumbotron .panel {
		padding:10px;
	}
}

.jumbotron h1 {
	font-size:40px;
	line-height:1;
}
.jumbotron h2 {
	font-size: 30px;
}
.jumbotron h5 {
	font-size:40px;
	line-height:1;
}

.jumbotron:after, .jumbotron:before {
	content:'';
	display:block;
	position:absolute;
	height:30px;
	background:white;
	width:100%;
	height:40px;
	bottom:-40px;
	left:0;
}

.jumbotron:before {
	transform: skew(0deg, 2deg) ;
	-webkit-transform: skew(0deg, 2deg) ;
	-moz-transform: skew(0deg, 2deg) ;
	-o-transform: skew(0deg, 2deg) ;
	-ms-transform: skew(0deg, 2deg) ;
}

.jumbotron:after {
	transform: skew(0deg, -2deg) ;
	-webkit-transform: skew(0deg, -2deg) ;
	-moz-transform: skew(0deg, -2deg) ;
	-o-transform: skew(0deg, -2deg) ;
	-ms-transform: skew(0deg, -2deg) ;
}

</style>

<div class="jumbotron">
  <div class="container">
      <div class="row">
      
            <div class="col-md-5 panel margin-top-md">
            	<h3 class="text-orange text-center we-need-your-help"><span>Help End Big Money Politics</span></h3>
            	<h4 class="text-center">Donate In Two Minutes or Less</h4>
                {% include form_donate.html %}
            </div>
            
            <div class="col-md-7 candidate-info">
                <h2 class="text-yellow" style="font-size: 44px;">Support a New American Political Revolution</h2>
                <h4 class="text-grey-light">Fixing our broken system won’t happen overnight so we need your ongoing support.</h4>
                <p>Donations from individual citizens are the cornerstone of our funding. Donations from citizens like you are critical for hiring organizers in key districts, supporting volunteers, and complementary digital advertising.</p>
                <div id="recent" class="text-yellow"></div>
            </div>
            
      </div>
  </div>
</div>

{% capture footer_scripts %}

<script>

$( "#recent" ).load( "https://mayday.nationbuilder.com/snippets #recent", function() {});

</script>

<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='85388521-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

{% endcapture %}
