<style>

.jumbotron.dark{
	background-image: url('/images/campaigns/jumbotron-donate.jpg');
	background-size:cover;
	background-position:center;
	margin-bottom: 0;
	padding-bottom:70px;
	padding-top:100px;
}

.jumbotron h1 {
	font-size:40px;
	margin-bottom: 0;
}

.jumbotron h2 {
	font-size: 30px;
	text-shadow: 3px 3px 2px #212230;
}

.contribution-rules, .gray-container-wrap {
	margin-top:0;
	padding-top:80px;
}

</style>

<script src="../../js/iframeResizer.min.js"></script>

<script>

//var iframeDonate = document.getElementById("iframe");
//var donateForm = document.getElementById("donate-form");
//donateForm.innerHTML = iframeDonate.contentWindow.document.getElementById("donate").innerHTML;

//var iframes = iFrameResize( /* [{options}], [css selector] || [iframe] */ );

</script>

<div class="jumbotron dark">
  <div class="container">
      <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6">
            <h1>Help End Big Money Politics</h1>
            <h5 style="color:white;">Help us reduce the influence of money in politics and elect a Congress committed to fundamental reform by 2016</h5>
            <h2>Donate In Two Minutes or Less</h2>
            <div id="donate-form"></div>
            <style>iframe{width:100%}</style>
            <iframe src="https://mayday.nationbuilder.com/dev" scrolling="no"></iframe>
            <script>iFrameResize({log:true, checkOrigin:false})</script>
        </div>
      </div>
  </div>
</div>

