#index{
  .campaign-actions{

    h3, .byline.small{color:$mayday-background}
    .vertical-center{
      border-radius: 2px;
      height:250px;
      @include tablet-minus{
        height:220px;
      }
    }
    .letter{
      height:530px;
      @include overlay-yellow-light(
        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), \a
        url('/images/20160212_handwritten_supporter_note.jpg') no-repeat center/cover");
      @include tablet{
        height:470px;
      }
      @include phone{
        margin-bottom:30px;
      }
    }
    .events{
      @include overlay-blue-light(
        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), \a
        url('/images/20160212_handwritten_supporter_note.jpg') no-repeat center/cover");
    }
    .take-action{
      @include overlay-green-light(
        "linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), \a
        url('/images/20160212_handwritten_supporter_note.jpg') no-repeat center/cover");
    }
    .letter, .events, .take-action{
      p:last-child{
        margin-bottom:0;
      }
      @include phone{
        height:auto;
        padding-top:10px;
      }
    }
  }

  ///////////////////////////////////////////////
  //  homepage panels

  .homepage-panel{
    position: relative;
    overflow: hidden;
    padding-top:50px;
    padding-bottom:50px;
    font-weight: 300;

    .container{
      padding-top:0;
      padding-bottom:0;
    }

    &.dark {
      background: $color-navy-blue-light;
      color: $mayday-background;

      h2{
        color:$mayday-background;
      }
    }
    &.grey{
      background-color: $mayday-grey-medium;
    }

    &.with-supporters{
      background-image:
        url('/images/20160203_supporter_photos_913x385.jpg'),
        url('/images/20160203_supporter_photos_913x385.jpg');
      background-position:
        calc(50% + (912px * 1.5)) 0,
        calc(50% + (912px / 2)) 0;
      background-repeat: repeat-y;

      @include tablet-minus{
        background:$mayday-grey-medium;
      }

      .btn-group{
        margin-top:calc(50% - 80px);
        @include tablet-minus{
          margin-top:20px;
        }

      }
    }
  }

// }

.closing-action-panel{
    padding:60px 100px 100px;
    @include small-desktop{
      padding:40px 50px 50px;
    }
    @include tablet-minus{
      padding:30px 40px 40px;
      margin-bottom:20px;
    }
    h3{
      color: $mayday-blue-black;
      span{
        background-color: $mayday-blue-black;
        color:$mayday-yellow-light;
        display: inline-block;
        vertical-align:top;
        width: 60px;
        border-radius: 100px;
        font-size: 50px;
        text-align: center;
        margin-right:15px;
        @include tablet-minus{
          width:40px;
          font-size:30px;
          margin-right:5px;
        }
      }
    }
    p{
      color: $mayday-blue-black;
    }
    &.donate{
      background-color: $mayday-yellow-light;
    }
    &.signup{
      background-color: $mayday-blue-light;
      h3 span{
        color: $mayday-blue-light;
        text-indent:-5px;
      }
    }
  }
  .front-donate {
	background:url('/images/campaigns/donate-background.jpg');
	background-size:cover;
	background-position:center;
	padding-bottom:110px;
	  
	 &:before {
		content:' ';
	 	position:absolute;
		background:rgba(255,255,255,.50);
		height:100%;
		width:100%;
		top:0;
		left:0;
		box-shadow: inset 0 0 40px rgba(0,0,0,.05);
	 }

  }
  #donate-front-form {
  	margin-top:-140px;
	padding-top:50px;
	text-align:center;
	
	h3 {
		color:white;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom: 2px solid $mayday-grey-medium;
		display:inline-block;
	}
	
	.container {
		margin:0 auto;
	}
	
	.btn-group.btn-group-mayday {
		width: 100%;
		text-align: center;

	}
	
	.btn {
		background:$mayday-blue-dark;
		color:white;
		display:inline-block;
		float:none;
		margin:0 0 20px;
		
		&.green {
			background:$mayday-green-light;
		}
		
		&:hover {
			background:$mayday-blue-light;
		}
	}
	
  }
  
  #blog-snippets {
  	padding-top:50px;
  }

}