
///////////////////////////////////////////////
//  Jumbotron support

.jumbotron{
  margin-top: -45px;
  padding:0;
  position:relative;
  overflow: hidden;
  @include phone{
    margin-top: 0px;
  }
}

///////////////////////////////////////////////
//  Homepage ribbon

.homepage-ribbon{
  padding-top: 20px;
  padding-bottom: 20px;

  >div .mini-panel{
    padding-right:10px;
  }
  >div:last-child .mini-panel{
    padding-right: 0
  }


  .mini-panel{
    padding-left:110px;
    background:transparent url('') 5px 0 no-repeat;
    letter-spacing: .2px;
    line-height: 22px;
    font-size: 16px;
    background-size:90px 90px;

    @include tablet-minus{
      margin-top: 8px;
      font-size: 18px;
      min-height:92px
    }

    .call-box{
      span{
        padding-right:0;
        padding-left:15px;
        @include tablet-minus{
          &:last-child{
            padding-left:0;
          }
        }
        @include phone{
          width: 400px;
        }
        @include large-desktop{
          &:last-child{
            padding-left:0;
          }
        }
      }
      .call-box-thin{
        font-size: 15px;
        font-weight: 300;
        @include small-desktop{
          font-size:17px;
        }
        @include phone{
          font-size: 25px;
        }
      }
      .call-box-thick{
        font-size: 25px;
        font-weight: 400;
        line-height: 14px;
        @include small-desktop{
          line-height: 15px;
          font-size: 20px;
        }
        @include phone{
          font-size: 25px;
        }
      }
    }
  }

  .mini-panel-text{
    background-image: url('/images/home_icon_star.svg');
  }
  .mini-panel-call{
    background-image: url('/images/home_icon_person.png');
  }
  .mini-panel-state{
    background-image: url('/images/home_icon_map.svg');
  }
}


///////////////////////////////////////////////
//  homepage panels

.homepage-panel{
  position: relative;
  overflow: hidden;
  padding-top:50px;
  padding-bottom:50px;
  font-weight: 300;

  .container{
    padding-top:0;
    padding-bottom:0;
  }

  .homepage-panel-body{

    h2 {
      font-size: 37px;
      margin-top:0;
    }

    .panel-headline-small {
      margin-top: 30px;
      font-size: 32px;
    }

    p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 20px;
      line-height:30px;
    }
  }

  &.dark {
    background: $color-navy-blue-light;
    color: #ffffff;

    h2{
      color:#fff
    }
  }
  &.grey{
    background-color: $color-grey-background;
  }
  &.light {
  }

  .bg-star{
    position: absolute;
  }

  &.ten-star {
    .bg-star:first-of-type {
      left: -400px;
      top: -250px;
      height: 650px;
      opacity: .03;
      @include star-rotation(-30deg);
    }
    .bg-star:nth-of-type(2) {
      left: -500px;
      top: 80px;
      height: 800px;
      opacity: .03;
      @include star-rotation(-50deg);
    }
    .bg-star:nth-of-type(3) {
      left: 10%;
      top: -160px;
      height: 265px;
      opacity: .03;
      @include star-rotation(-50deg);
    }
    .bg-star:nth-of-type(4) {
      left: 1%;
      top: -70px;
      width: 600px;
      opacity: .015;
      @include star-rotation(35deg);
    }
    .bg-star:nth-of-type(5) {
      left: 25%;
      top: -200px;
      height: 350px;
      opacity: .03;
      @include star-rotation(35deg);
    }
    .bg-star:nth-of-type(6) {
      left: 25%;
      top: 260px;
      height: 350px;
      opacity: .02;
      @include star-rotation(35deg);
    }
    .bg-star:nth-of-type(7) {
      left: 35%;
      top: 100px;
      height: 200px;
      opacity: .02;
      @include star-rotation(-50deg);
    }
    .bg-star:nth-of-type(8) {
      left: 33%;
      top: -180px;
      height: 850px;
      opacity: .03;
      @include star-rotation(35deg);
    }
    .bg-star:nth-of-type(9) {
      left: 76%;
      top: -170px;
      height: 600px;
      opacity: .03;
      @include star-rotation(40deg);
    }
    .bg-star:nth-of-type(10) {
      left: 82%;
      top: 275px;
      height: 200px;
      opacity: .04;
      @include star-rotation(-15deg);
    }
  }

  &.starless{
  }

  &.two-star {
    .bg-star:first-of-type {
      left: -35%;
      top: -450px;
      height: 1500px;
      opacity: .04;
      @include star-rotation(20deg);
    }
    .bg-star:nth-of-type(2) {
      left: 35%;
      top: -750px;
      height: 1500px;
      opacity: .04;
      @include star-rotation(-10deg);
    }
  }

  &.three-star {
    .bg-star:first-of-type {
      left: -35%;
      top: -450px;
      height: 1500px;
      opacity: .04;
      @include star-rotation(-10deg);
      z-index: 0;
    }
    .bg-star:nth-of-type(2) {
      left: 40%;
      top: 200px;
      height: 1000px;
      opacity: .04;
      @include star-rotation(-20deg);
      z-index: 0;
    }
    .bg-star:nth-of-type(3) {
      left: -40%;
      top: 400px;
      height: 1500px;
      opacity: .04;
      @include star-rotation(20deg);
      z-index: 0;
    }
  }

  &.capitol-building{
    background: #fff url('/images/capitol_building.png') right bottom no-repeat;
  }
}