///////////////////////////////////////////////
//  homepage panels

.homepage-panel{
  position: relative;
  overflow: hidden;
  padding-top:50px;
  padding-bottom:50px;
  font-weight: 300;

  .container{
    padding-top:0;
    padding-bottom:0;
  }

  &.dark {
    background: $color-navy-blue-light;
    color: #ffffff;

    h2{
      color:#fff
    }
  }
  &.grey{
    background-color: $mayday-grey-light;
  }
}