/**
 * Mayday News Panels
 **/


 .panel-news{
  -webkit-box-shadow: none;
  box-shadow: none;

  .panel-heading{
    border-bottom:2px solid $mayday-blue-light;
    padding:0;
    margin-bottom:30px;


    small{
      float: right;
      margin-top: 6px;
      letter-spacing: 0;
      text-transform: none;
    }
  }
  .panel-body{
    padding:0;
  }
  li{
    border-bottom:1px solid $mayday-grey-medium;
    margin-bottom:15px;

    &:last-child{
      margin-bottom:0;
      border-bottom:none;
    }

    a:link, a:visited{
      color:$mayday-blue-black;
    }
  }
 }

