/**
 * Mayday Content
 */

.tb-profile{
  margin-bottom: 30px;
  @include phone{
    margin-top: 35px;
  }
}
.img-bottom{
  margin-bottom: 15px;
}
.contributors-format h5{
  font-size: 18px;
  line-height:1em;
}

