.page-panel{
  position: relative;
  padding-top:18px;
  padding-bottom:22px;
  font-weight: 400;

  .sticky-wrapper{
    float:left;
  }

  .panel-wrapper{
    margin-top:20px;
    margin-bottom:20px;
  }

  &.grey{
    background-color: $color-grey-background;
  }
  &.light{
    background-color: #fff;
  }
}
/**
 * sticky nav
 */
.sticky-nav{
  background:$mayday-background;
  color: $mayday-text;
  padding:20px 20px 20px;
  z-index:10;
  margin-top:-15px;
  li{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid $mayday-grey-medium;
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
    a:link, a:visited{color:$mayday-grey-dark;}
    &.active{
      a:link, a:visited{color:$mayday-blue-dark;}
    }
  }
  @include tablet{
    padding: 0px 0px 30px 25px;
  }
  &.stuck{
    top:110px;
    max-width:165px;
  }
}