.page-panel{
  padding-top:18px;
  padding-bottom:22px;
  font-weight: 400;

  .panel-wrapper{
    margin-top:20px;
    margin-bottom:20px;
  }

  &.grey{
    background-color: $color-grey-background;
  }
  &.light{
    background-color: #fff;
  }
  .sticky-nav-wrapper{
    position:initial;
  }
}

/** * sticky table of contents */
.sticky-nav{
  background:$mayday-background;
  color: $mayday-text;
  padding:20px 20px 20px;
  z-index:10;
  margin-top:-15px;
  li{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid $mayday-grey-medium;
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
    a:link, a:visited{color:$mayday-grey-dark;}
    &.active{
      a:link, a:visited{color:$mayday-blue-dark;}
    }
  }
  @include tablet{
    padding: 0px 0px 30px 25px;
  }
  &.stuck{
    top:110px;
    max-width:165px;
  }
  &.stuck-bottom{
    bottom:0;
    position:absolute;
    max-width:165px;
  }
}
// needed for sticky nav
.the-plan .page-content{
  position:relative;
}
.sticky-wrapper{
  float:left;
  background:rgba(0,0,0,0.1)
}
