_site
.env
.sass-cache
.idea
.DS_Store
.ruby-gemset
.ruby-version
.asset-cache

*.html

_includes/footer.html

_includes/jumbotrons/generic-jumbo.html

_includes/jumbotrons/generic-jumbo.html

_includes/jumbotrons/generic-jumbo.html
