---
layout: default
title: MAYDAY.US - News
permalink: /news/
---
<div class="container news-content">
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h1 class="mayday-headline-smaller">News</h1>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2>
            <i class="md-icon md-download"></i>
            Media Resources
          </h2>
        </div>
        <div class="panel-body contact-info">
            <p><a href="mailto:press@mayday.us?subject=Press">press@mayday.us</a></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2>
            <i class="md-icon md-envelope"></i> Contact Us
          </h2>
        </div>
        <div class="panel-body contact-info">
          <p>
            <a href="mailto:info@mayday.us?subject=Info">info@mayday.us</a>
          </p>
          <p>
            MAYDAY PAC<br/>
            P.O. Box 380444<br/>
            Cambridge, MA 02238
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-same-height row-full-height">
      <div class="col-xs-12 col-sm-6 col-sm-height col-full-height">
        <div class="panel panel-news with-border">
          <div class="panel-heading">
            <h2>
              <a href="{{site.blog_root_url}}" target="_blank"><i class="md-icon md-shield"></i> The Mayday Blog</a>
            </h2>
          </div>
          <div class="panel-body panel-links">
            <ul id="tumblr-posts">
            </ul>
            <a class="btn btn-targets more-link" href="{{site.blog_root_url}}">Visit the Blog</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-height col-full-height">
        <div class="panel panel-news with-border">
          <div class="panel-heading">
            <h2><a href="{{site.blog_root_url}}/tagged/press-release"><i class="md-icon md-microphone"></i>Press Releases</a></h2>
          </div>
          <div class="panel-body panel-links">
            <ul id="tumblr-press-releases">
            </ul>
            <a class="more-link" href="{{site.blog_root_url}}/tagged/press-release">&gt; View our Press Release Library</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-height col-full-height">
        <div class="panel panel-news with-border">
          <div class="panel-heading">
            <h2>
              <a href="/in-the-news/"><i class="md-icon md-newspaper"></i> Mayday in the News</a>
            </h2>
          </div>
          <div class="panel-body panel-links">
            <ul>
            {% for article in site.data.press_articles limit:5 %}
              <li>
                <a href="/in-the-news/#{{article.link | slugify}}">{{ article.title }}</a>
              </li>
            {% endfor %}
            </ul>
            <a class="more-link" href="/in-the-news/">&gt; Read more news about Mayday</a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container bottom-spacer">
  <div class="col-md-8 center-block panel-wrapper">
    {% include panels/panel_action_w_signup.html hide_next=true %}
  </div>
</div>

<!-- JavaScript to Pull in last 5 Tumblr Posts -->
<script id="post" type="text/html">
    {% raw %}<li><a href="{{ url }}">{{ regular-title }}</a></li>{% endraw %}
</script>
<script id="press_release" type="text/html">
    {% raw %}
      <li>
        <p>
          <time class="press-date">{{ date }}</time> -
          <a class="press-link" href="{{ url }}">{{ regular-title }}</a>
        </p>
      </li>
    {% endraw %}
</script>
<script type="text/javascript">
  (function($, ich) {
    var url = '{{site.blog_post_feed_url}}';

    $.getJSON(url, function (data) {
      var posts = data.posts;
      var $posts = $('#tumblr-posts');

      posts.forEach(function(post, index) {
        $posts.append( ich.post(post) );
      });
    });

    var url = '{{site.press_releases_feed_url}}';

    $.getJSON(url, function (data) {
      var releasePosts = data.posts;
      var $releasesContainer = $('#tumblr-press-releases');

      releasePosts.forEach(function(post, index) {
        d = new Date(post['date']);
        post['date'] = d.getMonth()+1 + "/" + d.getDate() + "/" + d.getFullYear();
        post['regular-title'] = post['regular-title'].replace('PRESS RELEASE - ','')
        $releasesContainer.append( ich.press_release(post) );
      });
    });
  })(jQuery, ich);
</script>
<!-- end JavaScript -->

