---
layout: default
title: MAYDAY.US - Not Found
permalink: /404/
---
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mayday-headline-smaller">Not found <span>:(</span></h1>

      <h2>Our republic is broken. And so is this web address.</h2>
      <p>It looks like this was the result of either:</p>
      <ul>
          <li>a mistyped address</li>
          <li>an out-of-date link</li>
      </ul>
    </div>
    <div class="col-md-4 panel-wrapper">
      {% include panels/panel_action.html %}
    </div>
  </div>
</div>

{% include panels/panel_action_modal.html %}


