---
layout: default
title: MAYDAY.US - About Us
permalink: /about-us/
---
{% capture content %}
<div class="container smaller-layout">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="mayday-headline-smaller">About <span class="mayday-headline-smaller-thinner">Mayday</span></h1>
      <p>MAYDAY.US is a national grassroots movement to fight corruption by electing reformers on all levels of our democracy.</p>
      <p>We have teams of dedicated volunteers across the country, organizing on behalf of candidates that will fundamentally reform our campaign finance system.</p>
      <p>Read more about <a href="/the-plan/#problem">the problem</a>, <a href="/the-plan/">the plan</a> to fix it, or <a href="/our-strategy/">our strategy</a>.</p>
    </div>
  </div>
  <br>
  <div class="row no-gutter">
    <a href="/team-and-board/">
      <div class="col-xs-4 large-icons">
        <h2><span class="hidden-xs">Our</span> Team</h2>
        <br>
        <img src="/images/about/about_icon_M_shield_0px_left_shallow_top.svg" class="img-responsive about-icons team-icon" alt="Responsive image">
      </div>
    </a>
    <a href="/faq/">
      <div class="col-xs-4 large-icons">
        <h2 class="placed-center center-faq-icon1">FAQ</h2>
        <br>
        <img src="/images/about/about_icon_bubble_question.svg" class="img-responsive about-icons placed-center center-faq-icon2" alt="Responsive image">
      </div>
    </a>
    <a href="/videos/">
      <div class="col-xs-4 large-icons">
        <h2 class="placed-center">Videos</h2>
        <br>
        <img src="/images/about/about_icon_movie.svg" class="img-responsive about-icons placed-center" alt="Responsive image">
      </div>
    </a>
  </div>
  <div class="row bottom-spacer">
    <nav>
      <div class="col-md-1"></div>
      <div class="col-md-3 col-sm-6 col-xs-12 contact-info info-height">
        <h3>Contact Us</h3>
          <p>
            Mayday PAC <br />
            P.O. Box 75357 <br />
            Washington, DC 20013
          </p>
          <p class=
        <p class="bullet-color"><a href="mailto:info@mayday.us?subject=Info"> info@mayday.us</a></p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 contact-info info-height">
        <h3>Email Us About</h3>
        <p class="bullet-color">&bull; <a href="mailto:info@mayday.us?subject=Donations">Donations</a></p>
        <p class="bullet-color">&bull; <a href="mailto:info@mayday.us?subject=Address change / Email removal">Address change /
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;&nbsp;</span>Email removal</a></p>
        <p class="bullet-color">&bull; <a href="mailto:info@mayday.us?subject=Website issues">Website issues</a></p>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 contact-info info-height">
        <h3>Find Us</h3>
        <p class="bullet-color"><span class="socicon">C</span>&nbsp;&nbsp;<a href="http://www.reddit.com/r/maydaypac" target="_blank">Reddit</a></p>
        <p class="bullet-color"><span class="socicon">b</span>&nbsp;&nbsp;<a href="https://www.facebook.com/MAYDAYdotUS" target="_blank">Facebook</a></p>
        <p class="bullet-color"><span class="socicon">a</span>&nbsp;&nbsp;<a href="https://twitter.com/maydayus" target="_blank">Twitter</a></p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 contact-info info-height">
        <h3>More</h3>
        <p class="bullet-color">&bull; <a href="/privacy-policy/">Privacy Policy</a></p>
        <p class="bullet-color">&bull; <a href="/attribution/">Attribution</a></p>
      </div>
    </nav>
  </div>
</div>

<div class="container bottom-spacer">
  <div class="col-md-8 center-block panel-wrapper">
    {% include panels/panel_action_w_signup.html hide_next=true %}
  </div>
</div>

{% endcapture %}

{% include sub_layouts/default_layout.html %}
