---
layout: default
title: Contact Us - MAYDAY.US
permalink: /contact-us/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="Contact Us" %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>By Email</h2>
      <p>Our main email addres is <a href="mailto:info@mayday.us?subject=Info">info@mayday.us</a>, or you can click below to email us about:</p>
      <ul>
        <li><a href="mailto:info@mayday.us?subject=Donations">Donations</a></li>
        <li><a href="mailto:info@mayday.us?subject=Address change / Email removal">Address change / Email removal</a></li>
        <li><a href="mailto:info@mayday.us?subject=Website issues">Website issues</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>By Mail</h2>
      <p>
        MAYDAY PAC<br/>
        P.O. Box 75357<br/>
        Washington, DC 20002
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Press Contact</h2>
      <p><a href="mailto:press@mayday.us?subject=Press">press@mayday.us</a></p>
    </div>
  </div>
</div>
{% endcapture %}


{% include sub_layouts/default_layout.html %}
