---
layout: default
title: Donate
permalink: /donate-video/
---
{% capture content %}
{% include jumbotrons/donate-video-jumbotron.html title="Donate" %}


<div class="donate-page container">

  <div class="row">
    <div class="col-md-6 col-lg-6">

     		<h2>Donate In Two Minutes or Less</h2>
            <div id="donate-form">
            <style>iframe{width:100%}</style>
            <iframe src="https://mayday.nationbuilder.com/dev" scrolling="no" frameBorder="0"></iframe>
            <script>iFrameResize({log:true, checkOrigin:false})</script>
            </div>
    </div>


  </div>
</div><!-- END .donate-page.container -->

<div id="rules" class="container-fluid" style="padding-top:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
      {% include donate_rules.html %}
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/splash.html %}
