---
layout: default
title: Example Page
permalink: /example-page/
meta_content: |
  <meta property="og:url" content="https://mayday.us/example-page/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150429-hero-bg.jpg"/>
  <meta property="og:title" content="Custom meta content - Optional"/>
  <title>Custom meta content - Optional</title>
  <meta property="og:description" content="This is optional content"/>
  <link rel="canonical" href="https://mayday.us/example-page/">
  <meta name="robots" content="noindex"><!--  remove no-index when you take pages live -->
---
{% capture custom_css %}
<style type="text/css">
  .somePageSpecificCss{}
</style>
{% endcapture %}

{% capture content %}
{% include jumbotrons/general-dark.html title="Page title goes here" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Heading Two Heading Two Heading Two</h2>
      <p class="byline">A Byline would go here.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>Heading Two Heading Two Heading Two - second priority</h2>
      <h3>Heading three is third priority, but too close to h2?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h4>Heading four. Heading four. Heading four. </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h5>Heading five. Heading five. Heading five. </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h6>Heading six. Heading six. Heading six. </h6>
      <p>Us eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
{% endcapture %}


{% capture page_specific_javascript %}
{% raw %}<!-- wrap any {{}} templates in raw tags -->
<script id="call_target_template" type="text/html">
  <a href="/legislators?bioguide_id={{ bioguide_id}}" title="">{{title}} {{name}} {{party}}-{{state_abbrev}} {{display_district}}</a>
</script>
{% endraw %}

<script>
  $(document).ready(function(){
    //some custom js
  });
</script>
{% endcapture %}
<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}

{% include sub_layouts/default_layout.html %}
