---
layout: default
title: MAYDAY.US - FAQ
permalink: /faq/
---
<div class="container">
  <!-- <div class="col-md-12"> -->

    <div class="row"><!-- no-gutter-phone -->
      <div class="col-md-8">
        <h1 class="mayday-headline-smaller">FAQ</h1>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                Who are you?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                Founded by Harvard Law School Professor Lawrence Lessig and Republican strategist Mark McKinnon, Mayday (MAYDAY.US) is an independent political action committee (PAC) dedicated to electing a Congress that would pass fundamental reform of the way campaigns are funded. Achieving our goals would mean that we would be the last super PAC &mdash; &ldquo;the super PAC to end all super PACs.&rdquo;
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                What do you mean by &ldquo;fundamental reform&rdquo;?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                The core problem with our Congress today is the way campaigns are funded. Members spend between 30% and 70% of their time raising money, but they raise that money from less than 2% of us. The top 100 contributors in 2014 gave as much as the bottom 4.75 million. Less than .04% gave the maximum contribution in even one cycle.
              </p>
              <p>
                "Fundamental reform&rdquo; means changing that system. We support reforms from both Democrats and Republicans that would change the way campaigns raise their money &ndash; so that their money comes from all of us, and not the privileged few.
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                What&rsquo;ve you done before?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                Mayday launched in 2014 with the successful completion of two kick-started, crowdfunding rounds. The first began on May 1 and met its $1M goal in just 13 days. The second met its $5M goal on Independence Day. In total, Mayday raised $11 million from over 68,000 individual contributions across all 50 states.
              </p>
              <p>
                We then piloted an intervention in the 2014 midterm elections with eight races. Our aims were  (1) To send a signal to members of Congress that opposing reform could have real electoral consequences and supporting reform could have electoral benefits, (2) To demonstrate that the issue of money in politics moves voters, and C) To learn lessons about campaigning on our issue this cycle to set ourselves. We lost most of those races, but we learned invaluable lessons about what works when campaigning on our issue. <a href="https://v1.mayday.us/campaigns/20141107-reporting-back/">You can read our full post-election report here.</a>
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                What&rsquo;s a super PAC?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                A super PAC is an independent expenditure-only committee. Unlike traditional PACs, super PACs are allowed to raise unlimited amounts of money from individuals, corporations, or unions. They may advocate for the election or defeat of a clearly identified candidate. However, they may not donate funds to a candidate, campaign, or political party. They are also prohibited from coordinating directly with a candidate or candidate&rsquo;s committee.
              </p>
              <p>
                Like all other super PACs, Mayday&rsquo;s plan is to raise and spend money to influence political outcomes. Unlike all other super PACs, Mayday is kick-started, crowd-funded, and committed to doing whatever it takes to fix our broken democracy.
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                Is Mayday subject to regulation?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                Yes. We are prohibited from coordination with any candidate or candidate&rsquo;s committee. This means that we&rsquo;re not allowed to recruit our own candidates or strategize with the candidates we support.
              </p>
              <p>
                As an independent expenditure-only committee, we are required to report all donors who contribute more than $200. These reports must be filed with the FEC.
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                Where can I find out about Mayday&rsquo;s donors?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                <a href="https://v1.mayday.us/your-donations/">Our donor data is available here.</a> We list all of our <a href="https://v1.mayday.us/your-donations-top-donors/">Top Donors</a> by name. For donors whose contributions total less than $10,000, the data is aggregated and anonymized.
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                Campaigns for the United States Congress are privately funded. Why is this a problem?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                Eighty-five percent of the funding for Congressional campaigns comes from a tiny fraction of the population: no more than .05% of Americans gives even the maximum amount to one candidate for Congress. The number giving $10,000 or more is less than .01%.
              </p>
              <p>
                This concentration gives the funders of political campaigns enormous power, either directly (through contributions) or indirectly (through lobbying and super PACs). As Members of Congress become dependent upon these funders &mdash; spending anywhere between 30% and 70% of their time raising money &mdash; the influence of these funders grows. A trivial number of large contributors can and do block progress on many issues which directly impact the vast majority of Americans. As a recent study from Princeton concludes, &ldquo;economic elites and organized groups representing business interests have substantial independent impacts on U.S. governmental policy, while average citizens and mass-based interest groups have little or no independent influence.&rdquo;
              </p>
              <p>
                This dynamic is not partisan. It blocks reforms on the Left and Right. It blocks substantial legislative initiatives &mdash; such as climate change legislation, or meaningful healthcare reform. It also blocks efforts to simplify taxes or shrink the size of government: All things being equal, complicated taxes and a more extensive government increase the ability of Members of Congress to raise money. As Robert Kaiser details in his book, So Damn Much Money (2010), that fact interferes with the legislative agenda of the Right as much as of the Left.
              </p>
              <p>
                The founders and supporters of Mayday PAC believe that this dynamic has destroyed the capacity of the United States government to govern. We believe it is critical to find a way to change the way elections are funded &mdash; to free legislators to do the jobs they were elected to do, and to give Americans the voice that it is our right to have in our  democracy.
              </p>
            </span>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">Q</h2>
            </span>
            <span class="faq-content">
              <h2>
                Is reform even possible?
              </h2>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-11 col-md-12">
            <span class="faq-qa">
              <h2 class="faq-letter">A</h2>
            </span>
            <span class="faq-content">
              <p>
                Reform is possible, but only if we believe in it and are willing to do something about it. In America, every generation has had it's moment to decide what it means to be a citizen with a voice. We've passed Constitutional amendments to expand the right to vote over obstacles of racism, sexism, and the poll tax. It took 2/3 of Congress to pass those reforms and every achievement was hard fought.
              </p>
              <p>
                Our votes are still a powerful weapon and, while a single vote may feel insignificant, we can wield that power collectively. As a mobilized army of voters, we can win this fight. 96% of Americans think big money in politics is a problem, but 90% don&rsquo;t think we can do anything about it. Let&rsquo;s close that gap.
              </p>
            </span>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_w_signup.html form_class='smaller-form no-gutter' %}
      </div>
    </div>

<!--   </div> -->

</div>
<div style="display:none">
{% include panels/all_panel_templates.html %}
<div>

