---
layout: default
title: MAYDAY.US - Get the Facts
permalink: /get-the-facts/
---
<div class="container">
  <!-- <div class="col-md-12"> -->

    <div class="row"><!-- no-gutter-phone -->
      <div class="col-md-8">
        <h1 class="mayday-headline-smaller">Get the Facts</h1>
        <p>Here are the first steps to understanding this issue: </p>
        <h2>Watch a videos</h2>
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/5tu32CCA_Ig"></iframe>
          </div>
          <p class="bottom-spacer text-center"><a href="http://Represent.US/">Support Represent.US</a></p>
        </div>

        <div class="row">
          <div class="embed-responsive embed-responsive-16by9 bottom-spacer">
            <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/3CaaWXhrEzQ" ></iframe>
          </div>
        </div>
        <h2>Read the Books</h2>
        <br/>
        <div class="row bottom-spacer">
          <div class="col-xs-4 col-sm-4">
            <a href="http://republic.lessig.org/" target="_blank"><img src="/images/book-img/republic-lost.jpeg" alt=""></a>
          </div>
         <div class="col-xs-8 col-sm-8">
            <h3 class="no-top-margin"><a href="http://republic.lessig.org/" target="_blank">Republic, Lost: How Money Corrupts Congress--and a Plan to Stop It</a></h3>
            <p><em>by Lawrence Lessig</em></p>
            <p>Trust in our government has reached an all-time low. More than ever before, Americans believe that money buys results in Congress, and that business interests wield control over our legislature. Explore the issues in terms that nonwonks can understand, using real-world analogies and real human stories. Read the plan widespread mobilization and a new Constitutional Convention, presenting achievable solutions for regaining control of our corrupted-but redeemable-representational system.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <a href="http://www.amazon.com/Corruption-America-Benjamin-Franklins-Citizens/dp/0674050401"><img src="/images/book-img/Corruption-in-America.jpeg" alt=""></a>
          </div>
          <div class="col-xs-8 col-sm-8">
            <h3 class="no-top-margin"><a href="http://www.amazon.com/Corruption-America-Benjamin-Franklins-Citizens/dp/0674050401">Corruption in America: From Benjamin Franklin's Snuff Box to Citizens United</a></h3>
            <p><em>by Zephyr Teachout</em></p>
            <p> For two centuries the found framers' ideas about broad understanding of political corruption flourished in the courts, even in the absence of clear rules governing voters, civil officers, and elected officials. In the 1970s the U.S. Supreme Court began to narrow the definition of corruption, and the meaning has since changed dramatically. In 2010, one of the most consequential Court decisions in American political history gave wealthy corporations the right to spend unlimited money to influence elections. The majority opinion treated corruption as nothing more than explicit bribery, a narrow conception later echoed in deciding McCutcheon v. FEC in 2014. Unlimited spending has transformed American politics for the worse, warns Zephyr Teachout. Citizens United and McCutcheon were not just bad law, but bad history. If the American experiment in self-government is to have a future, then we must revive the traditional meaning of corruption and embrace an old ideal.</p>
          </div>
        </div>
        <div class="row bottom-spacer">
          <h3><strong>Have a question? <a href="http://reddit.com/r/MAYDAYPAC">Join the discussion on our subreddit</a>.</strong></h3>
        </div>
      </div>

      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_w_signup.html form_class='smaller-form no-gutter' %}
      </div>
    </div>

</div>
<div style="display:none">
{% include panels/all_panel_templates.html %}
<div>