---
layout: default
title: MAYDAY.US - Get the Facts
permalink: /get-the-facts/
---
<div class="container">
  <!-- <div class="col-md-12"> -->

    <div class="row"><!-- no-gutter-phone -->
      <div class="col-md-8">
        <h1 class="mayday-headline-smaller">Get the Facts</h1>
        <p>Here are the first steps to understanding this issue: </p>
        <p>Watch a videos: </p>
        <div class="embed-responsive embed-responsive-16by9 bottom-spacer">
          <a class='offsetAnchor' name="video1"></a>
          <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/5tu32CCA_Ig"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9 bottom-spacer">
          <a class='offsetAnchor' name="video1"></a>
          <iframe class="embed-responsive-item" allowfullscreen src="https://www.youtube.com/embed/3CaaWXhrEzQ" ></iframe>
        </div>
        <p>Read the Books: </p>
        <div class="row bottom-spacer">
          <div class="col-xs-12 col-sm-4">
            <img src="/images/book-img/republic-lost.jpeg" alt="">
          </div>
         <div class="col-xs-12 col-sm-8">
            <h2><a href="http://www.amazon.com/dp/0446576433/?tag=googhydr-20&hvadid=28643194767&hvpos=1t1&hvexid=&hvnetw=g&hvrand=1871801696357554930&hvpone=17.29&hvptwo=&hvqmt=b&hvdev=c&ref=pd_sl_6eqbxdqa71_b">Corruption in America: From Benjamin Franklin's Snuff Box to Citizens United</a></h2>
            <p>by Lawrence Lessig</p>
          </div>
        </div>
        <div class="row bottom-spacer">
          <div class="col-xs-12 col-sm-4">
            <img src="/images/book-img/Corruption-in-America.jpeg" alt="">
          </div>
          <div class="col-xs-12 col-sm-8">
            <h2><a href="http://www.amazon.com/Corruption-America-Benjamin-Franklins-Citizens/dp/0674050401">Corruption in America: From Benjamin Franklin's Snuff Box to Citizens United</a></h2>
            <p>by Zephyr Teachout</p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_w_signup.html form_class='smaller-form no-gutter' %}
      </div>
    </div>

<!--   </div> -->

</div>
<div style="display:none">
{% include panels/all_panel_templates.html %}
<div>

