---
layout: default
title: MAYDAY.US - A national grassroots campaign to fight corruption and elect reformers.
hideFromNav: true
hideHeaderSignUp: true
bodyClass: index-page
---
{% capture content %}
<div id="index">
  {% include jumbotrons/generic-jumbo.html %}
  <div class="container">
    <div class="row gutter-justphone homepage-panel homepage-ribbon">

      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-text">
          <p class="margin-y-0"><a href="/">MAYDAY.US</a> is a cross-partisan campaign to fight big money corruption in politics by electing reformers. <a href="/take-action/">Let's win our democracy back!</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-state">
          <p class="margin-y-0">We're going to the grassroots, organizing local teams to help elect champions of democracy. <a href="http://volunteer.mayday.us/projects">Find a team near you</a>!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-call">
          <div class="row call-box">
          </div>
          <p class="margin-y-0">One person at a time, we're building a national grassroots campaign to save our democracy from big money corruption. <a href="/take-action/">Join us</a>!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-panel dark ten-star">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <div class="container homepage-panel-body">
      <div class="row">
        <div class="col-md-10 col-xs-12">
          <h2>We are MAYDAY.US</h2>
            <p>Our democracy has been hijacked by a handful super wealthy corporations and families. The framers of our constitution envisioned a democracy that was representative of <strong>all of us</strong>.</p>
            <p>It now costs millions of dollars to get and stay elected. That means <strong>our</strong> representatives are indebted to large donors to fund their elections.</p>
            <p><strong>Luckily, we have a solution</strong>. Simple legislation that maximizes small donor contributions by matching them 6:1. This has been proven to nullify the corruption of big money on our political system.</p>
            <p>In order to make this happen, we need to elect a critical mass of state and local champions. By growing support for fundamental reform from the ground up, we’ll force Congress to act - <strong>or get out of the way!</strong></p>
            <p>Help us in our fight to elect reformers at all levels of democracy – so that we might take our democracy back! We’re organizing a national grassroots campaign with local chapters in 18 states already. We’ll give you the tools to make an impact – sign up below!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-panel light capitol-building">
    <div class="container">
      <div class="row">
        <div class="col-md-8 center-block panel-wrapper">
          {% include panels/panel_action_w_signup.html hide_next=true %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}


{% include sub_layouts/default_layout.html %}
