---
layout: default
title: MAYDAY.US - A national grassroots campaign to fight corruption and elect reformers.
hideFromNav: true
hideHeaderSignUp: true
permalink: /index_pluscarl/
---
<style>
.carl-panel {  
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url('mayday-2.0-frontend/images/carl/Website_Frontpage_Washout.jpg') no-repeat center #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    opacity: 100%;
}

.carl-panel h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
</style>

{% capture content %}
<div id="index">

	{% comment %} SECTION 1.0 - Front Page Blue Jumbotron {% endcomment %}
  {% include jumbotrons/front-page.html %}
{% comment %} SECTION 1.5 - Front Page Carl Jumbotron {% endcomment %}
	
	<!---{% include jumbotrons/carl-banner3.html %}--->
	
 <!-- <div class="homepage-panel front-donate grey">
  <div class="container">
  
    <div class="row margin-top-md margin-bottom-md">
      
      <div class="col-md-4">
        <img src="/images/carl/CC-Sticker4.png" class="img-responsive img-bottom" alt="Responsive image">
      </div>
      <div class="col-md-8 center-block text-center">
      
        <h1 class="text-yellow margin-bottom-xs">Join our newest campaign against systemic corruption:</h1>
        <h2 class="text-yellow margin-bottom-xs">Corruption Carl</h2> 
          <div class="row margin-top-sm margin-bottom-xs">
            <div class="col-md-10 center-block">
              <div class="col-sm-4 center-block"><a class="button btn btn-mayday margin-bottom-sm" href="https://secure.actblue.com/contribute/page/monthly_members?amount=27&recurring=true"> Meet Carl!</a></div>
            </div>
          </div>
      </div>
    
    </div>
    
  </div>
</div> -->

	{% comment %} SECTION 2 - Video + Social Media + Plan Link {% endcomment %}

<div class="carl-panel">
	<div class="row">
		<center><img src="mayday-2.0-frontend/images/carl/Cleanup_Carl_Logo_Yellow_with_anti-corruptor.png"></center>
	</div>
	<div class="row">  
		<h1><center>Fighting toxic corruption. Cleaning up political inequality</center></h1>
	<div>
</div>
	
  <div class="homepage-panel">
  	<div class="container">
      <div class="row">
      <h2 class="text-center text-blue-dark">We have a plan to get democracy back on track</h2>
      	<div class="col-md-2"></div>
      	<div class="col-md-8">
        	<div class="videoWrapper">
        		<iframe src="https://www.youtube.com/embed/a6x_TDog85k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        	</div>
            <div class="page-panel grey" style="padding:20px;">
            <h4>Ending Big Money Politics</h4>
            <p>MAYDAY America is <a href="/donate">crowdsourcing the money it needs</a> to elect candidates in cities and states around the country committed to fundamental reform in 2017.</p>
            <p><a href="/the-plan">This is our first essential step.</a></p>
            </div>
            <div class="row" style="margin:20px 0;">
                <div class="col-md-6 col-sm-6">
                  <a href="http://www.facebook.com/sharer.php?u=https://mayday.us/" target="_blank" class="btn btn-mayday btn-share-center facebook">
                    <span class="text"><i class="fa fa-facebook"></i></span>
                  </a>
                </div>
                <div class="col-md-6 col-sm-6">
                  <a href="https://twitter.com/home?status=Ready%20to%20fight%20corruption%20with%20me%3F%20Donate%20today%20for%20political%20equality%3A%20https%3A%2F%2Fmayday.us%2F" target="_blank" class="btn btn-mayday btn-md-wide btn-share-center twitter">
                    <span class="text"><i class="fa fa-twitter"></i></span>
                  </a>
                </div>
          	</div>
            <div class="row" style="margin:20px 0;">
            	<a class="btn btn-mayday" href="/the-plan">See Our Plan</a>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
  	</div>
  </div>

  {% comment %} SECTION 3 - Fundraise Secion {% endcomment %}

    <div class="homepage-panel front-donate grey">
    <div class="container">
      <div class="row">

        <div class="col-md-2"></div>
            <div class="col-md-8">

                

                

                
            </div>
        <div class="col-md-2"></div>


       </div>
  	</div>
  </div>


  {% comment %} SECTION 3.5 - Front Page Donate Form {% endcomment %}
  
  {% include pre-donate.html %}
  
  {% comment %} SECTION 4 - Our Blog {% endcomment %}

  <div id="blog-snippets" class="homepage-panel">
    <div class="container">
      <div class="row">
      	<h2 class="as-if-h3 text-center margin-bottom-md">Latest from our blog</h2>
        <div class="row">
          <ul class="blog-listings" id="blog-listings">
          </ul>
        </div>
        <p class="byline small text-center as-if-h6 margin-top-sm margin-bottom-xs"><a href="http://blog.mayday.us/" title="" class="text-grey-medium">More from our Blog</a></p>
      </div>
  	</div>
  </div>
	
<!-- Test Live FB feeds -->
	
<div class="container">
 <h2 class="as-if-h3 text-center margin-bottom-md">Follow our social media:</h2>
<div class="row">
 <div class="col-md-6">
	 <h2>Twitter</h2>
  <a class="twitter-timeline" data-width="600" data-height="490" data-theme="light" href="https://twitter.com/MAYDAYUS">Tweets by MAYDAYUS</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
 <div class="col-md-6">
	 <h2>Facebook</h2>
	<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMAYDAYUS%2F&tabs=timeline&width=600&height=490&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="600" height="490" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	</div>
 </div>
</div>
	
  {% comment %} SECTION 5 - In The News + Social Media Again {% endcomment %}

  <div class="homepage-panel grey with-supporters">
    <div class="container">
      <div class="row">
        <div class="col-md-6 in-the-news">
          <h2 class="as-if-h4 text-center text-grey-medium">In the news <i class="fa fa-caret-right"></i></h2>
          <div class="row">
            <div class="col-md-12">
              <img class="center-block margin-bottom-xs" alt="Matt Miller, Washington Post Opinions" src="/images/news-logos/logo-washington-post-164x25.png">
              <p class="byline small">&ldquo;It&rsquo;s an ingenious plan to make the drive for small-dollar publicly funded elections a central issue in 2016. With a little luck... idea could help save the republic.&rdquo;</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <img class="center-block" alt="Ben Wikler, Tech President" src="/images/news-logos/logo-tech-republic-150x34.png">
              <p class="byline small">&ldquo;The first part was hard. That second part is even harder. But now that MAYDAY has done the impossible once, it's worth staying tuned to see if they can do it again.&rdquo;</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <img class="center-block margin-bottom-xs" alt="Ralph Benko, Forbes Opinion" src="/images/news-logos/logo-forbes-73x19.png">
              <p class="byline small">&ldquo;The mortal struggle at hand today is not between the right and the left. It is not between Republicans and Democrats. It is not between the Congress and the president. It is between us (currently outsiders to our own government) voters and the Washington Insiders.&rdquo;</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center social-share-bg">
          <div class="btn-group">
            <a class="btn btn-social btn-youtube" href="https://www.youtube.com/channel/UCtb-WU36hLkBLNGRg9bPCGQ"><i class="fa fa-youtube fa-2x"></i> <span class="sr-only">Youtube</span></a>
            <a class="btn btn-social btn-facebook" href="https://www.facebook.com/MAYDAYdotUS"><i class="fa fa-facebook fa-2x"></i> <span class="sr-only">Facebook</span></a>
            <a class="btn btn-social btn-twitter" href="https://twitter.com/maydayus"><i class="fa fa-twitter fa-2x"></i> <span class="sr-only">Twitter</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endcapture %}

{% capture page_specific_javascript %}
<script>
  $(document).ready(function(){
    /*var signUpComplete = function(){
      window.location = '/donate/';
    };
    md.signUps.inititalizeBasic('.js-signup', signUpComplete);
    md.signUps.inititalizeDonateStart('.js-donate'); */
    md.newsFeeds.renderHomepageBlogFeed('#blog-listings');
  });
</script>

{% endcapture %}
	
{% capture page_specific_javascript_facebook %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	

{% endcapture %}
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}

{% include sub_layouts/default_layout.html %}
