---
layout: default
title: Demo Scorecard
permalink: /legislator/
---
{% capture legislator_template %}
{% raw %}
<script id="talley_template" type="text/html">
<div class="col-md-{{ column_width }}">
  <div class="talley">
    <i class="fa fa-check-square-o"></i>
    {{name}}
  </div>
</div>
</script>
<script id="legislator_template" type="text/html">
<div class="dossier-page with-us-{{ with_us }}">
  <div class="top-line-left"></div>
  <div class="bottom-taper hidden-xs">
    <div class="triangle-up leg"></div>
  </div>
  <div class="homepage-panel dossier-star">
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <img class="bg-star" src={{ background_img }}>
    <div class="container page-open">
      <div class="row">
        <div class="col-md-8 col-xs-12 center-block">
          <div class="col-md-4">
            <div class="dossier-img">
              <div class=""  alt="{{ name }} Headshot" style="background-image:url(https://theunitedstates.io/images/congress/225x275/{{ bioguide_id }}.jpg)"></div>
            </div>
            <caption>{{party}}-{{state_abbrev}} {{display_district}}</caption>
          </div>
          <div class="col-md-8">
            <h1 class="lead-title">{{page_title}}</h1>
            <blockquote class="leader-hidden">
              <p>"{{ name }}, please sponsor legislation in Congress for public financing of elections so that elected officials can represent us, The People--not a well-connected few."</p>
            </blockquote>
            <div class="leader-visible">
              <div class="tallies no-gutter" id="js-tallies">
              {{ tallies_rendered }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</script>
{% endraw %}
{% endcapture %}

{% capture footer_scripts %}{{footer_scripts}}{{legislator_template}}{% endcapture %}


{% capture content %}
<div id="js-legislator"><i class="fa fa-refresh fa-spin fa-5"></i></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      {% include panels/panel_action_w_signup_phone.html hide_next=true alt_title="Reclaim your Voice" %}
    </div>
  </div>
</div>

<p class="text-center"><a href="/legislators" title="">View all Leaders for Fundamental Reform</a></p>
{% endcapture %}

{% include sub_layouts/default_layout.html %}






