---
layout: default
title: Legislator -- MAYDAY PAC
permalink: /legislator/
---
{% capture custom_css %}
<style type="text/css">
  /*.dayofaction .thanks-message{display:none;}*/
  .jumbotron{background: #444 url('/images/campaigns/20150902_ceo_bg_no_photos.jpg') center 0px no-repeat;min-height: 210px;text-align:center;color:#fff;}
  .jumbotron h1.text-hide{background: transparent url('/images/campaigns/20150727_ceo_headline_v4_776x69.png') right 0 no-repeat;background-size:contain;height: 63px;display: block;margin-top:40px;margin-bottom:0;}
  .jumbotron h3{color:#fff;text-align:left;font-weight:400;margin-top:0}
  /*.control-label h3{font-weight:400;}*/
  /*.page-content{padding-bottom: 0}*/
  /*.donate-flavor-text > p, .donate-flavor-text > p:first-of-type{font-weight:400}*/
  /*blockquote{font-weight:300;}*/
  /*blockquote .quote-author{text-align:right;font-style: italic;}*/
  .desaturate{
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
  }
  .brighter{
    -webkit-filter: brightness(1.2);
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
  }
  .talley-wrap{
    background:#eee;
    border-radius:5px;
    padding:4px 10px 0;
  }
</style>
{% endcapture %}

{% capture hidden_fields %}
  <input type="hidden" name="person[remote_fields][tags][]" value="20150827_legislator_signup">
{% endcapture %}
{% capture content %}
<div id="js-legislator"><i class="fa fa-refresh fa-spin fa-5 spacer-y-margin-lg"></i></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      {% include panels/panel_action_w_signup_phone.html hide_next=true alt_title="Reclaim your Voice" hidden_fields=hidden_fields %}
    </div>
  </div>
</div>

<p class="text-center"><a href="/legislators" title="">View all Leaders for Fundamental Reform</a></p>
{% endcapture %}

{% include sub_layouts/default_layout.html %}