---
layout: default
title: Endorsements
permalink: /endorsements/
bodyClass: endorsements
---
{% capture content %}
{% include jumbotrons/general-dark.html title="Endorsements" subtitle="Mapping Our Strategy" %}

<div class="light">
  <div class="container text-center">
    <a href="http://act.mayday.us/take_action" class="margin-bottom btn" style="display:block;margin-top:-30px; padding:0;">
    	<img src="/images/20161025_endorsements.jpg">
    </a>
    <p><a href="http://act.mayday.us/take_action" class="btn btn-mayday">Join us and elect candidates dedicated to fundamental election reform.</a></p>
  </div>
</div>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}


{% include sub_layouts/default_layout.html %}
