---
layout: default
title: MAYDAY.US - News
permalink: /news/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="News" %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2 class="as-if-h4"><a href="{{site.blog_root_url}}" target="_blank">Mayday Blog <small>More</small></a></h2>
        </div>
        <div class="panel-body">
          <ul id="tumblr-posts" class="list-unstyled">
              <li>
              <!-- <time datetime="{{date}}" class="as-if-h6 text-blue-highlight">{{date}}</time> -->
              <p><a href="/in-the-news/#{{site.blog_root_url | slugify}}">{{ article.title | truncatewords: 20}}</a></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2 class="as-if-h4"><a href="{{site.blog_root_url}}/tagged/press-release">Press Releases <small>More</small></a></h2>
        </div>
        <div class="panel-body">
          <ul id="tumblr-press-releases" class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2 class="as-if-h4"><a href="/in-the-news/">Mayday in the News</a> <small>More</small></h2>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
          {% for article in site.data.press_articles limit:5 %}
            <li>
              <!-- <time datetime="{{date}}" class="as-if-h6 text-blue-highlight">{{date}}</time> -->
              <p><a href="/in-the-news/#{{article.link | slugify}}">{{ article.title | truncatewords: 20}}</a></p>
            </li>
          {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container margin-bottom-xl">
  <div class="col-md-8 center-block panel-wrapper">
    {% include panels/panel_action_w_signup.html hide_next=true %}
  </div>
</div>
{% endcapture %}

{% capture page_specific_javascript %}
<script>
$(document).ready(function(){
  md.newsFeeds.renderBlogFeed();
  md.newsFeeds.renderPressReleasesFeed();
});
</script>
{% endcapture %}

{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}


{% include sub_layouts/default_layout.html %}


