---
layout: default
title: MAYDAY.US - Privacy Policy
permalink: /privacy-policy/
---


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mayday-headline-smaller">Privacy Policy</h1>

      <p>The Mayday PAC values your privacy. You join our movement for a specific purpose. We will not use your personal information in a way that is inconsistent with that purpose.</p>
      <p>What follows is our Privacy Policy. If you have any questions, or concerns, please contact us at info@mayday.us:</p>
      <ul>
        <li>For anyone making a contribution or a pledge to contribute to the Mayday PAC, we must collect the personal information necessary for Federal Election Commission reporting. This includes name, address, email, occupation, employer, and party preference.</li>
        <li>We make certain disclosures of your information to support our goal of transparency in political contributions. We will publicly disclose the names and zip codes of donors that contribute an aggregate amount above $10,000. We will release deidentified information about all donors.</li>
        <li>We also collect user information, consisting of names, email addresses, zipcodes, and, potentially, cellphone numbers and social media identifiers. We will never sell, rent, share or distribute that information to anyone, except as described above, with express permission from you, or as described in the next paragraph.</li>
        <li>We sometimes partner with other political action organizations. If you provide user information to us after being referred to us by such a partner, we may share that information with the referring site. We will never partner with any organization that is less protective of the privacy of their users than we are.</li>
        <li>We collect and store user information for login purposes and in order to stay in touch with you.</li>
        <li>Except to the extent required by the F.E.C., you can remove yourself and your user information from our systems whenever you want. Email us at info@mayday.us to request removal.</li>
        <li>We use third parties to understand how people use the site, for social media purposes, and to process payments and our mailing list. These parties are contractually prevented from using the data for any other purpose. The website does not respond to Do Not Track signals.</li>
        <li>We use analytics information to improve the site, and we will sometimes share usage information with reporters, funders and others. But we only share that information at an aggregate level; we never share information about individual users.</li>
        <li>Children under the age of 13 are not permitted on this website.</li>
        <li>If we change the policy, we will inform users by posting a notice to Mayone.us.</li>
      </ul>
      <p>Policy effective date: August 1, 2014</p>
    </div>
    <div class="col-md-4 panel-wrapper">
      {% include panels/panel_action.html %}
    </div>
  </div>
</div>

{% include panels/panel_action_modal.html %}
