---
layout: default
title: Raffle
permalink: /raffle/
---
{% capture content %}
<div class="donate-page container">
  <div class="col-md-6 col-lg-6 donate-flavor-text">
    <h1>Raffle Tickets</h1>
    <p>MAYDAY.US is leading a modern day civil rights movement to bring true political equality back to our Republic. You may not be able to afford your own personal lobbyist, but you can band together with members of this community and support leaders who are on the right side of history.</p>

    <p>Our innovative technologies and organizational strategies are inspiring a new generation of activism. To continue this work, we need your support. Every time you give, it’s a vote against political corruption, against legalized bribery, against crony capitalism. So, please, give what you can. Give with hope for our future, so that we can take back our democracy.</p>
        <p><strong>Prefer to donate by check?</strong></p>
    <p>Mayday PAC<br />
P.O. Box 75357<br />
Washington, DC 20013</p>
  </div>
  <div class="col-sm-8 col-md-6 col-lg-5">
    <div class="box-inner donate-page-box">
      <h2 class="box-title">Donate In Two Minutes or Less</h2>
      {% include form_donate_raffle.html facebook_tracking_id='6033848617290' %}
    </div>
  </div>
</div><!-- END .donate-page.container -->

<div id="rules" class="contribution-rules container-fluid">
  <div class="container">
    <div class="col-md-10">
    {% include donate_rules.html %}
    <p>No contribution, purchase, or payment is necessary to enter or win, and making a contribution will not improve your chances of winning. VOID WHERE PROHIBITED OR RESTRICTED BY LAW. Entries must be received between 12:00 AM ET on Thursday, December 31, 2015 and 11:59 PM ET on Thursday, March 31, 2016. Enter by making a contribution to MAYDAY PAC by purchasing a raffle ticket or enter without contributing by posting a picture of yourself with the MAYDAY.US M shield logo to Twitter or Facebook, mentioning @MAYDAYUS or tagging our Facebook page, during the promotion period.</p>

<p>The first-place winner will choose first from among the 3 prizes. The second-place winner will choose from the remaining 2 prizes. The third-place winner will receive the remaining prize. The three prizes are as follows: (a) an iPad mini and a MAYDAY M shield t-shirt; (b) a signed copy of Lawrence Lessig’s book, Republic, Lost; (c) a signed copy of Zephyr Teachout’s book, Corruption in America: From Benjamin Franklin’s Snuff Box to Citizens United. Approximate total retail value of the prizes is $500. Odds of winning depend on number of entries received. This promotion is open to U.S. citizens or lawful permanent U.S. residents who are 18 or older. All prizes will be awarded. Promotion subject to Official Rules and eligibility restrictions. Sponsor: MAYDAY PAC, P.O. Box 75357, Washington, DC 20013.</p>
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}
