---
layout: default
title: Reforms
permalink: /reforms/
meta_content: |
  <meta property="og:title" content="Reforms"/>
  <title>Reforms</title>
  <meta name="robots" content="noindex"><!--  remove this meta content when you take pages live -->
---

{% capture content %}

<style type="text/css">

.reform .caption {
  padding-top: 0;
  position:relative;
}

.reform a {
  display: block;
}

  .reform a:hover {
    background: #F8FFFF;
    text-decoration: none;
  }

  .link {
    color: #007acf;
    margin-top:10px;
    margin-bottom:10px;
  }

  .reform a:hover h2 {
    text-decoration: underline;
    margin-bottom:10px;
  }

.reform h2 {
  margin-top: 0;
  margin-bottom:10px;
  padding: 18px 0 0;
}

.reform .media {
  margin: 9px 0 7px;
}

  .reform .media-left {
    width: 20%;
  }

  .reform .media-body {
    width: 80%;
  }

    .reform .media-body span.label {
      border-radius: 15px;
      padding: 4px 2px;
      width: 22px;
      display: inline-block;
      text-align: center;
    }
    .reform .media-heading{
      margin-bottom: 0;
    }

.reform .progress {
  margin-bottom: 0;
}

@media (min-width:768px){
  .reform .caption {
    height:445px;
  }
  .reform .read-more{
    position: absolute;
    bottom:0;
    width:100%;
  }
}

@media (max-width: 767px){
  .read-more p{
    padding-bottom: 0;
  }
}
</style>
<div class="container">

  <div class="row page-panel">
    <div class="col-md-12 col-lg-7">
      <h2>Reforms &amp; Proposals</h2>
      <p>Here are five legislative proposals that, if they became law, would be considered fundamental reform by Mayday. You can help one of these proposals or bills to become law by sharing them with your local congressperson and promoting your favorite on social media. Let's go!</p>
    </div>
  </div>
</div>
  <!-- grey group -->
<div class="homepage-panel grey" id="reforms">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center-block">
        <div class="row">
        {% for reform in site.data.reforms %}
          <div class="col-lg-4 col-md-4 col-sm-6 reform">
            <a href="{{ reform.slug | data_page_url: 'reforms' }}" class="thumbnail">
              <div class="caption">
                <h2>{{reform.billTitle}}</h2>
                <!-- <div class="progress spacer-y-margin">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%"></div>
                </div> -->

                <hr>

                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-circle" src="https://pbs.twimg.com/profile_images/459430758218620928/uoAtQO3B_400x400.jpeg" alt="{{reform.sponsor.title}} {{reform.sponsor.firstName}} {{reform.sponsor.lastName}}" />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{reform.sponsor.firstName}} {{reform.sponsor.lastName}}</h4>
                    <span class="label label-primary">{{reform.sponsor.party}}</span> Sponsor
                  </div>
                </div>

                <hr>

                <p>{{reform.descriptionShort  | truncatewords: 40 }}</p>
                <div class="read-more">
                  <hr>
                  <p class="link text-center">Read more &raquo;</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endcapture %}
{% include sub_layouts/default_layout.html %}
