---
layout: default
title: Stop DWS
permalink: /splash-shultz/
---
{% assign splash = TRUE %}
{% capture content %}

{% include jumbotrons/splash-candidate-jumbotron.html title="HELP DEFEAT DEBBIE WASSERMAN SCHULTZ" %}

<div class="join-page container">

  <div class="row">
    <div class="col-md-8 center-block donate-flavor-text" style="padding:40px 20px;">

<h2 class="text-blue-dark">We can’t fix corruption unless we fix corruption at the top of the Democratic Party</h2>

<p class="text-blue-dark">Send a powerful signal to the Democratic Party that decent Americans will not stand by while party leaders silence our fellow citizens and enable the corruption of our political process. As long as corruption remains rooted in our major political parties, our democracy will likewise be corrupted.</p>

<p class="text-blue-dark">Gone are the days of being a “reformer” by merely sponsoring reform legislation. We’re looking for representatives who will lead the fight for reform day in and day out, just like Representative Sarbanes does now and <a href="http://mayday.us/">MAYDAY.US</a> endorsed candidate Jamie Raskin will once he’s in Congress.</p>

<p class="text-blue-dark">Debbie Wasserman Schultz’s leadership position with the DNC gave her a larger platform to fight for these reforms. Instead DWS took a different path, helping the rich and powerful gain more access and influence while making it harder for the rest of us to even be heard. She opened the door to big money interest by repealing the seven year ban on donations from lobbyists and PACs to the Democratic Party. In Congress, she voted against letting the Securities and Exchange Commission (SEC) require that corporations disclose their campaign spending to their shareholders and against a measure that would have allowed the Internal Revenue Service (IRS) to stop big money special interests from forming phony “nonprofits” through which they conceal their political contributions and spending. This is not the kind of leadership our country needs: not in Congress and not in the head of one of our two major parties.</p>

<h4 class="text-blue-dark">TOGETHER WE CAN SEND A CLEAR MESSAGE TO THE ESTABLISHMENT THAT IF YOU TRY TO TALK THE TALK, YOU BETTER WALK THE WALK.</h4>

    </div>

  </div>
</div>

{% include pre-donate.html %}

<div id="rules" class="container-fluid page-panel box-grey-light" style="padding:40px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
      {% include donate_rules.html %}
      </div>
    </div>
  </div>
</div>

{% endcapture %}

{% include sub_layouts/splash-candidate.html %}
