---
layout: default
title: Take Action
permalink: /take-action/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="" %}

<script type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous'></script>
 <div class="ngp-form"
     data-form-url="https://actions.everyaction.com/v1/Forms/OqSYVGBzakq5ngnA7rhDDg2"
     data-fastaction-endpoint="https://fastaction.ngpvan.com"
     data-inline-errors="true"
     data-fastaction-nologin="true"
     data-databag="everybody">
</div>

{% endcapture %}

{% include sub_layouts/default_layout.html %}
