---
layout: default
title: Take Action
permalink: /take-action/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="" %}

<script type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous'></script>
 <div class="ngp-form"
     data-form-url="https://actions.everyaction.com/v1/Forms/OqSYVGBzakq5ngnA7rhDDg2"
     data-fastaction-endpoint="https://fastaction.ngpvan.com"
     data-inline-errors="true"
     data-fastaction-nologin="true"
     data-databag="everybody">
</div>

<!--
<div class="container">
  <div class="row">
  <div class="col-md-10 center-block col-sm-12">
  <ul class="action-tree list-unstyled">
    <li class="action-wrap incomplete active js-sign-up">
      {% include take_action_section_header.html iconClass="sign-up" title="Sign Up for Updates" increment="1" %}
      {% include panels/panel_action_w_signup.html hide_volunteer=true %}
    </li>
    <li class="action-wrap incomplete js-record-message">
      {% include take_action_section_header.html iconClass="call-congress" title="Record a Message for Congress" increment="2" %}
      {% include panels/panel_action_w_record_message.html show_instructions="true" %}
    </li> --->
    <!-- <li class="action-wrap incomplete js-get-educated">
      {% include take_action_section_header.html iconClass="get-educated" title="Get Educated" increment="2" %}
      {% include panels/panel_action_w_get_educated.html %}
    </li> -->
<!--- <li class="action-wrap incomplete js-invite-your-friends">
      {% include take_action_section_header.html iconClass="spread-the-word" title="Invite Your Friends" increment="3" %}
      {% include panels/panel_action_w_spread_the_word.html %}
    </li> 
    <li class="action-wrap incomplete js-join-the-discussion">
      {% include take_action_section_header.html iconClass="join-discussion" title="Join the Discussion" increment="4" %}
      {% include panels/panel_action_w_join_discussion.html %}
    </li>
    <li class="action-wrap incomplete js-local-action">
      {% include take_action_section_header.html iconClass="volunteer" title="Take Local Action" increment="5" %}
      {% include panels/panel_action_w_local_action.html %}
    </li>
  </ul>
  </div>
</div> --->

{% endcapture %}

{% capture page_specific_javascript %}
<!---<script>
  $(document).ready(function(){
    md.takeAction.initialize();
  });
</script> -->
{% endcapture %}
<!---{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}--->

{% include sub_layouts/default_layout.html %}
