---
layout: default
title: MAYDAY.US - Team &amp; Board
permalink: /team-and-board/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="Our Team &amp; Board of Directors" %}
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>Team MAYDAY.US</h2>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/cyrus.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Cyrus Patten</h3>
            <h4>CEO</h4>
            <p>
              Cyrus joined MAYDAY.US this year after 12 years in leadership positions at various nonprofits. Most recently, he was the Executive Director of a nonpartisan advocacy organization that fought for transparent and accountable government. He leads MAYDAY.US from Vermont where he lives with his wife and two children.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/mario_flores.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>
          <div class="col-sm-8 col-xs-12">
            <h3 >Mario Olivio Flores</h3>
            <h4>Director of Engineering and Digital</h4>
            <p>
              After watching MAYDAY.US&rsquo;s spectacular 2014 launch during a two month trip around the world, Mario eagerly joined as digital director. Mario worked for 8 years in advertising and technology before starting in politics in 2010. He has previously worked on a major presidential campaign, as well as several congressional and senatorial campaigns.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/benjamin-singer.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Benjamin D. Singer</h3>
            <h4>National Campaign Director</h4>
            <p>Singer managed the grassroots, bipartisan campaign that made Illinois the 14th state to call for a Constitutional amendment. Singer previously consulted for successful U.S. Senate campaigns. He studied PoliSci and Radio/TV/Film at Northwestern as a National Merit Scholar. His mother’s claim to fame is having met President Gerald Ford and serving elephant-shaped ice cream as President of her College Republicans. </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/lee_woodsmall.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Lee Woodsmall</h3>
            <h4>Director of Operations</h4>
            <p>
              Since graduating from Auburn University (War Eagle!), Lee has worked in many realms of the anti-corruption movement. As an intern with Represent.Us, Lee supported Trevor Potter and his team with legal and academic research for the American Anti-Corruption Act. He then joined Fund for the Republic, and later became Rootstrikers&rsquo; Campaign Manager. Prior to joining MAYDAY.US, Lee worked with Ben Cohen&rsquo;s Stamp Stampede.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/rachel_perkins.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Rachel Perkins</h3>
            <h4>Functional and Tech Advisor</h4>
            <p>Rachel never felt compelled to get involved in any sort of political campaign before now. She’s a cheesemaker, technical writer, and software industry veteran from Oakland, CA.</p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/Rebecca-picture.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Rebecca Arington</h3>
            <h4>Helpdesk Coordinator</h4>
            <p>
              Rebecca has spent the past few years volunteering her time to anti-corruption organizations. A graduate of Indiana University, she is a classically trained vocalist and holds a Bachelors degree in Music. Rebecca lives in the New York Metro area with her husband, Scott, and two ridiculously spoiled cats.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-8 col-xs-12">
            <h2>Legal Counsel</h2>
            <h4>Trevor Potter</h4>
            <h4>Matthew Sanderson</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2>Past Technical Volunteers</h2>

            <h5>Andrew Baker &ndash; <small>systems engineering</small></h5>
            <h5>Noelle Bivens &ndash; <small>software engineering</small></h5>
            <h5>Brian Boyko &ndash; <small>social media, copywriting, technology</small></h5>
            <h5>Sarah Bonk &ndash; <small>UX &amp; project management</small></h5>
            <h5>Chris Catterton &ndash; <small>software engineering</small></h5>
            <h5>Sam Clayton &ndash; <small>project management</small></h5>
            <h5>Dallas Cole &ndash; <small>legislative research</small></h5>
            <h5>Tyler Driscoll &ndash; <small>design</small></h5>
            <h5>Corey Farwell &ndash; <small>software engineering</small></h5>
            <h5>Hunter Freyer &ndash; <small>software engineering</small></h5>
            <h5>Darius Garza &ndash; <small>brand &amp; user experience design</small></h5>
            <h5>Gabriel Grant &ndash; <small>software engineering</small></h5>
            <h5>David Harrison &ndash; <small>web development</small></h5>
            <h5>Josh Koch &ndash; <small>software engineering</small></h5>
            <h5>Ali Nabavi &ndash; <small>software engineering</small></h5>
            <h5>Eric Newport &ndash; <small>software engineering</small></h5>
            <h5>J.T. Olds &ndash; <small>software engineering</small></h5>
            <h5>Allen Oliver &ndash; <small>software engineering</small></h5>
            <h5>Michael Ortlieb &ndash; <small>design</small></h5>
            <h5>Phil Palios &ndash; <small>technical consulting</small></h5>
            <h5>Jon Parker &ndash; <small>software engineering</small></h5>
            <h5>Rachel Perkins &ndash; <small>functional and tech advisor</small></h5>
            <h5>Brad Pitcher &ndash; <small>software engineering</small></h5>
            <h5>RJ Sheperd &ndash; <small>software engineering</small></h5>
            <h5>Erica Siverston &ndash; <small>general consulting</small></h5>
            <h5>Jacob Turino &ndash; <small>software engineering</small></h5>
            <h5>James Haley &ndash; <small>software engineering</small></h5>
            <h5>John Pray &ndash; <small>software engineering</small></h5>
            <h5>Jim Pugh &ndash; <small>data consulting</small></h5>
            <h5>Jeremy White &ndash; <small>software engineering</small></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2 calss="as-if-h4">Former staff of MAYDAY.US</h2>
            <h5>Lawrence Lessig &ndash; <small>ceo and board chair</small></h5>
            <h5>Zephyr Teachout &ndash; <small>ceo and board chair</small></h5>
            <h5>Szelena Gray &ndash; <small>chief operating officer</small></h5>
            <h5>Aaron Lifshin &ndash; <small>cto</small></h5>
            <h5>Lila Schreiber &ndash; <small>campaign manager</small></h5>
            <h5>Rohan Siddhanti &ndash; <small>deputy campaign manager</small></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_w_signup.html %}
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% include panels/panel_action_w_signup.html %}
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}
