---
layout: default
title: MAYDAY.US - Team &amp; Board
permalink: /team-and-board/
---
<div class="container">
  <div class="col-md-12">
    <div class="row no-gutter-phone">
      <div class="col-md-8 team_and_board_fonts">
        <h1 class="mayday-headline-smaller">Our Team &amp;<br> Board of Directors</h1>
        <h2><i>Board of Directors</i></h2>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/Lessig_headshot.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Lawrence Lessig</h3>
            <h4>Founder, Board Chairman</h4>
            <p>
              Lawrence Lessig is the Roy L. Furman Professor of Law and Leadership at Harvard Law School, director of the Edmond J. Safra Center for Ethics at Harvard University, and founder of Rootstrikers, a network of activists leading the fight against government corruption. He has authored numerous books, including Republic, Lost: How Money Corrupts Our Congress &ndash; and a Plan to Stop It, Code and Other Laws of Cyberspace, Free Culture, and Remix.
            </p>
            <p>
              Lessig serves on the Board of Creative Commons, AXA Research Fund and iCommons.org, and on the Advisory Boards of the Sunlight Foundation and the Better Future Project. He is a Member of the American Academy of Arts and Sciences and the American Philosophical Association, and has received numerous awards, including the Free Software Foundation&rsquo;s Freedom Award, Fastcase 50 Award and being named one of Scientific American&rsquo;s Top 50 Visionaries.
            </p>
            <p>
              Previously, Lessig was a professor at Stanford Law School, where he founded the school&rsquo;s Center for Internet and Society, and at the University of Chicago. He clerked for Judge Richard Posner on the 7th Circuit Court of Appeals and Justice Antonin Scalia on the United States Supreme Court. Lessig holds a BA in economics and a BS in management from the University of Pennsylvania, an MA in philosophy from Cambridge, and a JD from Yale.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/mark_mckinnon.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Mark McKinnon</h3>
            <h4>Founder, Board Treasurer</h4>
            <p>
              For three decades, Mark McKinnon has been solving complex strategic challenges for causes, companies, and candidates, including George W. Bush, John McCain, Ann Richards, and Bono. He has helped engineer five winning presidential primary and general election campaigns, and is a cofounder of No Labels, a non-profit organization dedicated to bipartisanship, civil discourse and problem solving in politics.
            </p>
            <p>
              According to Broadcasting and Cable magazine, McKinnon is one of &ldquo;a handful of players behind every big decision, consensus or roadblock in Washington…putting a unique, sometimes hidden stamp on the outcome of today&rsquo;s debates.&rdquo; Politics Daily writes: &ldquo;He&rsquo;s known for his originality in a field typified by copycats, a mellow personality in a world populated with high-strung brutes and ecumenical urges in a profession dominated by its unadulterated partisans.&rdquo;
            </p>
            <p>
              Former President George W. Bush says of McKinnon, &ldquo;I was really impressed by Mark&rsquo;s creativity, and I was particularly impressed by his honesty.&rdquo; Senator John McCain, in his typical straight-talk fashion, remarks, &ldquo;He&rsquo;s almost a genius.&rdquo; And President Barack Obama calls McKinnon &ldquo;a class act.&rdquo;
            </p>
            <p>
              President Bush appointed McKinnon to serve as a governor of the Broadcasting Board of Governors. He serves on the board of the Austin Film Society, and has taught at the JFK School of Government at Harvard University and the LBJ School of Public Affairs at the University of Texas at Austin. McKinnon currently is a consultant to the HBO television series, The Newsroom.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/kahlil_byrh.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Kahlil Byrd</h3>
            <h4>Board Member</h4>
            <p>
              Kahlil is a political entrepreneur and expert at building and managing large, disruptive, technology-based advocacy and political organizations. For the past decade, Kahlil has specialized on building long-term strategy, securing substantial investments, and achieving reform at state and national levels. He founded and is growing Forward Progress in Politics, a multi-faceted advisory and product development company focused on impact investors and their efforts to making significant change in Political Reform.
            </p>
            <p>
              Recently, Kahlil served as president of StudentsFirst, a national reform effort to change the nation&rsquo;s legislative and policy landscape for public education. Prior to StudentsFirst, Kahlil was chief executive officer and cofounder of Americans Elect, a national start-up re-imagining the U.S. presidential primary system and placing a bipartisan presidential ticket on all 50 state ballots through technology. AmericansElect.org is the winner of the 2012 People&rsquo;s Choice Award at South by Southwest, the Campaigns & Elections 2012 CampaignTech Innovator Award, and two 2012 CLIO Awards for content and interactive excellence.
            </p>
            <p>
              Kahlil is also on the advisory boards of Halcyon Incubator and Discourse Analytics. He was a Term Member of the Council on Foreign Relations and served with CFR as an International Affairs Fellow focused on international media. Kahlil is a graduate of Morehouse College and Harvard&rsquo;s Kennedy School.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/jim_greer.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Jim Greer </h3>
            <h4>Board Member</h4>
            <p>
              Jim Greer is the cofounder of Kongregate, which distributes 80,000 games to over 20 million monthly users on web and mobile. He recently stepped down as Kongregate&rsquo;s CEO to found CounterPAC, which seeks to improve the problems of money in politics through direct intervention in elections. He has worked in the game industry since 1991 and holds a Computer Science degree from Princeton. In his spare time he enjoys biking and poker. He lives in San Francisco with his wife and two children.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/marcia_morris.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Marcia Morris, JD, MPA (Ret.)</h3>
            <h4>Board Member</h4>
            <p>
              Marcia Morris spent her 40-year career as a chief legal officer and in executive management roles at for-profit and not-for-profit enterprises in the healthcare delivery, life sciences, and consumer products and services industries. Morris is serving or has served as a board member of Roger Williams University, New England College and the DeCordova Museum and Sculpture Park. She is a graduate of Connecticut College, Boston University School of Law and the Kennedy School at Harvard University.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/2014-09-30-zephyr-teachout-large.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Zephyr Teachout</h3>
            <h4>Board Member</h4>
            <p>
              Zephyr Teachout is a former anti-corruption candidate for New York Governor and an Associate Professor of Law at Fordham University. She is a constitutional and property law expert and author of Corruption in America: From Benjamin Franklin&rsquo;s Snuff Box to Citizens United.
            </p>
            <p>
              Previously Teachout served as the first national director of the Sunlight Foundation, a non-resident fellow at the Berkman Center for Internet and Society at Harvard Law School and the Director of Internet Organizing for Howard Dean&rsquo;s 2004 presidential campaign. Teachout holds a Bachelor of Arts from Yale University, as well as a JD and Masters of Arts in Political Science from Duke University.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Mayday Team</h2>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/szelena.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Szelena Gray</h3>
            <h4>COO</h4>
            <p>
              Szelena comes to Mayday by way of Demand Progress, where she directed operations and managed campaign finance reform initiatives including Rootstrikers and the New Hampshire Rebellion. She is a graduate of Harvard Divinity School and the University of Florida.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/mario_flores.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Mario Olivio Flores</h3>
            <h4>Digital Director</h4>
            <p>
              After watching Mayday&rsquo;s spectacular 2014 launch during a two month trip around the world, Mario eagerly joined as digital director. Mario worked for 8 years in advertising and technology before starting in politics in 2010. He has previously worked on a major presidential campaign, as well as several congressional and senatorial campaigns.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/lee_woodsmall.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Lee Woodsmall</h3>
            <h4>Campaign Manager</h4>
            <p>
              Since graduating from Auburn University (War Eagle!), Lee has worked in many realms of the anti-corruption movement. As an intern with Represent.Us, Lee supported Trevor Potter and his team with legal and academic research for the American Anti-Corruption Act. He then joined Fund for the Republic, and later became Rootstrikers&rsquo; Campaign Manager. Prior to joining Mayday, Lee worked with Ben Cohen&rsquo;s Stamp Stampede.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/Rebecca-picture.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3 >Rebecca Arington</h3>
            <h4>Helpdesk Coordinator</h4>
            <p>
              Rebecca has spent the past few years volunteering her time to anti-corruption organizations. A graduate of Indiana University, she is a classically trained vocalist and holds a Bachelors degree in Music. Rebecca lives in the New York Metro area with her husband, Scott, and two ridiculously spoiled cats.
            </p>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-8 col-xs-12">
            <h3 >Trevor Potter</h3>
            <h4>Legal Counsel</h4>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-8 col-xs-12">
            <h3>Matthew Sanderson</h3>
            <h4>Legal Counsel</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2><i>2015 Technical Volunteers</i></h2>

              <h5>Andrew Baker</h5>
              <h5>Noelle Bivens</h5>
              <h5>Sarah Bonk</h5>
              <h5>Chris Catterton</h5>
              <h5>Sam Clayton</h5>
              <h5>Tyler Driscoll</h5>
              <h5>Gabriel Grant</h5>
              <h5>Josh Koch</h5>
              <h5>Ali Nabavi</h5>
              <h5>Eric Newport</h5>
              <h5>Phil Palios</h5>
              <h5>Jon Parker</h5>
              <h5>RJ Sheperd</h5>
              <h5>Erica Siverston</h5>
              <h5>Jacob Turino</h5>
              <h5>James Haley</h5>
              <h5>John Pray</h5>
              <h5>Jim Pugh</h5>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2><i>2014 Contributors</i></h2>

              <h5>Brian Boyko &ndash;<span class="thinner-font"> social media, copywriting, technology</span></h5>
              <h5>Corey Farwell &ndash;<span class="thinner-font"> software engineering</span></h5>
              <h5>Hunter Freyer &ndash;<span class="thinner-font"> software engineering</span></h5>
              <h5>Darius Garza &ndash;<span class="thinner-font"> brand &amp; user experience design</span></h5>
              <h5>David Harrison &ndash;<span class="thinner-font"> web development</span></h5>
              <h5>Aaron Lifshin &ndash;<span class="thinner-font"> CTO</span></h5>
              <h5>J.T. Olds &ndash;<span class="thinner-font"> software engineering</span></h5>
              <h5>Michael Ortlieb &ndash;<span class="thinner-font"> design</span></h5>
              <h5>Rachel Perkins &ndash;<span class="thinner-font"> functional and tech advisor</span></h5>
              <h5>Brad Pitcher &ndash;<span class="thinner-font"> software engineering</span></h5>
              <h5>Rohan Siddhanti &ndash;<span class="thinner-font"> deputy campaign manager</span></h5>
              <h5>Lila Schreiber &ndash;<span class="thinner-font"> campaign manager</span></h5>
              <h5>Jeremy White &ndash;<span class="thinner-font"> software engineering</span></h5>

          </div>
        </div>
      </div>
      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_M2_signup.html %}
      </div>
    </div>
  </div>
</div>

{% include panels/panel_action_modal.html %}
