---
layout: default
title: MAYDAY.US - Team &amp; Board
permalink: /team/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="Our Team" %}
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>Team MAYDAY.US</h2>
          </div>
        </div>
        <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Chris Tallent</h3>
            <h4>National Campaign Director</h4>
            <p>
              
            </p>
          </div>
        </div>
  
      <div class="row tb-profile">
          <div class="col-sm-3 tb-img">
            <img src="/images/bio-photos/Teddy_Headshot.jpg" class="img-responsive img-bottom" alt="Responsive image">
          </div>

          <div class="col-sm-8 col-xs-12">
            <h3>Teddy Rube</h3>
            <h4>National Organizer</h4>
            <p>
              Teddy is an activist with years of experience organizing around candidates and ballot issues on the city and state level. Before working with MAYDAY America, he managed the 2016 election campaigns of six publicly funded candidates for the Maine legislature. He studied History and Politics at Bates College, in Lewiston Maine. When he’s not organizing with MAYDAY around the country, he can be found playing music and recording podcasts in Washington, DC.
            </p>
          </div>
        </div>

        <div class="row tb-profile">
          <div class="col-sm-8 col-xs-12">
            <h2>Legal Counsel</h2>
            <h4>Trevor Potter</h4>
            <h4>Matthew Sanderson</h4>
          </div>
        </div>
         <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2 calss="as-if-h4">Former staff of MAYDAY.US</h2>
            <h5>Lawrence Lessig &ndash; <small>ceo and board chair</small></h5>
            <h5>Zephyr Teachout &ndash; <small>ceo and board chair</small></h5>
            <h5>Szelena Gray &ndash; <small>chief operating officer</small></h5>
            <h5>Cyrus Patten &ndash; <small>chief operating officer</small></h5>
            <h5>Aaron Lifshin &ndash; <small>cto</small></h5>
            <h5>Lila Schreiber &ndash; <small>campaign manager</small></h5>
            <h5>Rohan Siddhanti &ndash; <small>deputy campaign manager</small></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12 contributors-format">
            <h2>Past Technical Volunteers</h2>

            <h5>Andrew Baker &ndash; <small>systems engineering</small></h5>
            <h5>Noelle Bivens &ndash; <small>software engineering</small></h5>
            <h5>Brian Boyko &ndash; <small>social media, copywriting, technology</small></h5>
            <h5>Sam Clayton &ndash; <small>project management</small></h5>
            <h5>Dallas Cole &ndash; <small>legislative research</small></h5>
            <h5>Tyler Driscoll &ndash; <small>design</small></h5>
            <h5>Corey Farwell &ndash; <small>software engineering</small></h5>
            <h5>Hunter Freyer &ndash; <small>software engineering</small></h5>
            <h5>Darius Garza &ndash; <small>brand &amp; user experience design</small></h5>
            <h5>Gabriel Grant &ndash; <small>software engineering</small></h5>
            <h5>David Harrison &ndash; <small>web development</small></h5>
            <h5>Josh Koch &ndash; <small>software engineering</small></h5>
            <h5>Ali Nabavi &ndash; <small>software engineering</small></h5>
            <h5>Eric Newport &ndash; <small>software engineering</small></h5>
            <h5>J.T. Olds &ndash; <small>software engineering</small></h5>
            <h5>Allen Oliver &ndash; <small>software engineering</small></h5>
            <h5>Michael Ortlieb &ndash; <small>design</small></h5>
            <h5>Phil Palios &ndash; <small>technical consulting</small></h5>
            <h5>Jon Parker &ndash; <small>software engineering</small></h5>
            <h5>Rachel Perkins &ndash; <small>functional and tech advisor</small></h5>
            <h5>Brad Pitcher &ndash; <small>software engineering</small></h5>
            <h5>RJ Sheperd &ndash; <small>software engineering</small></h5>
            <h5>Erica Siverston &ndash; <small>general consulting</small></h5>
            <h5>Jacob Turino &ndash; <small>software engineering</small></h5>
            <h5>James Haley &ndash; <small>software engineering</small></h5>
            <h5>John Pray &ndash; <small>software engineering</small></h5>
            <h5>Jim Pugh &ndash; <small>data consulting</small></h5>
            <h5>Jeremy White &ndash; <small>software engineering</small></h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 panel-wrapper">
        {% include panels/panel_action_w_signup.html %}
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% include panels/panel_action_w_signup.html %}
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}
