---
layout: default
title: MAYDAY.US - A national grassroots campaign to elect reformers.
hideFromNav: true
hideHeaderSignUp: true
bodyClass: index-page
---
{% capture content %}
<div id="index">
  {% include jumbotrons/generic-jumbotron.html %}
  <div class="container">
    <div class="row gutter-justphone homepage-panel homepage-ribbon">

      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-text">
          <p class="no-y-margin"><a href="/">MAYDAY.US</a> is a national campaign to fight corruption by electing reformers. <a href="/take-action/">Let's win our democracy back!</a></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-state">
          <p class="no-y-margin">We're going grassroots, organizing local teams to fight for our democracy. <a href="/legislators/">Find a team near you</a>!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="mini-panel mini-panel-call">
          <div class="row call-box">
            <!-- <span class="col-sm-1">678</span> -->
            <span class="no-y-margin call-box-thin">MESSAGES <i>to</i></span>
            <span class="no-y-margin call-box-thick">CONGRESS</span>
          </div>
          <p class="no-y-margin">Reclaim your voice. Leave a message for your representatives and urge them to support reform. <a href="/record/">Get Started</a>.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="homepage-panel dark ten-star">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">
    <div class="container homepage-panel-body">
      <div class="row">
        <div class="col-md-10 col-xs-12">
          <h2>We are MAYDAY.US</h2>
          <p>The biggest challenge blocking fundamental reform is the belief that it is not possible. We want to change that belief that with a concerted effort at the grassroots, it is absolutely possible.</p>
          <p><strong>When the people lead, the leaders will follow.</strong> The time has come to show our national leaders that we've had enough by electing reformers - champions of democracy - at all levels.</p>
          <p>We have the tools to make an impact, and we'd like to share them with you. <a href="/take-action/" style="color:#fff;text-decoration:underline">Get involved today.</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row homepage-panel light">
      <div class="col-md-12 homepage-panel-body">
        
      </div>
      </div>
    </div>
  </div>
  <div class="homepage-panel grey">
    <div class="container">
      <div class="row homepage-panel-body">
        <div class="col-xs-12 text-center-sm"><h2>What should go here?</h2></div>
      </div>
      
    </div>
  </div>
  <div class="homepage-panel dark two-star">
    <img class="bg-star" src="/images/star_white.svg">
    <img class="bg-star" src="/images/star_white.svg">

    <div class="container">
      <div class="row homepage-panel-body">
        <div class="col-xs-10">
          <h2>Recent Coverage</h2>
        </div>
      </div>
      <div class="row mayday-quotes">
        <div class="col-md-4 col-xs-12">
        
        </div>
        <div class="col-md-4 col-xs-12">
          
        </div>
        <div class="col-md-4 col-xs-12">
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center"><a class="white-link "href="/in-the-news/">Read more news</a></div>
      </div>
    </div>
  </div>
  <div class="homepage-panel light capitol-building">
    <div class="container">
      <div class="row">
        <div class="col-md-8 center-block panel-wrapper">
          {% include panels/panel_action_w_signup.html hide_next=true %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}


{% include sub_layouts/default_layout.html %}
