---
layout: default
title: MAYDAY.US - Test Donate
permalink: /testdonate/
---
{% capture content %}
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script><script src='https://actionnetwork.org/widgets/v2/fundraising/democracy-is-sexy?format=js&source=widget'></script><div id='can-fundraising-area-democracy-is-sexy' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
  </div>
  </div>
  <div class="row">
<div class="col-md-8 col-md-offset-2">		 
      {% include panels/panel_action_w_signup.html %}		
     </div>
  </div>
</div>
{% endcapture %}
	
 {% include sub_layouts/default_layout.html %}
