---
layout: default
title: Test Map
permalink: /testmap/
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
---
{% capture content %}

{% include jumbotrons/general-dark.html title="Test Map" %}

<div id="mapid">
    #mapid { height: 180px; }
        var map = L.map('map', {
        center: [51.505, -0.09],
        zoom: 13
        });
</div>

{% endcapture %}


{% include sub_layouts/default_layout.html %}
