---
layout: default
title: The Plan
permalink: /the-plan/
bodyClass: the-plan
---
{% capture content %}
{% include jumbotrons/general-dark.html title="The Plan" subtitle="to Reclaim our Representative Democracy" %}

<div class="page-panel light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 hidden-xs sticky-nav-wrapper">
        <ul class="list-unstyled sticky-nav" id="toc">
          <li class="active">
            <a class="small" id="link-problem" href="#problem">The Problem</a>
          </li>
          <li>
            <a class="small" id="link-solution" href="#solution">The Solution</a>
          </li>
          <!--<li>
            <a class="small" id="link-critical-mass" href="#critical-mass">The Plan: A Critical Mass of Reformers</a>
          </li>-->
          <li>
            <a class="small" id="link-strategy" href="#strategy">The Strategy</a>
          </li>
        </ul>
      </div>
      <div id="opening" class="col-lg-10 col-sm-9 pull-right content-section">
      	<p><span class="text-orange" style="font-size:21px;line-height:30px;">We are creating a people’s political machine to end the big money political machine.</p>
        <p><a href="#">Join us</a>.</span></p>
        <p><strong>We...</strong></p>
        <ul>
        <li>Defeat enablers of corruption</li>
        <li>Elect reformers</li>
        <li>Work to pass reform at all levels of government to end big money politics</li>
        </ul>
        
        <em>For more information, read on.</em>
              
        <!--<h2>Reclaiming our Representative Democracy</h2>
        <p>Our framers gave us a "representative democracy" &ndash; what they called, "a Republic." But that Republic was to be representative of all of us. Congress, as Madison said, was to be "dependent on the People alone." And by "the People," as he explained in Federalist 52, he meant "not the rich, more than the poor."</p>
        <p>We have allowed Congress to betray this fundamental commitment. We don&rsquo;t have a representative branch &ldquo;dependent on the People alone.&rdquo; Instead, we have a Congress &ldquo;dependent on their funders.&rdquo;</p>
        <p>That dependency produces a government <strong>obsessed with the interests of the rich</strong> more than the poor. Less than 2% of America gave anything to any political campaign last year. The top 100 <a href="http://www.politico.com/story/2014/12/top-political-donors-113833.html" target="_blank">gave as much</a> as the bottom 4.75 million.</p>-->
        <h2></h2>
      </div>
            
      <div id="problem" class="col-lg-10 col-sm-9 pull-right content-section">
        <h2>The Problem</h2>
        <div class="videoWrapper">
        	<iframe src="https://www.youtube.com/embed/STZMtio7KqU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p><em><a href="https://represent.us/" target="_blank">Video courtesy of our partners at Represent.Us</a></em></p>
        <p><strong>American citizens have had enough of big money special interests controlling our government.</strong> Members of Congress spend 70% of their time cozying up to the well-connected few who fund their campaigns. Meanwhile, the majority of Americans get taxation without real representation.</p>
    <p><strong>America is no longer a government of, by, and for the people. Our Founders wanted a "representative democracy" that is "dependent on the People alone," and "not the rich, more than the poor."</strong> Our leaders are not addressing our nation’s most pressing issues, favoring the interests of the well-connected few.</p>
    <p><strong>And in most of America, only elected lawmakers have the power to reform the broken system.</strong> And politicians all over this country are blocking reform bills in committee. We will hold these corruption-enablers accountable at the ballot box.</p>
    <p>If insanity is doing the same thing over and over, expecting different results… <strong>then the status quo is insane.</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="page-panel grey">
  <div class="container">
    <div id="solution" class="col-lg-10 col-sm-9 grey pull-right content-section">
      <h2>The Solution</h2>
      <div class="videoWrapper">
      	<iframe src="https://www.youtube.com/embed/4C4wGHfL_a4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p><strong>Our movement has rewritten the rules.</strong> We can pass model legislation to create constitutional, <strong>small-donor elections</strong> and dismantle the concentrated power in our government.</p>

    <p><strong>Recent state and city victories have shown that reform is possible, and it works.</strong> To achieve the reforms we need—fixing gerrymandering, term limits, and voting rights—we can elect candidates, especially in primaries, who believe in empowering the many, not the few. That starts with passing reform to ensure that elections are funded by the People, not a handful of powerful interests.</p>
    
    <p>We will elect <strong>political revolutionaries</strong> at local, state, and federal levels to pass these reforms and take back our republic! </p>

    </div>
  </div>
</div>
<!--<div class="page-panel light">
  <div class="container">
    <div id="critical-mass" class="col-lg-10 col-sm-9 pull-right content-section">
      <h2>The Plan: A Critical Mass of Reformers</h2>
      <div class="videoWrapper">
        	<iframe src="https://www.youtube.com/embed/ltYRVRQ95dk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>Congress is the only branch that can enact fundamental reform. But they are not acting on our behalf because Congress belongs to the rich.</p>
      <p>Without significant and dramatic pressure from the ground up, Congress will not change. In recent years, there have been important victories in this fight against big money - on the state level - where citizens have passed referenda to enact citizen-funded, small donor elections.</p>
      <p>But what's missing is an elected cadre of leaders willing to defend these reforms and take them further. In 2016, MAYDAY.US is building a national grassroots network to support these leaders. We call them, <strong>Champions of Democracy</strong>.</p>
      <p>We're using the most powerful tool we have: The People. We've got citizen activists in 18 states and counting, working at the grassroots on behalf of these Champions of Democracy.</p>
      <p>By the election day, 2016, we'll have teams in all 50 states - fighting for our most courageous reformers.</p>
    </div>
  </div>
</div>-->
<div class="page-panel light">
  <div class="container">
    <div id="strategy" class="col-lg-10 col-sm-9 pull-right content-section">
      <h2>The Strategy</h2>
      <div class="videoWrapper">
        	<iframe src="https://www.youtube.com/embed/ltYRVRQ95dk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p><strong>We're focusing our efforts on grassroots change—where the real power is.</strong> When the people lead, the leaders follow. 

    <p><strong>The movement to end big money politics has yet to fully leverage its power at the ballot box in an organized fashion.</strong> Other causes have successfully elected champions to advance their policies, city by city, state by state, building power and shifting policy. We should do the same.</p>
    <h4>The city-by-state strategy</h4>
    <p><strong>To catalyze real reform sweeping the nation, we need to pass it in more cities and states to show that change is possible.</strong> Passing reform in a city in your state moves political will in your state closer to reform. Passing reform in your state moves the country closer to reform.</p>

    <p><strong>So we’re forming State Teams of citizen heroes across the country.</strong> These volunteers will force politicians to pass and defend reform, by helping elect revolutionary candidates and defeating agents of the status quo.</p>
    
    <h4>FAQ</h4>
    
    <p><strong>Q: If the system is broken, how can we use it for positive change? </strong></p>
    <p>A: A lot of us don’t vote because we see the system as fundamentally broken. When Americans thought women deserved a vote and a voice, they didn’t abstain from what they saw as an undemocratic political process. They used a broken system to fix a broken system. Embrace the irony: we must do the same. </p>
    
    <p><strong>Q:Why work at local and state levels?</strong> We need to fix [insert problem here] at the national level RIGHT AWAY.</p>
    <p>A: The history of social movements in America is clear: It takes grassroots action at the local and state levels to build up to change at the national level.</p>

<p>But there is a better way: Flipping cities and states ends up flipping the whole country.</p>

<p>All across the country, voters are fighting for political equality, pushing comprehensive legislation that includes small donor campaign finance systems and tough anti-corruption measures. And city by city, state by state, we are winning.</p>

<p>This graph shows how, by changing policy state by state, successful social movements changed their own communities, and ultimately forced that hand of the federal government:</p>


<img src="/images/social-change-pace.jpg" />
<p><em>(source: Bloomberg)</em></p>

<p>Our local teams work to elect champions of reform who pledge to demonstrate a deep commitment to fixing our democracy. These reformers work to enact comprehensive reforms of our campaign finance system. Just like a jigsaw puzzle, as every city and state passes reform, the picture becomes clear: reform works. <a href="http://www.bloomberg.com/graphics/2015-pace-of-social-change/" target="_blank">Research shows</a> that when 5 states enact such reforms, national momentum will be unstoppable.</p>
    
    </div>
  </div>
</div>
<div class="page-panel light">
  <div class="container">
    <div class="col-md-8 center-block panel-wrapper">
      {% include panels/panel_action_w_signup.html hide_next=true %}
    </div>
  </div>
</div>
{% endcapture %}

{% capture page_specific_javascript %}
<script>
  $(document).ready(function(){
    $('.content-section').waypoint(function(){
      var _id = this.element.id,
          $parent = $('#link-'+_id).parent();
      $parent.siblings().removeClass('active');
      $parent.addClass('active');
    });

    var $toc = $('#toc')
    var stickyNav = new Waypoint.Sticky({
      element: $toc,
      offset: 110
    });
    $('footer').waypoint(function(direction) {
      $toc
        .toggleClass('stuck', direction === 'up')
        .toggleClass('stuck-bottom', direction === 'down')
    }, {
      offset: function() {
        return $toc.outerHeight()+110;
      }
    });
  });
</script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}


{% include sub_layouts/default_layout.html %}
