---
layout: default
title: The Plan
permalink: /the-plan/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="The Plan" subtitle="to Reclaim our Representative Democracy" %}

<div>
  <div class="page-panel light">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-3 hidden-xs">
          <ul class="list-unstyled sticky-nav">
            <li class="active">
              <a class="small" id="link-problem" href="#problem">The Problem: Election Funding</a>
            </li>
            <li>
              <a class="small" id="link-solution" href="#solution">The Solution: A New Funding System</a>
            </li>
            <li>
              <a class="small" id="link-critical-mass" href="#critical-mass">The Plan: A Critical Mass of Reformers</a>
            </li>
            <li>
              <a class="small" id="link-strategy" href="#strategy">The Strategy: Going to the grassroots</a>
            </li>
          </ul>
        </div>
        <div id="opening" class="col-lg-10 col-sm-9 pull-right content-section">
          <h2>Reclaiming our Representative Democracy</h2>
          <p>Our framers gave us a "representative democracy" &ndash; what they called, "a Republic." But that Republic was to be representative of all of us. Congress, as Madison said, was to be "dependent on the People alone." And by "the People," as he explained in Federalist 52, he meant "not the rich, more than the poor."</p>
          <p>We have allowed Congress to betray this fundamental commitment. We don&rsquo;t have a representative branch &ldquo;dependent on the People alone.&rdquo; Instead, we have a Congress &ldquo;dependent on their funders.&rdquo;</p>
          <p>That dependency produces a government <strong>obsessed with the interests of the rich</strong> more than the poor. Less than 2% of America gave anything to any political campaign last year. The top 100 <a href="http://www.politico.com/story/2014/12/top-political-donors-113833.html" target="_blank">gave as much</a> as the bottom 4.75 million.</p>
        </div>
        <div id="problem" class="col-lg-10 col-sm-9 pull-right content-section">
          <h2>The Problem: <span class="text-orange">Election Funding</span></h2>
          <p><strong>This is the root problem in America's democracy: how we fund campaigns.</strong> We have outsourced the funding of campaigns to the tiniest fraction of the 1%&ndash;dominated by cronies and special interests&ndash;and by too many who care too little about the good of America as a whole. That system for funding campaigns produces a Congress dominated by and dependent on interests that don&rsquo;t represent America. That dependence is a corruption.</p>
          <p>Right now, members of Congress must raise huge sums of money to win elections. And that requires spending 30–70% of their time raising money from wealthy donors and special interests. The incentives are clear: <a href="http://www.pbs.org/newshour/updates/money-pretty-good-predictor-will-win-elections/">more money = higher chance of getting elected</a>. And more money comes from pleasing their donors, creating a system of cronyism.</p>
          <p>To end this corruption, we need to change <em>from whom</em> our representatives are raising their money. We need a system in which all of us &ndash; and not just the interested few &ndash; fund campaigns, so we can have a Congress dependent on all of us, and not, in Madison&rsquo;s words, &ldquo;the rich more than the poor.&rdquo;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-panel grey">
    <div class="container">
      <div id="solution" class="col-lg-10 col-sm-9 grey pull-right content-section">
        <h2>The Solution: A New Funding System</h2>
        <p>Across the country, citizens are passing reforms to their local campaign finance laws. This takes courage that is currently lacking in Congress. We can show them what reform looks like.</p>
        <p>Before Congress will pass fundamental reforms necessary to end the corruption, they must feel the pressure of millions of voices shouting out for change.</p>
        <p>Beginning on the state and local level - at the grassroots - we can move the country toward fundamental reform by electing the right leaders.</p>
        <p><b>When the people lead - the leaders must follow.</b> With this basic assumption, we can reach a critical mass of reformers on all levels of democracy. With champions of democracy in place, and victories around the country, <strong>Congress will act</strong>.</p>
      </div>
    </div>
  </div>
  <div class="page-panel light">
    <div class="container">
      <div id="critical-mass" class="col-lg-10 col-sm-9 pull-right content-section">
        <h2>The Plan: A Critical Mass of Reformers</h2>
        <p>Congress is the only branch that can enact fundamental reform. But they are not acting on our behalf because Congress belongs to the rich.</p>
        <p>Without significant and dramatic pressure from the ground up, Congress will not change. In recent years, there have been important victories in this fight against big money - on the state level - where citizens have passed referenda to enact citizen-funded, small donor elections.</p>
        <p>But what's missing is an elected cadre of leaders willing to defend these reforms and take them further. In 2016, MAYDAY.US is building a national grassroots network to support these leaders. We call them, <strong>Champions of Democracy</strong>.</p>
        <p>We're using the most powerful tool we have: The People. We've got citizen activists in 18 states and counting, working at the grassroots on behalf of these Champions of Democracy.</p>
        <p>By the election day, 2016, we'll have teams in all 50 states - fighting for our most courageous reformers.</p>
      </div>
    </div>
  </div>
  <div class="page-panel grey">
    <div class="container">
      <div id="strategy" class="col-lg-10 col-sm-9 pull-right content-section">
        <h2>The Strategy: Going to the grassroots</h2>
        <p>In 2016, we're going to the grassroots - where the real power is. We believe that when the people lead, the leaders will follow. In fact, we know it to be true.</p>
        <p>By organizing on the ground, with a passionate and dedicated group of volunteers across the country, we can impact elections better than any big donor or Super PAC could dream of.</p>
        <p>We are MAYDAY.US, and we're coming for our country. Learn more about our 2016 strategy by watching this short video:</p>
        <div class="embed-responsive embed-responsive-16by9">
          <a class='offsetAnchor' name="video1"></a>
          <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/a6x_TDog85k" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="page-panel light">
    <div class="container">
      <div class="col-md-8 center-block panel-wrapper">
        {% include panels/panel_action_w_signup.html hide_next=true %}
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% capture page_specific_javascript %}
<script>
  $(document).ready(function(){
    $('.content-section').waypoint(function(){
      var _id = this.element.id,
          $parent = $('#link-'+_id).parent();
      $parent.siblings().removeClass('active');
      $parent.addClass('active');
      console.log('calling on '+this.element.id, $parent)
    });
    var stickyNav = new Waypoint.Sticky({
      element: $('.sticky-nav')[0],
      offset: 110
    });
  });
</script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}


{% include sub_layouts/default_layout.html %}
