---
layout: default
title: The Plan
permalink: /the-state-of-reform/
---
<div class="container">

  <div class="row page-panel light">
    <div class="col-md-8">
      <h1 class="mayday-headline-M2 top-space-h1">The State of Reform</h1>
      <p>Fundamental reform will take a statute. We count <a href="http://www.repswith.us/reforms" target="_blank">five proposals</a> that qualify as fundamental reform. We are working for a majority in Congress committed to at least one of those five. When we reach that majority, then fundamental reform will be feasible. When it is feasible, the politicians will take it up.  </p>
    </div>
  </div>
</div>
  <!-- grey group -->
<div class="homepage-panel grey">
  <div class="container">
    <div class="row state">
      <div class="col-md-2">
        <p><span class="first-line">Government By the People Act</span> The Government by the People Act is a proposed bill to reform the campaign finance system, introduced into the House by 2014 by John Sarbanes (D-MD). A companion bill, the Fair Elections Now Act, was also introduced into the Senate.</p>
      </div>
      <div class="col-md-2">
        <p><span class="first-line">The American Anticorruption Act</span> Fundamental lobbying reform, and funding for small dollar funded campaigns American Anti-Corruption Act (AACA) is a piece of model legislation originally crafted in 2011 by a bi-partisan team lead by former Federal Election
        </p>

      </div>
      <div class="col-md-2">
        <p><span class="first-line">Political Money Reform Proposal</span> Jim Rubens’ Political Money Reform Proposal suggests that each voter be given a $50 tax rebate voucher usable to fund congressional candidates, that all contributions over $200 be immediately searchable, and that all political.
        </p>

      </div>
      <div class="col-md-2">
        <p><span class="first-line"> Empowering Citizens Act</span> is federal public financing legislation modeled on New York City’s small donor matching fund program. It aims to amplify the voices of small donors in congressional and presidential elections by matching contributions up to $250 with public funds at a 5-1 ratio. It encourages candidates to run grassroots-oriented campaigns by cutting contribution limits in half for candidates who choose to accept public funding.
        </p>

      </div>
      <div class="col-md-2">
        <p><span class="first-line"> Taxation Only With Representation Act</span> The Taxation Only With Representation Act proposes that each taxpayer should be allowed to earmark a the first two hundred dollars of his or her tax payments to support election of one or more candidates to public office.
        </p>

      </div>
    </div>
  </div>
</div>
<div class="omepage-panel light">

<div class="container">
  <div class="col-md-12">
  <br/>
    {% include visualization_map.html style_attr='min-height:300px;' %}
  </div>
</div>
</div>
<div class="page-panel grey">
  <div class="container">
    <div class="row">
      <div class="col-md-10 homepage-panel-body">
        <h2>Recent Progress</h2>
        <p>The total &ndash; and growing &ndash; number of Representatives and Senators who have become leaders committed to fundamental reform</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img src="/images/temp-img/mayday-story.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="page-panel light">
  <div class="container">
    <div class="row">
      <div class="col-md-10 homepage-panel-body">
        <h2>Our Efforts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium, id, sapiente repudiandae exercitationem facere nisi laboriosam quo minima, earum asperiores harum incidunt! Molestiae nesciunt quae quos sed illo voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus laudantium, id, sapiente repudiandae exercitationem facere nisi laboriosam quo minima, earum asperiores harum incidunt! Molestiae nesciunt quae quos sed illo voluptates?</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 center-block panel-wrapper">
    {% include panels/panel_action_w_signup.html %}
    <br/>
    </div>
  </div>
</div>