---
layout: default
title: MAYDAY.US - Our Videos
permalink: /videos/
---
{% capture content %}
{% include jumbotrons/general-dark.html title="Our Videos" %}
<div class="container">
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="KdnKPaew5NQ" title="Jamie Raskin for Congress" col_class_override="col-md-8" %}
    <div class="col-md-4 top-signup panel-wrapper margin-top-lg hidden-sm hidden-xs">
      {% include panels/panel_action_w_signup.html %}
    </div>
  <div class="row margin-bottom-md">
    <div class="col-md-12">
      <h2>2015</h2>
    </div>
  </div>
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="XP9ryGVgF2U" title="We have a plan" %}
    {% include video_page_video.html youtube_id="Kzj43rzd-4w" title="Lawrence Lessig: MAYDAY v2.0" %}
  </div>
  <div class="row margin-bottom-md">
    <div class="col-md-12">
      <h2>Best of 2014</h2>
    </div>
  </div>
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="i3X2eDCmPRY" title="Lawrence Lessig: The Plan To Take Our Democracy Back" has_tall_neighbor="true"%}
    {% include video_page_video.html youtube_id="mWfCqsFP05A" title="Lessig&rsquo;s 2014 TED Talk, &ldquo;The unstoppable walk to political reform&rdquo;" %}
  </div>
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="NJa6ClnFe-s" title="Lessig&rsquo;s 2013 TED Talk, &ldquo;We the People, and the Republic we must reclaim&rdquo;" %}
    {% include video_page_video.html youtube_id="O1z-2CiAMO8" title="MAYDAY PAC: A Super PAC to End All Super PACs"  has_tall_neighbor="true"%}
  </div>
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="MtTyRWc0OvQ" title="Steve Wozniak for MAYDAY.US" has_tall_neighbor="true"  %}
    {% include video_page_video.html youtube_id="3DgqQpWptZA" title="Joseph Gordon-Levitt for MAYDAY.US"%}
  </div>
  <div class="row margin-bottom-lg">
    {% include video_page_video.html youtube_id="mw2z9lV3W1g" title="Jason Alexander on MAYDAY.US" %}
    {% include video_page_video.html youtube_id="qCcqkyRJl7M" title="We Are MAYDAY PAC" %}
  </div>
  <div class="row margin-bottom-lg">
    <div class="col-md-8 col-xs-12 center-block">
      {% include panels/panel_action_w_signup.html %}
    </div>
  </div>
</div>
{% endcapture %}



{% include sub_layouts/default_layout.html %}



