---
layout: default
title: Videos
permalink: /videos/
---
<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <h1 class="mayday-headline">Videos</h1>
      </div>
      <div class="col-md-4 top-signup">
        {% include signup-md-4.html %}
      </div>
      <div class="col-md-7 col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
      </div>
      <div class="col-md-7 col-xs-12">
        <h3>Category</h3>
        <ul>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
        </ul>
        <p>
      </div>
      <div class="col-md-7 col-xs-12">
        <h3>Category</h3>
        <ul>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
        </ul>
        <p>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Video Title</h2>
        <div class="video-box">
          <img width="430" height="240">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="share-buttons">
              <a href="http://www.twitter.com/maydayus" class="btn btn-default btn-lg btn-twitter twit">
                <span class="text"><i class="fa fa-twitter"></i> Share on Twitter</span>
              </a>
            </div>
            <div class="share-buttons">
              <a href="https://www.facebook.com/groups/282646648577039/" class="btn btn-default btn-lg btn-facebook fb">
                <span class="text"><i class="fa fa-facebook"></i> Share on Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Video Title</h2>
        <div class="video-box">
          <img width="430" height="240">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="share-buttons">
              <a href="http://www.twitter.com/maydayus" class="btn btn-default btn-lg btn-twitter twit">
                <span class="text"><i class="fa fa-twitter"></i> Share on Twitter</span>
              </a>
            </div>
            <div class="share-buttons">
              <a href="https://www.facebook.com/groups/282646648577039/" class="btn btn-default btn-lg btn-facebook fb">
                <span class="text"><i class="fa fa-facebook"></i> Share on Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Video Title</h2>
        <div class="video-box">
          <img width="430" height="240">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="share-buttons">
              <a href="http://www.twitter.com/maydayus" class="btn btn-default btn-lg btn-twitter twit">
                <span class="text"><i class="fa fa-twitter"></i> Share on Twitter</span>
              </a>
            </div>
            <div class="share-buttons">
              <a href="https://www.facebook.com/groups/282646648577039/" class="btn btn-default btn-lg btn-facebook fb">
                <span class="text"><i class="fa fa-facebook"></i> Share on Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Video Title</h2>
        <div class="video-box">
          <img width="430" height="240">
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="share-buttons">
              <div class="button-row fb">
                <a href="https://www.facebook.com/groups/282646648577039/">
                <span class="text"><i class="fa fa-facebook"></i>Share on</span>
                </a>
              </div>
              <div class="button-row tw"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="row col-md-4 bottom-signup">
        {% include signup-md-4.html %}
      </div>
    </div>
  </div>




</div>




