---
layout: default
title: MAYDAY.US - Videos
permalink: /videos/
---
<div class="container">
  <div class="col-lg-12">
    <div class="row no-gutter-phone">
      <div class="col-md-7 col-xs-12">
        <h1 class="mayday-headline-smaller">Videos</h1>
      </div>
      <div class="col-md-4 top-signup">
        {% include panel_action.html %}
      </div>

<!--       <div class="col-md-7 col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
      </div>
      <div class="col-md-7 col-xs-12">
        <h3>Category</h3>
        <ul>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
        </ul>
        <p>
      </div>
      <div class="col-md-7 col-xs-12">
        <h3>Category</h3>
        <ul>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
          <li><a href="">Name of video</a></li>
        </ul>
        <p>
      </div> -->
    </div>
  </div>

  <div class="col-lg-12 all-videos">
    <div class="row no-gutter-phone">
      <div class="col-md-7 col-xs-12">
        <h1>Best of 2014</h1>
      </div>
    </div>
    <div class="row no-gutter-phone">

      <div class="col-sm-6 col-xs-12 video-group">
        <h2 class="two-line-height-on-lg">Lawrence Lessig: The Plan To Take Our Democracy Back</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/i3X2eDCmPRY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

       <div class="col-sm-6 col-xs-12 video-group">
        <h2>Lessig’s 2014 TED Talk, “The unstoppable walk to political reform”</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mWfCqsFP05A?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row no-gutter-phone">

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Steve Wozniak for the Mayday PAC</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/NJa6ClnFe-s?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Joseph Gordon-Levitt for the Mayday PAC</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/O1z-2CiAMO8?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row no-gutter-phone">

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Jason Alexander on the Mayday PAC</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/MtTyRWc0OvQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>We Are The Mayday PAC</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3DgqQpWptZA?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row no-gutter-phone">

      <div class="col-sm-6 col-xs-12 video-group">
        <h2>Lessig’s 2013 TED Talk, “We the People, and the Republic we must reclaim”</h2>
        <div class="video-box">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/mw2z9lV3W1g?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12">
          <div class="row no-gutter">
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block fb">
                <a href="https://www.facebook.com/groups/282646648577039/"></a>
                <i class="fa fa-facebook fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span>Facebook</span>
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-default btn-lg btn-block tw">
                <a href="http://www.twitter.com/maydayus"></a>
                <i class="fa fa-twitter fa-lg"></i>
                <span class="visible-lg-inline-block"> Share on </span>
                <span> Twitter</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="row col-md-4 bottom-signup">
        {% include panel_action.html %}
      </div>
    </div>
  </div>

</div>

{% include panel_action_modal.html %}

