<div class="hidden-panel" id="js-hidden-signup">{% include panels/panel_action_w_signup.html hide_volunteer=true %}</div>
<div class="hidden-panel" id="js-hidden-get_educated">{% include panels/panel_action_w_get_educated.html %}</div>
<div class="hidden-panel" id="js-hidden-spread_the_word">{% include panels/panel_action_w_spread_the_word.html %}</div>
<div class="hidden-panel" id="js-hidden-call_congress">{% include panels/panel_action_w_call_congress.html %}</div>
<div class="hidden-panel" id="js-hidden-join_discussion">{% include panels/panel_action_w_join_discussion.html %}</div>
<div class="hidden-panel" id="js-hidden-volunteer">{% include panels/panel_action_w_volunteer.html %}</div>
