<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Join the Discussion</h2>
      <p>Meet other citizens dedicated to reform and help shape the campaign.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.facebook.com/groups/282646648577039/" target="_blank" class="btn btn-md-wide btn-share facebook">
          <span class="text"><i class="fa fa-facebook"></i> Join our Facebook Group</span>
        </a>
      </div>
      <div class="col-md-6">
        <a href="http://reddit.com/r/maydaypac" target="_blank" class="btn btn-md-wide btn-share reddit">
          <span class="text"><i class="fa fa-reddit"></i> Join the Sub-Reddit</span>
        </a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="I completed this step" class="done">I Did This!</a> or <a href="#" class="next" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>