<div class="action-panel">
  <div class="panel-heading">
    <h2 class="small">Ready to <strong>End Corruption?</strong></h2>
  </div>
  <div class="panel-body">
    <p>Join the Mayday team of Citizen Lobbyists fighting together for fundamental reform.</p>
    <form "js-join-party">
      <input type="email" name="email" placeholder="Email Address"/>
      <input type="zip" pattern="\d{5,5}(-\d{4,4})?" name="zip" placeholder="Zip Code"/>
      <button class="btn btn-md-wide btn-md-red" type="submit">JOIN MAYDAY</button>
    </form>
  </div>
</div>

