<div class="panel action-panel">
  <div class="panel-heading">
    <h2>Ready to <strong>End Corruption?</strong></h2>
  </div>
  <div class="panel-body">
    <p>Join the Mayday team of Citizen Lobbyists fighting together for fundamental reform.</p>
    <form class="join">
      <input type="email" name="person[email]" placeholder="Email Address"/>
      <input type="text" pattern="\d{5,5}(-\d{4,4})?" name="person[zip]" placeholder="Zip Code"/>
      <button type="submit" class="btn btn-md-wide btn-md-red" data-toggle="modal" data-target="#onboarding-modal">JOIN MAYDAY</button>
    </form>
  </div>
</div>
