<div class="panel action-panel">
  <div class="panel-heading">
    <h2>Help us with v2</h2>
  </div>
  <div class="panel-body">
    <p><strong>Step One:</strong> We&rsquo;re crowdsourcing a list of potential allies in Congress. Tell us who you think could be an ally for reform, or how else you'd like to be involved in Mayday v2.</p>
    <a href="#" class="show-nomination-modal btn btn-md-wide btn-md-red">Take Action</a>
    <p class="small">
      <a href="/sign-up" title="Sign Up">New to MAYDAY.US? Join us here.</a>
    </p>
  </div>
</div>