<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <h2>Take Action: Call Congress</h2>
    <div class="row">
      <p>Join the Mayday team of Citizen Lobbyists fighting together for fundamental reform. This tool will help you call the office of one of our potential leaders, to ask them to support reform.</p>
      <form class="join" id="js-form-call-congress">
        <div class="row">
          <div class="col-md-8 form-left-sm">
            <div class="form-group">
              <input type="tel" class="no-bottom-margin" name="person[phone]" placeholder="Phone Number" required/>
              <p class="help-block">We respect your privacy. Your phone number will not be shared with any third party.</p>
            </div>
          </div>
          <div class="col-md-4 form-right-sm">
            <div class="form-group"><input class="no-bottom-margin" type="text" pattern="\d{5,5}(-\d{4,4})?" name="person[zip]" placeholder="Zip Code" required/></div>
          </div>
        </div>
        <div class="col-md-10 center-block">
          <div class="col-md-6">
            <button type="submit" class="btn btn-md-wide btn-md-red">Call Congress</button>
          </div>
          <div class="col-md-6">
            <a class="btn btn-md-wide btn-md-gray" data-toggle="modal" data-target="#call-congress-modal">How it works</a>
          </div>
        </div>
      </form>
    </div>
    <br>
    <div class="row skip-next">
      <small><a href="#" title="I completed this step" class="done">I Did This!</a> or <a href="#" class="next" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
  <div class="panel-body thanks-message">
    <div class="col-md-12 center-block" style="text-align:left">
      <h2 class="text-center">Thanks for calling Congress!</h2>
      <p>You should receive a phone call to the number you shared momentarily.  We&rsquo;ve identified 5 reprentatives you can help convince to sign on as supporters of reform. We'll connect you to them in the following order:</p>
      <ul id="js-targets" class="col-md-10 center-block"></ul>
      <h3>Sample script:</h3>
      <blockquote> Hi. My name is _______ (if applicable: and I’m a voter in your district). I’m asking  _______ to be a leader in the fight to restore our republic to the people. We need _______ to support legislation to change the way members of Congress raise money for their campaigns. There are five Republican and Democratic proposals. You can see the list at RepsWith.US. Will _______ please consider supporting one of those bills? </blockquote>
      <p>When finished with one call, press * on your phone to be connected to the next rep. If you're accidentally disconnected, just redial the number you’ve been called from: +1 224-334-3343</p>
      <hr>
      <p>If you'd like information about specific legislation, any of the following reforms listed at http://www.repswith.us/reforms will bring about significant change:</p>
      <ul>
        <li>Government By the People Act</li>
        <li>Empowering Citizens Act</li>
        <li>The American Anti-corruption Act</li>
        <li>Political Money Reform Proposal</li>
        <li>Taxation Only With Representation Act</li>
      </ul>
      <br>
      <hr>
      <p class="text-center no-y-margin"><small>If you have any feedback, please write to <a href="mailto:info@mayday.us">info@mayday.us</a>.</small></p>
    </div>
  </div>
</div>
{% include modals/modal_call_congress.html %}


{% raw %}
<script id="call_target_template" type="text/html">
<li>
  <a href="/legislators?bioguid_id={{ bioguid_id}}" title="">{{title}} {{name}} {{party}}-{{state_abbrev}} {{display_district}}</a>
</li>
</script>
{% endraw %}

<script>
  $(document).ready(function(){
    $('#js-form-call-congress').on('submit', function(e){
      e.preventDefault();
      $form = $(e.target);
      $.post('{{site.services_url}}/calls', $form.serialize(), function(data){
        $form.find('button.btn').text('calling');
      }).done(function(data){
        $parent = $form.parents('li');
        setAsComplete($parent);
        $.each(data.targets, function(index, target_data){
          console.log(target_data)
          var rendered = ich.call_target_template(target_data);
          $('#js-targets').append(rendered);
        });
      });//done
    });//on submit
  });
</script>