<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Get Educated</h2>
      <p>Find out how we’ll elect a majority committed to fundamental reform, and ending the system of corruption in Washington, DC. </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/legislators" class="btn btn-md-wide btn-md-red" target="_blank" title="Get the Facts">Get the Facts</a>
      </div>
      <div class="col-md-6">
        <a href="/the-plan/" class="btn btn-md-wide btn-md-red" target="_blank" title="Read Our Plan">Read Our Plan</a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="I completed this step" class="done">I Did This!</a> or <a href="#" class="next" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>