<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Get Educated</h2>
      <p>Be part of the movement to restore our democracy.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="btn btn-md-wide btn-md-red" title="Get the Facts">Get the Facts</a>
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-md-wide btn-md-red" title="Read Our Plan">Read Our Plan</a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>