<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Get Educated About Policital Corruption</h2>
      <p>Be part of the movement to restore our democracy.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="https://www.facebook.com/groups/282646648577039/" class="btn btn-md-wide btn-share facebook">
          <i class="fa fa-facebook"></i>
          <span class="text">Join our Facebook Group</span>
        </a>
      </div>
      <div class="col-md-6">
        <a href="http://reddit.com/r/maydaypac" class="btn btn-md-wide btn-share reddit">
          <i class="fa fa-reddit"></i>
          <span class="text">Join the Sub-Reddit</span>
        </a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>