<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <h2>Help Us with v2 <br /> <strong>Step One</strong></h2>
    <img src="/images/capitol_building_box_icon_v2.svg" class="img-responsive img-capitol visible-lg-block" alt="">
    <p>We&rsquo;re crowdsourcing a list of potential allies in Congress. Tell us who you think could be an ally for reform, or how else you'd like to be involved in Mayday v2.</p>
    <a href="#" class="show-nomination-modal btn btn-md-wide btn-md-red">Take Action</a>
    <p class="small">
      <a href="/sign-up" title="Sign Up">New to MAYDAY.US? Join us here.</a>
    </p>
  </div>
</div>