<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Spread the Word</h2>
      <p>Build the movement to form a more perfect union.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.facebook.com/sharer.php?u=https://mayday.us" target="_blank" class="btn btn-md-wide btn-share-center facebook">
          <span class="text"><i class="fa fa-facebook"></i></span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://twitter.com/home?status=Check%20out%20the%20awesome%20plan%20from%20%23MaydayPAC%20on%20how%20to%20save%20our%20democracy.%20https://youtu.be/XP9ryGVgF2U" target="_blank"
            target="_blank" class="btn btn-md-wide btn-share-center twitter">
          <span class="text"><i class="fa fa-twitter"></i></span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="mailto:" target="_blank" class="btn btn-md-wide btn-share-center youtube">
          <span class="text"><i class="fa fa-envelope-o"></i></span>
        </a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>