<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <h2>Take Action: Call Congress</h2>
    <div class="row">
      <p>Join the Mayday team of Citizen Lobbyists fighting together for fundamental reform.</p>
      <form class="join">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group"><input type="tel" name="person[phone]" placeholder="Phone Number" required/></div>
          </div>
          <div class="col-md-4">
            <div class="form-group"><input type="text" pattern="\d{5,5}(-\d{4,4})?" name="person[zip]" placeholder="Zip Code" required/></div>
          </div>
        </div>
        <div class="col-md-8 center-block">
          <button type="submit" class="btn btn-md-wide btn-md-red" data-toggle="modal" data-target="#onboarding-modal">Call Congress</button>
        </div>
      </form>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>