<div class="panel-mayday-counters">
  <div class="headline">Our Efforts</div>
  <div class="icon-line">
    <div class="half-hr"></div>
    <i class="fa fa-users"></i>
    <div class="half-hr"></div>
  </div>
  <div class="counter-label">Citizen Lobbyists</div>
  <div class="counter-row">
    <div class="tile">0<span class="hr"></span></div>
    <div class="tile">2<span class="hr"></span></div>
    <div class="tile">2<span class="hr"></span></div>
    <div class="tile">0<span class="hr"></span></div>
  </div>
  <div class="icon-line">
    <div class="half-hr"></div>
    <i class="fa fa-phone"></i>
    <div class="half-hr"></div>
  </div>
  <div class="counter-label">Phone Calls to Congress</div>
  <div class="counter-row">
    <div class="tile">0<span class="hr"></span></div>
    <div class="tile">2<span class="hr"></span></div>
    <div class="tile">2<span class="hr"></span></div>
    <div class="tile">0<span class="hr"></span></div>
  </div>
</div>