<div class="panel action-panel">
  <div class="panel-body mayday-inputs">
    <h2 class="as-if-h3">Help End Big Money Politics</h2>
    <p class="byline small">Help us elect candidates committed to fundamental reform in 2016</p>
   	<div id="join-form">
		<style>iframe{width:100%}</style>
        <iframe src="https://mayday.nationbuilder.com/email_collect_https" scrolling="no" frameBorder="0"></iframe>
        <script>iFrameResize({log:false, checkOrigin:false})</script>
    </div>
  </div>
</div>
