<!-- Modal -->
<div class="modal fade" id="submit-candidate-modal" tabindex="-1" role="dialog" aria-labelledby="onboarding-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="nomination-page-1">
          <h2>Help us find Allies in Congress</h2>
          <p>Choose the Senator or Representative you think would join us in the fight for fundamental reform, then tell us why you think they'd be a good fit.</p>
          <form id="js-nomination-form">
            <fieldset>

              <div class="form-group">
                <div class="btn-group bootstrap-select">
                  <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" data-id="nominee" title="Loading..."><span class="filter-option pull-left">Loading...</span>&nbsp;<span class="caret"></span></button>
                  <div class="dropdown-menu open">
                    <div class="bs-searchbox">
                      <input type="text" class="input-block-level form-control" autocomplete="off">
                    </div>
                    <ul class="dropdown-menu inner selectpicker" role="menu">
                      <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Loading...</span>"><span class="text">Loading...</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                    </ul>
                  </div>
                </div>
                <select id="nominee" class="hidden" data-show-subtext="true" data-live-search="true" name="legislator_id">
                  <option></option>
                </select>
              </div>

              <div class="form-group">
                <textarea class="form-control" id="selection_comment" name="selection_comment" placeholder="Tell us why they'd be a good fit." aria-describedby="why-nominate"></textarea>
              </div>

              <div id="additional-fields">
                <h2>Other ways to help</h2>

                <p>Are there any additional ways you'd like to be involved with Mayday's v2 plans?</p>

                <div class="form-group">
                  <textarea class="form-control" id="skills" name="other_comment" placeholder="Tell us your ideas or how you'd like to contribute." aria-describedby="skills"></textarea>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <input id="email" name="email" type="email" placeholder="Email" aria-describedby="email" class="form-control input-md" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input id="zip" name="zip" type="text" pattern="\d{5,5}(-\d{4,4})?" placeholder="ZIP code" aria-describedby="ZIP Code" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="checkbox-inline" for="is_volunteer">
                      <input type="checkbox" name="remote_fields[is_volunteer]" id="is_volunteer" value="true"  />
                      Would you like to volunteer?
                    </label>
                  </div>
                </div>
                <br />
              </div>


              <input type="hidden" name="remote_fields[tags][]" value="20150314_v2_launch">
              <input type="hidden" name="remote_fields[event_id]" value="25">

              <div class="form-group">
                <button id="singlebutton" name="singlebutton" class="btn btn-md-wide btn-md-red">Submit</button>
              </div>

            </fieldset>
          </form>
        </div>
        <div id="nomination-page-thanks">
          <h2>Thank you!</h2>
          <p>Join us on Reddit to discuss this and more.</p>
          <p><a class="btn btn-md-wide btn-reddit" href="http://reddit.com/r/maydaypac" target="_blank"><span class="socicon">C</span> Join Us on Reddit</a></p>
          <p class="no-bottom-margin"><a id="submit-again" class="btn btn-md-wide btn-suggestion">Submit Another Suggestion</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script>
function fetch_legislator_info() {
  var $nomineeSelect = $('#nominee')
  $.ajax({
    dataType: "json",
    // url: '{{site.services_url}}/legislators',
    url: '/data/legislators.json',
    success: function(legislators) {
      legislators.map(function(legislator){
        var field_value = ' value="' + legislator.id + '"';
        var disqualifier = '';
        if (legislator.with_us) {
          var disqualifier = ' (already with us!)'
        } else if (!legislator.eligible) {
          var disqualifier = ' (no 2016 election)'
        }
        var subtext = ' data-subtext="' + legislator.title + ' ' + legislator.state_name + disqualifier + '"';
        var disabled = (legislator.with_us || !legislator.eligible ? ' disabled="disabled"' : '');
        $nomineeSelect.append(
          '<option' + field_value + subtext + disabled + '>' + legislator.name + '</option>'
        );
      });
      $('.btn-group.bootstrap-select').remove()
      $nomineeSelect.removeClass('hidden').selectpicker();
    }
  });
}

$(document).ready(function(){
  fetch_legislator_info();

  $(".show-nomination-modal").on("click", function() {
    $("#additional-fields").show();
    $("#nomination-page-thanks").hide();
    $("#nomination-page-1").show();
    $("#submit-candidate-modal").modal("show");
    $(".bootstrap-select .filter-option").text("Search by name or state");
  });

  $("#submit-again").on("click", function() {
    $("textarea, select").val("");
    $("#nomination-page-thanks").hide();
    $("#nomination-page-1").show();
  });

  $("#js-nomination-form").submit(function (event) {
    event.preventDefault();
    var saveURI = '{{site.services_url}}/nominations';
    $.post(saveURI, $(this).serialize());
    $("#nomination-page-1").hide();
    $("#nomination-page-thanks").show();
    $("#additional-fields").hide();
    $(".bootstrap-select .filter-option").text("Select another legislator");
  });

  // $(".js-join-modal").on('click', function (event) {
  //   event.preventDefault();
  //   var baseURI = '//onboarding-staging.mayday.us';
  //   var iframeURI = baseURI;
  // });
});
</script>
