<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <h2>Spread the Word</h2>
      <p>Be part of the movement to restore our democracy.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="https://www.facebook.com/groups/282646648577039/" class="btn btn-md-wide btn-share facebook">
          <i class="fa fa-facebook"></i>
          <span class="text">Like us on Facebook</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://www.twitter.com/maydayus" class="btn btn-md-wide btn-share twitter">
          <i class="fa fa-twitter"></i>
          <span class="text">Follow us on Twitter</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="http://reddit.com/r/maydaypac" class="btn btn-md-wide btn-share youtube">
          <i class="fa fa-reddit"></i>
          <span class="text">Join Us on Reddit</span>
        </a>
      </div>
    </div>
    <div class="row skip-next">
      <small><a href="#" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
  </div>
</div>