<div class="panel action-panel">
  <div class="panel-body mayday-inputs">
    <div class="row">
      <h2>Invite your Friends</h2>
      <p>Build the movement to form a more perfect union. Help us recruit more people to help.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="http://www.facebook.com/sharer.php?u=https://mayday.us/take-action/" target="_blank" class="btn btn-mayday btn-social btn-facebook">
          <span class="text"><i class="fa fa-facebook"></i></span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://twitter.com/home?status=Check%20out%20the%20awesome%20plan%20from%20%23MaydayPAC%20on%20how%20to%20save%20our%20democracy.%20https://youtu.be/XP9ryGVgF2U" target="_blank"
            target="_blank" class="btn btn-mayday btn-social btn-twitter">
          <span class="text"><i class="fa fa-twitter"></i></span>
        </a>
      </div>
      <div class="col-md-4">
          <a href="mailto:?subject=Help%20me%20reform%20Congress&body=I%20just%20signed%20up%20to%20take%20action%20to%20fight%20campaign%20corruption%2C%20and%20I%20hope%20you%E2%80%99ll%20do%20it%20with%20me.%20MAYDAY%20is%20helping%20us%20change%20the%20way%20campaigns%20are%20funded%20by%20electing%20a%20Congress%20committed%20to%20fundamental%20reform.%20It%E2%80%99s%20easy%20to%20get%20involved%20with%20them%20and%20it%20will%20make%20a%20big%20difference.%0A%0ACheck%20out%20their%20page%20here%20to%20see%20the%20different%20ways%20you%20can%20get%20involved%3A%20https%3A%2F%2Fmayday.us%2Ftake-action%2F.%20%20It%20only%20takes%20a%20minute%21%0A%0AThanks%21" class="btn btn-mayday btn-social btn-youtube">
            <span class="text"><i class="fa fa-envelope-o"></i></span>
          </a>
        </a>
      </div>
    </div>
    {% unless include.hide_next %}
    <div class="row skip-next">
      <small><a href="#" class="next" title="Skip to Next Step">Skip to Next Step</a></small>
    </div>
    {% endunless %}
  </div>
</div>