<div class="panel action-panel">
  <div class="panel-body mayday-inputs">
    <h2 class="as-if-h3">Help End Big Money Politics</h2>
   
   	<div id="join-form" style="padding: 0 20px 10px;background:white;">
		<!---<style>iframe{width:100%}</style>
        <iframe src="https://mayday.nationbuilder.com/email_collect_https" scrolling="no" frameBorder="0"></iframe>
        <script>iFrameResize({log:false, checkOrigin:false})</script>--->
		<script type='text/javascript' src='https://d1aqhv4sn5kxtx.cloudfront.net/actiontag/at.js' crossorigin='anonymous'></script>
 <div class="ngp-form"
     data-form-url="https://actions.everyaction.com/v1/Forms/kNAfjkTTmEKQtIYtmFRsgA2"
     data-fastaction-endpoint="https://fastaction.ngpvan.com"
     data-inline-errors="true"
     data-fastaction-nologin="true"
     data-databag="everybody">
</div>
    </div>
  </div>
</div>
