<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="col-xs-6">
    <h4>About</h4>
    <ul>
      <li><a href="{{root_path}}/the-plan/">The Plan</a></li>
      <li><a href="{{root_path}}/about-us/">About</a></li>
      <li><a href="{{ root_path }}/national-progress/">Endorsements &#43; Progress</a></li>
      {% comment %}<li><a href="{{root_path}}/leaders/">Leaders for Reform</a></li>{% endcomment %}
      {% comment %}<li><a href="{{root_path}}/team/">Our Team</a></li>{% endcomment %}
      <li><a href="{{root_path}}/faq/">FAQ</a></li>
      <li><a href="{{root_path}}/contact-us/">Contact US</a></li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h4>Take Action</h4>
    <ul>
      <li><a href="{{root_path}}/join/">Sign Up</a></li>
      <li><a href="http://act.mayday.us/take_action">Get Involved</a></li>
      <li><a href="http://gear.mayday.us/">Buy Gear</a></li>
      <li><a href="https://secure.actblue.com/contribute/page/fromsite?refcode=website&amount=27&recurring=true
" class="text-orange">Donate</a></li>
    </ul>
  </div>
</div>
<div class="col-md-6 col-sm-6  col-xs-12">
  <div class="col-xs-6">
    <h4>Find Us</h4>
    <ul>
      <li><a href="http://www.reddit.com/r/maydaypac">Reddit</a></li>
      <li><a href="https://www.youtube.com/channel/UCtb-WU36hLkBLNGRg9bPCGQ">Youtube</a></li>
      <li><a href="https://www.facebook.com/MAYDAYUS/">Facebook</a></li>
      <li><a href="https://twitter.com/maydayus">Twitter</a></li>
      <li><a href="https://github.com/MayOneUS/">Github</a></li>
      <li><a href="{{root_path}}/contact-us/">Email Us</a></li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h4>Media</h4>
    <ul>
      <li><a href="http://blog.mayday.us/">Blog</a></li>
      <li><a href="http://blog.mayday.us/tagged/press-release">Press releases</a></li>
      <li><a href="{{root_path}}/in-the-news/">MAYDAY.US in the News</a></li>
      <li><a href="{{root_path}}/videos/">Videos</a></li>
      <li><a href="{{root_path}}/news/">Press Assets</a></li>
    </ul>
  </div>
</div>
