<header class="site-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-main-menu-collapsable" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="{{ root_path }}/"><img src="{{ root_path }}/images/2016_mayday-logo-sheild.svg" alt=""> MAYDAY<span class="text-orange"> America</span></a></h1>
      </div>

      <div class="collapse navbar-collapse" id="js-main-menu-collapsable">
        <ul class="nav nav-pills pills nav-justified">
          <li><a href="{{ root_path }}/the-plan/">The Plan</a></li>
          <li><a href="{{ root_path }}/national-progress/">Progress</a></li>
          <li><a href="https://secure.everyaction.com/OqSYVGBzakq5ngnA7rhDDg2">Volunteer</a></li>
          <!--<li><a href="http://gear.mayday.us/">Gear</a></li>
          <li><a href="{{ root_path }}/leaders/">Leaders</a></li>
          <li><a href="{{ root_path }}/news">News</a></li>-->
          <li class="hidden-xs"><a href="#" class="collapsed collapse" data-toggle="collapse" data-target="#js-main-menu-expanded" aria-expanded="false">+ More</a></li>
          <li class="btn-wrap"><a href="https://secure.actblue.com/donate/monthly2"><span class="btn btn-mayday btn-mayday-md btn-mayday-blue-medium">Donate</span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <div class="row collapse expanded-menu" id="js-main-menu-expanded">
        {% include global_page_includes/expanded_menu.html %}
      </div>
    </div>
  </nav>

{% comment %}
      {% unless page.hideMenus %}

      {% endunless %}
{% endcomment %}

</header>
