
<div class="modal fade" id="call-congress-modal" tabindex="-1" role="dialog" aria-labelledby="call-congress-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="md-modal-wrap">
          <h2 class="text-center">Thank you for lending your voice to the fight for reform!<br/> Here's how our call tool works:</h2>
          <ol class="simple-list small">
            <li>Enter your phone number and click the "Call Now" button.</li>
            <li>Your phone will ring. When you answer, our automated system will connect you to the first representative listed.</li>
            <li>A member of the rep's staff will answer. If you're calling after hours, you may be able to leave a message.</li>
            <li>
              Offer your name and explain why you're calling. For example:<br/><br/>
              Hi. My name is _______. I'm calling to ask  _______ to be a leader in the fight to restore our democracy to us, the people, by cosponsoring legislation that would fundamentally change the way campaigns are funded. We are recommending five proposals that _____ could support. Each of these bills would radically change the way representatives would raise the money they need to get elected. You can see those proposals at RepsWith.US. I would ask __________ to please consider supporting one of those bills.
            </li>
            <li>Once you've completed your call, hit * to disconnect. Follow the prompts and you will be connected to the next rep on your list.</li>
          </ol>

          <p>You can end your calling session at any time. If you're unable to complete your list in one session, you can come back later and pick up where you left off.</p>

          <p>If you'd like to reference specific legislation, any of the following reforms listed below will bring about significant change:</p>
          <ul>
            <li>Government By the People Act</li>
            <li>Empowering Citizens Act</li>
            <li>The American Anti-corruption Act</li>
            <li>Political Money Reform Proposal</li>
            <li>Taxation Only With Representation Act</li>
          </ul>
          <p>Learn more about these reforms at <a href="http://www.repswith.us/reforms" title="">http://www.repswith.us/reforms</a></p>
        </div>
      </div>
    </div>
  </div>
</div>