<style type="text/css">
  .jumbotron{background: #444 url('/images/campaigns/20151019_md_launch_landing_page_2400x210_v01.1.jpg') center 0 no-repeat;min-height:210px;text-align:center;color:#fff;}
  /*.jumbotron h1{background: transparent url('/images/campaigns/20150727_ceo_headline_v4_776x69.png') right 0 no-repeat;background-size:contain;height: 63px;display: block;margin-top:40px;margin-bottom:0;}*/
  .jumbotron h3{color:#fff;text-align:left;font-weight:400;margin-top:80px}
  @media (max-width: 1199px){
    .jumbotron{background-image: url('/images/campaigns/20151019_md_launch_landing_page_1190x210_v01.1.jpg');background-position:0 0;}
  }
  @media (max-width: 1117px){
    .jumbotron h3{display:none;}
  }
  @media (max-width: 450px){
    .jumbotron{background-image: url('/images/campaigns/20151019_md_launch_landing_page_450x210_v01.1.jpg');background-size:contain;min-height:190px;background-color:#58C8DC;}
  }
</style>
<div class="jumbotron">
  <div class="container">
    <div class="col-md-offset-7 col-md-5">
      <h1 class="text-hide">Elect Jamie Raskin - A Proven Reformer</h1>
      <h3>{{include.action_text}}</h3>
    </div>
  </div>
</div>