<style type="text/css">
  .grey-box{background:#eee;border: 1px dashed;outline:5px solid #eee;}
  .grey-box .progress{background-color:#ddd}
</style>
<div class="col-md-12 grey-box bottom-spacer-sm donate-flavor-text">
  <div class="col-md-4">
    <h3>Funds Raised</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 50%">
        <span class="">$67,000</span>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 17%">
        <span class="sr-only"></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="text-center">Let's do this!</h1>
  </div>
  <div class="col-md-4">
    <h3>New Volunteers</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 50%">
        <span class="sr-only">172</span>
      </div>
    </div>
  </div>
</div>