<div class="row">
  <div class="col-md-12">
    <div class="flash-message success hidden">
      <h3>Thanks for <span id="js-from-activity"></span>!  {{include.thanks_follow_up}}</h3>
    </div>
  </div>
</div>

{% capture flash_message_js %}
<script>
  $(document).ready(function(){
    var redirect_from = getParameterByName('redirect_from');
    if(redirect_from.length>0){
      $('#js-from-activity').text(redirect_from);
      $('.flash-message').removeClass('hidden');
    }
  });
</script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{flash_message_js}}{% endcapture %}
