<style type="text/css">
  .jumbotron{background: #444 url('/images/campaigns/20151019_md_launch_homepage_2400x470.jpg') center 0px no-repeat;min-height: 470px;text-align:center;color:#fff;}
  /*.jumbotron h1{background: transparent url('/images/campaigns/20150727_ceo_headline_v4_776x69.png') right 0 no-repeat;background-size:contain;height: 63px;display: block;margin-top:40px;margin-bottom:0;}*/
  .jumbotron h3{color:#fff;text-align:left;font-weight:400;margin-top:140px}
</style>
<div class="jumbotron hidden-xs hidden-sm">
  <div class="container">
    <div class="col-md-offset-8 col-md-4">
      <h1 class="text-hide">Elect Jamie Raskin - A Proven Reformer</h1>
      <h3>{{include.action_text}}</h3>
    </div>
  </div>
</div>