<footer class="site-footer">
  <div class="container">
    <div class="left-col col-xs-12 col-sm-12 col-md-3 col-lg-3">
      {% unless page.hideMenus %}
      <div class="icon-line added-margin">
        <a href="http://www.reddit.com/r/maydaypac" target="_blank"><span class="socicon">C</span></a>
        <a href="https://www.facebook.com/MAYDAYdotUS" target="_blank"><span class="socicon">b</span></a>
        <a href="https://twitter.com/maydayus" target="_blank"><span class="socicon">a</span></a>
        <a href="https://www.youtube.com/channel/UCtb-WU36hLkBLNGRg9bPCGQ" target="_blank"><span class="socicon">r</span></a>
      </div>
      <form class="email-signup">
        <input type="email" name="person[email]" placeholder="Join our email list" required/>
        <input type="hidden" name="person[remote_fields][tags][]" value="20150314_join_list">
        <!-- <input type="hidden" name="person[remote_fields][event_id]" value="25"> -->
        <button type="submit">
          <span class="socicon">@</span>
        </button>
      </form>
      <div class="hidden">
        <h1 class="mayday-headline-smaller-inverse bottom-thankyou-spacer">Thank you!</h1>
      </div>
      <div class="vertical-fade-line hidden-xs hidden-sm"></div>
      {% endunless %}
    </div>
    <div class="center-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="/" class="name">MAYDAY.US</a>
      <div class="disclaimer-box">Paid for by Mayday PAC. Not authorized by any candidate or candidate's committee. MAYDAY.US</div>
      <div class="copyright">©2015 Mayday PAC. Some rights reserved.</div>
      <div class="creative-commons"><a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="//i.creativecommons.org/l/by/3.0/80x15.png"/></a></div>
      {% unless page.hideMenus %}<div class="vertical-fade-line hidden-xs hidden-sm"></div>{% endunless %}
    </div>
    <div class="right-col hidden-xs hidden-sm col-md-3 col-lg-3">
      {% unless page.hideMenus %}
      <div><a href="/about-us/">About</a></div>
      <div><a href="/news/">News</a></div>
      <div>&nbsp;</div>
      <div class="donate-link"><a href="/donate/">DONATE</a></div>
      {% endunless %}
    </div>
  </div>
</footer>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.runtime.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-50367295-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% javascript app %}

{{ footer_scripts }}