<footer class="site-footer">
  <div class="container">
    <div class="left-col col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="icon-line added-margin">
        <a href="http://www.reddit.com/r/maydaypac" target="_blank"><span class="socicon">C</span></a>
        <a href="https://www.facebook.com/MAYDAYdotUS" target="_blank"><span class="socicon">b</span></a>
        <a href="https://twitter.com/maydayus" target="_blank"><span class="socicon">a</span></a>
        <a href="https://www.youtube.com/channel/UCtb-WU36hLkBLNGRg9bPCGQ" target="_blank"><span class="socicon">r</span></a>
      </div>
      <form class="email-signup">
        <input type="email" name="person[email]" placeholder="Join our email list" required/>
        <input type="hidden" name="person[remote_fields][tags][]" value="20150314_v2_launch">
        <input type="hidden" name="person[remote_fields][event_id]" value="25">
        <button type="submit">
          <span class="socicon">@</span>
        </button>
      </form>
      <div class="hidden">
        <h1 class="mayday-headline-smaller-inverse bottom-thankyou-spacer">Thank you!</h1>
      </div>
      <div class="vertical-fade-line hidden-xs hidden-sm"></div>
    </div>
    <div class="center-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="/" class="name">MAYDAY.US</a>
      <div class="disclaimer-box">Paid for by Mayday PAC. Not authorized by any candidate or candidate's committee. MAYDAY.US</div>
      <div class="copyright">©2015 Mayday PAC. Some rights reserved.</div>
      <div class="creative-commons"><a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="//i.creativecommons.org/l/by/3.0/80x15.png"/></a></div>
      <div class="vertical-fade-line hidden-xs hidden-sm"></div>
    </div>
    <div class="right-col hidden-xs hidden-sm col-md-3 col-lg-3">
      <div><a href="/about-us/">About</a></div>
      <div><a href="/news/">News</a></div>
      <div>&nbsp;</div>
      <div class="donate-link"><a href="/donate/">DONATE</a></div>
    </div>
  </div>
</footer>
<script>
$(document).ready(function(){
  $("form.email-signup").submit(function (event) {
    event.preventDefault();
    var saveURI = '{{ site.services_url }}/people';
    $.post(saveURI, $(this).serialize());
    $(this).hide();
    $(this).next().removeClass('hidden');
  });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50367295-1', 'auto');
  ga('send', 'pageview');
</script>