<header class="site-header">
  <div class="top-nav">
    <div class="container">
      <div class="icon-bar-left hidden-xs">
        <i class="fa fa-2x fa-facebook"></i>
        <i class="fa fa-2x fa-twitter"></i>
        <a href="http://www.reddit.com/r/maydaypac"><i class="fa fa-2x fa-reddit"></i></a>
      </div>
      <div class="center-ribbon">
        <div class="ribbon-rectangle">MAYDAY.US</div>
        <div class="triangle-down"></div>
      </div>
      <div class="search-section-right hidden-xs">
        <form>
          <input type="email" placeholder="Join our mailing list"/>
          <button type="submit">
            <i class="fa fa-envelope"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="sub-nav">
    <div class="container">
      <div class="left-links">
        <a href="">THE PLAN</a>
        <span class="middle-dot">·</span>
        <a href="">TAKE ACTION</a>
      </div>
      <div class="right-links">
        <a href="">ABOUT</a>
        <span class="middle-dot">·</span>
        <a href="">NEWS</a>
        <span class="middle-dot">·</span>
        <a href="">DONATE</a>
      </div>
    </div>
  </div>
  <div class="bottom-taper">
    <div class="triangle-up"></div>
  </div>
</header>
