
<div class="row">
  <div id="js-legislators" class="js-legislators newest-leaders no-gutter"></div>
</div>
{% capture newest_leaders_js %}

<script>
  $(document).ready(function(){
    "use strict";

    var newAlliesUrl = '{{site.services_url}}/legislators/newest_supporters.json';

    function renderAllies(legislator_data, index) {
      var rendered_html = '';
      legislator_data.short_title = legislator_data.title === 'Senator' ? 'Sen.' : 'Rep.';
      rendered_html = HandlebarsTemplates['cards/legislator-newest'](legislator_data);
      $('#js-legislators').append(rendered_html);
    }

    function callDataAndTemplate(legislators) {
      var allyObject = [];

      legislators.forEach( function ( leg_data, index ){ //gets three reps
        if (index < 3 ){
          allyObject.push( leg_data );
        }
      });
      allyObject.map(renderAllies);
    }

    $.getJSON(newAlliesUrl, callDataAndTemplate);

  });


</script>

{% endcapture %}
{% capture footer_scripts %}{{footer_scripts}}{{newest_leaders_js}}{% endcapture %}