<div class="panel action-panel">
  <div class="panel-heading">
    <h2>Help us with v2</h2>
  </div>
  <div class="panel-body">
    <p><strong>Step One:</strong> We’re crowdsourcing a list of potential allies in Congress. Tell who you think could be a candidate, or how else you'd like to be involved in Mayday Phase II.</p>
    <a href="#" class="show-nomination-modal btn btn-mayday">Take Action</a>
    <p class="small">
      <a href="/sign-up" title="Sign Up">New to MAYDAY.US? Join us here.</a>
    </p>
  </div>
</div>