<div id="pre-donate-form">
  <div class="container row">
        <div class="col-xs-10 col-sm-8 col-md-8 box center-block box-blue-medium">
        	<h3 class="text-center">Donate to our Campaign</h3>
            <form class="mayday-inputs js-donate">
                <fieldset>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-2">
                          <a class="btn btn-mayday" href="/donate#10">$10</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                          <a class="btn btn-mayday" href="/donate#27">$27</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                          <a class="btn btn-mayday" href="/donate#50">$50</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2">
                            <a class="btn btn-mayday" href="/donate#100">$100</a>
                         </div>
                         <div class="col-xs-12 col-sm-12 col-md-4">
                            <a class="btn btn-mayday green" href="/donate">Donate</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </fieldset>
          </form>
      </div>
  </div>