<div class="progress-include">
  <h2 class="headline">A Congress Committed to Reform</h2>
  <div class="sub-headline"><span>Our goal:</span> Win a simple majority to cosponsor fundamental reform of the way campaigns are funded.</div>
  <div class="legend lengend-shift">Our Goal <i class="fa fa-star"></i></div>
  <div class="senate bar-line">
    <div class="label">Senate</div>
    <br class="mobile-break">
    <div class="bar">
      <div class="progress-section">
        <div class="count">23</div>
      </div>
      <div class="togo-section"></div>
      <div class="out-of">
        <div class="rectangle">51</div>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
  <div class="house bar-line">
    <div class="label">House</div>
    <br class="mobile-break">
    <div class="bar">
      <div class="progress-section">
        <div class="count">189</div>
      </div>
      <div class="togo-section"></div>
      <div class="out-of">
        <div class="rectangle">218</div>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
</div>