<div class="col-xs-12 col-sm-4">
  {{ sidebar_extras_start }}
  <div class="row margin-bottom-md">
    <div class="col-xs-12">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2 class="as-if-h4"><a href="{{site.blog_root_url}}/tagged/press-release">Press Releases <small>More</small></a></h2>
        </div>
        <div class="panel-body mayday-inputs">
          <ul id="tumblr-press-releases" class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2 class="as-if-h4"><a href="{{site.blog_root_url}}" target="_blank">Mayday Blog <small>More</small></a></h2>
        </div>
        <div class="panel-body mayday-inputs">
          <ul id="tumblr-posts" class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ sidebar_extras_end }}
</div>
{% capture page_specific_javascript %}

<script type="text/javascript">
$(document).ready(function() {
  md.newsFeeds.renderBlogFeed();
  md.newsFeeds.renderPressReleasesFeed();
});

</script>
{% endcapture %}

{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}
