<div class="col-xs-12 col-sm-4">
  {{ sidebar_extras_start }}
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-news">
        <div class="panel-heading">
          <h2>
            <a href="{{site.blog_root_url}}/tagged/press-release"><i class="md-icon md-microphone"></i>Press Releases</a>
          </h2>
        </div>
        <div class="panel-body mayday-inputs">
          <ul id="tumblr-press-releases">
          </ul>
          <a class="more-link" href="{{site.blog_root_url}}/tagged/press-release">&gt; View our Press Release Library</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-news">
        <div class="panel-heading">
            <h2>
              <a href="{{ site.blog_root_url }}"><i class="md-icon md-shield"></i> The Mayday Blog</a>
            </h2>
        </div>
        <div class="panel-body mayday-inputs">
          <ul id="tumblr-posts">
          </ul>
          <a class="more-link" href="{{ site.blog_root_url }}" target="_blank">&gt; The Mayday Blog</a>
        </div>
      </div>
    </div>
  </div>
  {{ sidebar_extras_end }}
</div>
{% capture page_specific_javascript %}

<script type="text/javascript">
$(document).ready(function() {
  render_blog_feed();
  render_press_releases_feed();
});

</script>
{% endcapture %}

{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}
