<div id="voxel-map" class="voxel-map" style="{{include.styles}}">
<div class="row">
  <h2>State of Reform Map</h2>
  <select class="md-select">
    <option value="" chamber="both">Select a bill to see the support level</option>
    <option value="" chamber="both">All</option>
    <option value="hr20-114" chamber="house">H.R.20 - Government By the People Act of 2015</option>
    <option value="hr424-114" chamber="house">H.R.424 - Empowering Citizens Act</option>
  </select>
</div>

<div id="map-message" class="loading">Please wait...</div>

<div class="voxels" style="opacity: 0">
  <div class="voxel-popover">
    <div class="left">
      <img class="photo" src="https://s3.amazonaws.com/audio.mayday.us/congress-photos/99x120/B000944.jpg" onload="this.style.opacity = 1">
      <span class="stateface stateface-replace"></span>

      <div class="code">CT-20</div>
    </div>

    <div class="right">
      <h3><span class="title">Senator</span> <span class="name">Chris Murphy</span></h3>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
      </div>
      <a class="button" href="" target="_blank">Take Action</a>
    </div>

    <div class="clear"></div>

    <div class="arrow"></div>
  </div>

</div>

<div class="key" style="opacity: 0">
  <div class="color">
    <div class="voxel" color="blue">
      <svg viewBox="0 0 166 166">
        <g>
          <polygon
            class="front"
            points="166,0 166,158 22,158 22,0"
          />

          <polygon
            class="left"
            points="22.5,158 0,166 0,8 22.5,0"
          />

          <polygon
            class="bottom"
            points="166,157.5 144,166 0,166 22.5,157.5"
          />
        </g>
      </svg>
    </div>

    <p>Targeted</p>
  </div>

  <div class="color">
    <div class="voxel" color="green">
      <svg viewBox="0 0 166 166">
        <g>
          <polygon
            class="front"
            points="166,0 166,158 22,158 22,0"
          />

          <polygon
            class="left"
            points="22.5,158 0,166 0,8 22.5,0"
          />

          <polygon
            class="bottom"
            points="166,157.5 144,166 0,166 22.5,157.5"
          />
        </g>
      </svg>
    </div>

    <p>Supporter</p>
  </div>

  <div class="color">
    <div class="voxel" color="gray">
      <svg viewBox="0 0 166 166">
        <g>
          <polygon
            class="front"
            points="166,0 166,158 22,158 22,0"
          />

          <polygon
            class="left"
            points="22.5,158 0,166 0,8 22.5,0"
          />

          <polygon
            class="bottom"
            points="166,157.5 144,166 0,166 22.5,157.5"
          />
        </g>
      </svg>
    </div>

    <p>Non-supporter</p>
  </div>


</div>

</div>



<script type="text/template" id="template-voxel">
<svg
  viewBox="0 0 19 22"
  >
  <g>
    <polygon
      class="front"
      points="4,0 19,0 19,19 4,19"
    />

    <polygon
      class="left"
      points="0,3 4.1,0 4.1,19 0,22"
    />
    <polygon
      class="bottom"
      points="4.1,18.9 25,18.9 22,22 0,22"
    />

    <polygon
      class="border-top"
      points="4,0 19,0 19,1 4,1"
    />

    <polygon
      class="border-left"
      points="4,1 5,1 5,19 4,19"
    />

    <polygon
      class="border-bottom"
      points="4,19 19,19 19,22 4,22"
    />

    <polygon
      class="border-bottom-angled"
      points="4.1,18.9 0,22 1,22 4.1,22"
    />

    <polygon
      class="border-right"
      points="18,0 19,0 19,22 18,22"
    />
  </g>
</svg>
</script>



<script src="/js/visualization_map.js"></script>
<script>
$(function() {
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
   $('#map-message').css('display','none');
  }else{
    var voxelMap = new VoxelMap({
      $el: $('#voxel-map'),
      url: '{{site.services_url}}/legislators/supporters_map.json',
    });
  }

});
</script>

