/** 
 * Mayday Content
 */
li {
  list-style-type: none;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.smaller-layout{
  max-width: 835px;
}
.placed-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about-icons{
  width: 62%;
  height: 62%;
}
.bullet-color{
    color: $brand-color;
}
.info-height h3{
  margin-bottom: 10px;
}
.large-icons img{
  margin-bottom: 60px;
}