/**
 * Mayday Content
 */

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.smaller-layout{
  max-width: 835px;
}
.placed-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.about-icons{
  width: 62%;
  height: 62%;
  @include phone{
    width: 40%;
    height: 40%;
    min-width: 80px;
    min-height: 80px;
  }
}
.team-icon{
  width: 90%;
  height: 90%;
  @include phone{
    width: 70%;
    height: 70%;
    min-width: 120px;
    min-height: 120px;
    margin-top: -12px;
  }
}
.center-faq-icon1{
  margin-left: -20%;
  @include phone{
    margin-left: none;
  }
}
.center-faq-icon2{
  margin-right: 70px;
  @include tablet{
    margin-right: 60px;
  }
  @include phone{
    margin-right: none;
    margin-left: 1px;
  }
}
.bullet-color{
    color: $color-brand;
}
@include tablet{
  .info-height{
    height:213px;
  }
}
.info-height h3{
  margin-bottom: 10px;
}
.large-icons img{
  margin-bottom: 60px;
}
