mayday-headline /**
 * Reset some basic bootstrap elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Variables
 */
$color-navy-blue: #16213f;
$color-navy-blue-mid: rgb(30,46,80);
$color-navy-blue-light: #0d3960;
$color-dark-red: #b0010e;
$color-grey-blue: rgb(118, 159, 189);
$color-offwhite: rgb(228,228,228);

$base-font-family: 'Lato';
$base-font-size: 18px;
$small-font-size: 8;

$color-background: #ffffff;
$color-brand: #0d3960;
$color-dark-grey: rgb(50,50,50);
$color-grey: #808080;
$color-grey-light: #cccccc;
$color-grey-background: #f0f0f0;
$color-grey-line: #b7b7b7;
$color-text: #5C5C5C;
$color-dossier-blue: #1c7bab;
$color-dossier-red: #910216;
$color-dossier-green: #426E2F;
$color-dossier-orange: #D07F30;


$spacing-unit: 1;
$spacing-unit-half: 0.5em;
$base-line-height: 1.0em;
$page-content-line-height: 1.4em;
$content-width: 1280;
$bottom-spacing: 15px;
$top-spacing: 15px;
$left-margin-spacing: 1.3em;

$header-weight: 300;

$tablet-min-width: 768px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

/**
 * Mixins for Panels and Buttons
 */

$color-facebook: rgb(59, 89, 151);
$color-twitter: rgb(64, 153, 255);
$color-youtube: rgb(117, 117, 117);
$color-reddit: rgb(31, 89, 111);
$color-join-mayday: rgb(19, 83, 145);
$color-volunteer: rgb(80, 107, 134);
$color-orientation: rgb(76, 43, 98);

$bg-img-dir: '../images/action/';
$orientation-bg-img: 'orientation-bg.jpg';
$donor-strike-bg-img: 'donor-strike-bg.jpg';
$reddit-bg-img: 'reddit-bg.jpg';
$volunteer-bg-img: 'volunteer-bg.jpg';
$share-bg-img: 'share-bg.jpg';

@mixin phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}


@mixin tablet-minus {
  @media (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop-min-width}) and (max-width: #{$large-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-min-width}) {
    @content;
  }
}

@mixin star-rotation($rotation) {
  -ms-transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  transform: rotate($rotation);
}


/**
 * Basic styling
 */
html, body {
  height: auto;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $color-text;
  background-color: $color-background;
  -webkit-text-size-adjust: 100%;
  @include phone{
    overflow-x: hidden;
    color: #333;
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $top-spacing;
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $left-margin-spacing;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, legend {
  font-weight: $header-weight;
  color: $color-navy-blue-light;
}

h1{
  font-size: 40px;
  margin-top: 0;
  margin-bottom:20px;
}

legend{
  font-size: 24px;
  margin: 0 0 20px;
}

p.subheader {
  color: $color-navy-blue-light;
  font-weight: 300;
}

p.byline{
  color: $color-navy-blue-light;
  font-weight: 700;
  font-style: italic;
  font-size:21px
}

/**
 * Paragraph
 */
p {
  margin-bottom: $bottom-spacing;
}

/**
 * Links
 */
a {
  color: $color-brand;
  text-decoration: none;

  &:visited {
    color: darken($color-brand, 15%);
  }

  &:hover {
    color: $color-text;
    text-decoration: underline;
  }
}

/**
 * simple list
 */

 ol.simple-list {
    list-style-type: none;
    margin: 1em 0 1em 3em;
    padding: 0;
    counter-reset: li-counter;

  li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
    font-size:18px;
  }
  li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
  &.small li:before {
    font-size: 2em;
  }
  > li ul{
    margin-bottom:1em;
  }
  li ul li{
    list-style-type:square;
  }
}

.md-modal-wrap ol.simple-list{
  margin-left:10px;
}

/**
 * Blockquotes
 */
blockquote {
  color: $color-text;
  padding: 0.5em 1em;
  display:inline-block;
  margin-left:1em;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  background: #FAFAFA;

  > :first-child{
    margin-top:0;
    margin-top:0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * buttons
 */

 /**
 * Wide Button Mixin
 * @param {Color} $color-bg
 */
@mixin button-colors($color-bg, $color-font: #fff) {
  color: $color-font;
  background-color: $color-bg;
  // border: 1px solid $color-bg;
  &:hover {
    color: $color-font;
    background-color: lighten( $color-bg, 5% );
    // border-color: lighten( $color-bg, 5% );
  }
  &:visited, &:link, &:focus{
    color: $color-font;
  }
}
.btn-md-wide{
  @include button-colors($color-dark-red);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 6px;
  padding: 16px 16px;
  font-size: 28px;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin simple-button{
  margin:0;
  letter-spacing: 1px;
}

.btn-md-red, a.btn-md-red:link {
  @include simple-button;
}
.btn-md-gray, a.btn-md-gray:link {
  @include button-colors($color-grey);
  @include simple-button;
  font-weight: 300;
}
.btn-reddit, a.btn-reddit:link {
  @include button-colors($color-reddit);
  @include simple-button;
  font-size: 22px;
  padding: 12px 0;
}
.btn-suggestion {
  @include button-colors($color-join-mayday);
  @include simple-button;
  text-transform: none;
  font-size: 18px;
  padding: 14px 0;
}

.vid-share-button{
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 400;
  padding: 10px 0;
}
.tw-row{
  @include button-colors($color-twitter);
  width: 98%;
  margin: 3% 0 2% 2.5%;
}
.fb-row{
  @include button-colors($color-facebook);
  width: 98%;
  margin: 3% 2% 2% 0;
}


.btn-share {
  margin-top: 12px;
  text-align: left;
  font-size:20px;
  font-weight: 400;

  .fa {
    // float: left;
    font-size: 1.5em;
    padding-right:5px;
  }

  .text {
    float: left;
    text-align: left;
    font-weight: 400;

    @include large-desktop {
      // margin-left: 45px;
    }

    @include small-desktop {
      // margin-left: 35px;
      font-size: 16px;
    }

    @include tablet {
      // margin-left: 45px;
    }

    @include phone {
      // margin-left: 35px;
      font-size: 14px;
    }
  }
  .center-logo{
    height: 50px;
    text-align: center !important;
  }

  &.facebook {
    @include button-colors($color-facebook);
  }
  &.reddit {
    @include button-colors($color-reddit);
  }
  &.twitter {
    @include button-colors($color-twitter);
  }
  &.youtube {
    @include button-colors($color-youtube);
  }
}
.btn-share-center {
  margin-top: 12px;
  height: 50px;
  text-align: center;
  font-size:20px;
  font-weight: 400;

  .fa {
    font-size: 1.5em;
    line-height: 0;
  }

  .text {
    text-align: center;
    font-weight: 400;
  }


  &.facebook {
    @include button-colors($color-facebook);
  }
  &.reddit {
    @include button-colors($color-reddit);
  }
  &.twitter {
    @include button-colors($color-twitter);
  }
  &.youtube {
    @include button-colors($color-youtube);
  }
}
.btn-mini-share {
  @include button-colors($color-dossier-blue);
  &.make-call{
    height: 65px;
    width: 310px;
    @include tablet{
      width: 47%;
    }
    @include phone{
      width: 100%;
    }
  }
  &.facebook-small {
    @include button-colors(#FFF);
    border: solid 2px $color-grey;
    color: $color-grey;
    line-height: 0;
    font-size: 1.8em;
    height: 65px;
    width: 160px;
    @include small-desktop{
      width: 130px;
    }
    @include tablet{
      width: 24%;
    }
    @include phone{
      width: 49%;
    }
  }
  &.twitter-small {
    @include button-colors(#FFF);
    border: solid 2px $color-twitter;
    height: 65px;
    width: 160px;
    @include small-desktop{
      width: 130px;
    }
    @include tablet{
      width: 24%;
    }
    @include phone{
      width: 49%;
    }
  }

}
/**
 * Mayday Button Newest Leaders
 */

a.btn-targets {
  margin-top:12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  @include button-colors(#b0aeaf);
  color: #fff ;


  @include large-desktop {
    padding: 6px 28px;
    font-size: 14px;
  }

  @include small-desktop {
    // padding: 8px 15px;
    font-size: 12px;
  }
}

 /**
 * Donate button Mixin
 * @param {Color} $color-dark-red
 */
@mixin donate-button($color-dark-red){
  border-radius: 5px;
  text-decoration: none;
  background-color: $color-dark-red;
  font-size: 20px;
  border: 2px solid darken(white, 10%);
  padding: 6px 20px;
  &:hover {
    color: #fff;
    background-color: lighten( $color-dark-red, 5% );
    border: 2px solid #fff;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $color-grey;
    }
  }
}
.icon-spacer{
  padding-right:5px;
}

@font-face {
    font-family: 'socicon';
    src: url('/fonts/socicon/socicon-webfont.eot');
    src: url('/fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/socicon/socicon-webfont.woff') format('woff'),
         url('/fonts/socicon/socicon-webfont.ttf') format('truetype'),
         url('/fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
    -webkit-font-smoothing: antialiased;
}

/**
 * responsive margins
 */
.col-centered{
  margin: 0 auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // margin-bottom: 80px;
  @include phone {
    padding-right: 10px;
    padding-left: 10px;

  }
}
.no-gutter-phone  > [class*='col-'] {
  @include phone {
    padding-right:0;
    padding-left:0;
  }
}
.gutter-justphone  > [class*='col-'] {
  @include tablet {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include small-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include large-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
form.no-gutter fieldset > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}
.half-gutter > [class*='col-'] {
    padding-right:15px;
    padding-left:15px;
}
.no-gutter-top > [class*='col-'] {
    padding-top:0;
    margin-top: 0;
}
.wide-gutter > [class*='col-'] {
  padding-left:30px;
  padding-right:30px;
}
.center-block{
  float: none;
}
/**
 * page headlines
 */
.mayday-headline{
  font-size: 60px;
  margin-bottom: .315em;
  @include small-desktop {
    margin-bottom: .215em;
  }
}
.mayday-headline-M2{
  font-size: 55px;
  margin-bottom: .315em;
  @include small-desktop {
    margin-bottom: .215em;
  }
}
.mayday-headline-smaller{
  font-weight: 400;
  font-size: 40px;
}
.mayday-headline-smaller-inverse{
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  @include tablet{
    font-size: 30px;
  }
}
.mayday-headline-smaller-thinner{
  font-weight: 300;
}
.index-page-title{
  font-size: 34px;
  font-weight: 400;
  margin: 0 0 40px;
  text-align: center;
  //text-align: center; margin-bottom: 40px; margin-top: 0;
  @include phone{
    margin: 25px 0 25px;
  }
}
.lead-font-size{
  font-size: 21px;
}

/* helper classes */
.no-top-margin{
  margin-top:0 !important;
}

.no-bottom-margin{
  margin-bottom:0 !important;
}
.bottom-spacer{
  margin-bottom: 80px;
}
.bottom-thankyou-spacer{
  margin-top: 20px;
}
.thinner-font{
  font-weight: 300;
}




