/**
 * Reset some basic bootstrap elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Variables
 */
$color-navy-blue: #16213f;
$color-navy-blue-mid: rgb(30,46,80);
$color-navy-blue-light: #0d3960;
$color-dark-red: #b0010e;
$color-grey-blue: rgb(118, 159, 189);
$color-offwhite: rgb(228,228,228);

$base-font-family: 'Lato';
$base-font-size: 18px;
$small-font-size: 8;

$color-background: #ffffff;
$color-brand: #0d3960;
$color-dark-grey: rgb(50,50,50);
$color-grey: #808080;
$color-grey-light: #cccccc;
$color-grey-background: #f0f0f0;
$color-grey-line: #b7b7b7;
$color-text: #5C5C5C;
$color-dossier-blue: #1c7bab;
$color-dossier-red: #910216;
$color-dossier-green: #426E2F;
$color-dossier-orange: #D07F30;


$spacing-unit: 1;
$spacing-unit-half: 0.5em;
$base-line-height: 1.0em;
$page-content-line-height: 1.4em;
$content-width: 1280;
$bottom-spacing: 15px;
$top-spacing: 15px;
$left-margin-spacing: 1.3em;

$header-weight: 300;

/**
 * Mixins for Panels and Buttons
 */

$color-facebook: rgb(59, 89, 151);
$color-twitter: rgb(64, 153, 255);
$color-youtube: rgb(117, 117, 117);
$color-reddit: rgb(31, 89, 111);
$color-join-mayday: rgb(19, 83, 145);
$color-volunteer: rgb(80, 107, 134);
$color-orientation: rgb(76, 43, 98);

$bg-img-dir: '../images/action/';
$orientation-bg-img: 'orientation-bg.jpg';
$donor-strike-bg-img: 'donor-strike-bg.jpg';
$reddit-bg-img: 'reddit-bg.jpg';
$volunteer-bg-img: 'volunteer-bg.jpg';
$share-bg-img: 'share-bg.jpg';

@mixin star-rotation($rotation) {
  -ms-transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  transform: rotate($rotation);
}