/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Variables
 */
$navy-blue-color: #16213f;
$navy-blue-mid-color: rgb(30,46,80);
$navy-blue-light-color: #0d3960;
$dark-red-color: #b0010e;
$grey-blue-color: rgb(118, 159, 189);
$offwhite-color: rgb(228,228,228);

$base-font-family: 'Lato';
$base-font-size: 18px;
$small-font-size: 8;

$background-color: #ffffff;
$brand-color: #0d3960;
$dark-grey-color: rgb(50, 50, 50);
$grey-color: #808080;
$light-grey-color: #cccccc;
$grey-color-light: #cccccc;
$text-color: #5C5C5C;



$spacing-unit: 1;
$spacing-unit-half: 0.5em;
$base-line-height: 1.0em;
$page-content-line-height: 1.6em;
$content-width: 1280;
$bottom-spacing: 15px;
$top-spacing: 15px;
$left-margin-spacing: 1.3em;

$header-weight: 300;

$tablet-min-width: 768px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

/**
 * Mixins for Panels and Buttons
 */

$facebook-color: rgb(59, 89, 151);
$twitter-color: rgb(64, 153, 255);
$youtube-color: rgb(117, 117, 117);
$reddit-color: rgb(31, 89, 111);
$join-mayday-color: rgb(19, 83, 145);
$volunteer-color: rgb(80, 107, 134);
$orientation-color: rgb(76, 43, 98);

$bg-img-dir: '../images/action/';
$orientation-bg-img: 'orientation-bg.jpg';
$donor-strike-bg-img: 'donor-strike-bg.jpg';
$reddit-bg-img: 'reddit-bg.jpg';
$volunteer-bg-img: 'volunteer-bg.jpg';
$share-bg-img: 'share-bg.jpg';

@mixin phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop-min-width}) and (max-width: #{$large-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-min-width}) {
    @content;
  }
}


/**
 * Basic styling
 */
html, body {
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  @include phone{
    color: #333;
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-top: $top-spacing;
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $left-margin-spacing;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3 {
  font-weight: $header-weight;
  color: $navy-blue-light-color;
}

h1{
  font-size: 40px;
  margin: 0 0 20px;
}

p.subheader {
  color: $navy-blue-light-color;
  font-weight: 300;
}

p.byline{
  color: $navy-blue-light-color;
  font-weight: 700;
  font-style: italic;
  font-size:21px
}



/**
 * Paragraph
 */
p {
  margin-bottom: $bottom-spacing;
}


/**
 * Paragraph
 */
p {
  margin-bottom: $bottom-spacing;
}


/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  padding: 0.5em 1em;
  display:inline-block;
  margin-left:1em;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  background: #FAFAFA;

  > :first-child{
    margin-top:0;
    padding-top:0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * signup form
 */

 /**
 * Wide Button Mixin
 * @param {Color} $bg-color
 */
@mixin wide-button($bg-color) {
  color: white;
  background-color: $bg-color;
  border: 1px solid $bg-color;
  margin-bottom: 10px;
  width: 100%;

  text-transform: uppercase;
  font-weight: 300;

  margin-top: 6px;
  padding: 16px 16px;


  &:hover {
    color: white;
    background-color: lighten( $bg-color, 5% );
    border-color: lighten( $bg-color, 5% );
  }
}
 /**
 * Wide Button Mixin
 * @param {Color} $dark-red-color
 */
@mixin tab-button($dark-red-color){
  border-radius: 5px;
  text-decoration: none;
  background-color: $dark-red-color;
  font-size: 20px;
  &:hover {
    color: white;
    background-color: lighten( $dark-red-color, 5% );
    border-color: lighten( rgb(91,121,150), 5% );
  }
}

.btn-mayday {
  @include wide-button($dark-red-color);
  font-size: 28px;
  padding: 9px 0px;
  margin:0;
  border: none;
  font-weight:300;
  letter-spacing: 1px;
}
.btn-reddit {
  @include wide-button($reddit-color);
  font-size: 22px;
  padding: 12px 0px;
  margin:0;
  border: none;
  font-weight:300;
  letter-spacing: 1px;
}
.btn-suggestion {
  @include wide-button($join-mayday-color);
  text-transform: none;
  font-size: 18px;
  padding: 14px 0px;
  margin:0;
  border: none;
  font-weight:300;
  letter-spacing: 1px;
}

.box-inner {
  height: 100%;
  position: relative;
  &.top-left-box {
    background-color: rgba(0,0,0,.1);
  }
  &.top-right-box {
    border: 1px solid $navy-blue-color;
    .box-title {
      height: 18%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #ffffff;
      background-color: $navy-blue-color;
      font-size: 27px;
      border-bottom: 10px solid $navy-blue-light-color;
    }
    .rally {
      margin-top: 15px;
      font-size: 23px;
      line-height: 32px;
      padding: 0px 22px;
      font-weight:300;
    }
    form {
      margin: 25px 15px 0px 15px;
      font-size: 22px;
      padding-bottom: 20px;
      input {
        width: 100%;
        border: 2px solid $navy-blue-color;
        padding: 8px 0px 8px 12px;
        border-radius: 4px;
        margin-bottom: 20px;
      }
      button {
        width: 100%;
        color: #ffffff;
        font-size: 28px;
        padding: 20px 0px;
        border: none;
        border-radius: 5px;
        background-color: $dark-red-color;
      }
    }
  }
  &.bottom-left-box {
    background-color: rgb(228,229,233);
    border-radius: 4px;
    text-align: center;
    color: $navy-blue-light-color;
    font-weight: 400;
    padding-top: 22px;
    .headline {
      font-size: 34px;
    }
    .icon-line {
      margin-top: 10px;
      height: 20px;
      text-align: center;
      position: relative;
      .half-hr {
        display: inline-block;
        width: 60px;
        background-color: rgb(193,197,200);
        height: 1px;
        margin-bottom: 8px;
      }
      i {
        font-size: 20px;
        padding: 0 10px;
      }
    }
    .counter-label {
      font-size: 24px;
    }
    .counter-row {
      margin-top: 6px;
      height: 84px;
      .tile {
        margin: 0 1.5px;
        padding-top: 28px;
        border-radius: 8px;
        color: white;
        display: inline-block;
        height: 100%;
        width: 56px;
        background-color: $navy-blue-light-color;
        font-size: 76px;
        position: relative;
        .hr {
          width: 100%;
          position: absolute;
          top: 42px;
          left: 0;
          right: 0;
          height: 1px;
          background-color: rgb(0,0,0);
        }
      }
    }
  }
  &.bottom-right-box {
    // from include -- _progress.scss
  }
}


/**
 * Wrapper
 */



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
.icon-spacer{
  padding-right:5px;
}

@font-face {
    font-family: 'socicon';
    src: url('/fonts/socicon/socicon-webfont.eot');
    src: url('/fonts/socicon/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/socicon/socicon-webfont.woff') format('woff'),
         url('/fonts/socicon/socicon-webfont.ttf') format('truetype'),
         url('/fonts/socicon/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
    -webkit-font-smoothing: antialiased;
}

/**
 * responsive margins
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // margin-bottom: 80px;
  @include phone {
    padding-right: 10px;
    padding-left: 10px;

  }
}
.no-gutter-phone  > [class*='col-'] {
  @include phone {
    padding-right:0;
    padding-left:0;
  }
}
.gutter-justphone  > [class*='col-'] {
  @include tablet {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include small-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include large-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.no-gutter-top > [class*='col-'] {
    padding-top:0;
    margin-top: 0;
}
/**
 * page headlines
 */
.mayday-headline{
  font-size: 60px;
  margin-bottom: .315em;
  @include small-desktop {
    margin-bottom: .215em;
  }
}
.mayday-headline-smaller{
  font-weight: 400;
  font-size: 40px;
}
.mayday-headline-smaller-inverse{
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  @include tablet{
    font-size: 30px;
  }
}
.mayday-headline-smaller-thinner{
  font-weight: 300;
}
.index-page-title{
  font-size: 34px;
  font-weight: 400;
  margin: 25px 0px 50px;
  @include phone{
    margin: 25px 0px 25px;
  }
}
.lead-font-size{
  font-size: 21px;
}

/* helper classes */

.no-bottom-margin{
  margin-bottom:0 !important;
}
.bottom-spacer{
  margin-bottom: 80px;
}
.bottom-thankyou-spacer{
  margin-top: 20px;
}
.thinner-font{
  font-weight: 300;
}
