/**
 * Variables
 */

$base-font-family: 'Rubik', sans-serif;
$base-font-size: 18px;
$small-font-size: 8px;

$base-line-height: 1.0em;
$page-content-line-height: 1.4em;
$bottom-spacing: 20px;
$standard-margin: 20px;
$left-margin-spacing: 1.3em;


$color-facebook: #3B5999;
$color-twitter: #55ACEF;
$color-youtube: #CE201F;
$color-reddit: #EB4923;
$color-join-mayday: rgb(19, 83, 145);
$color-volunteer: rgb(80, 107, 134);
$color-orientation: rgb(76, 43, 98);


/* 2015 MAYDAY COLORS */
  $color-navy-blue: #16213f;
  $color-navy-blue-mid: rgb(30,46,80);
  $color-navy-blue-light: #0d3960;
  $color-dark-red: #b0010e;
  $color-grey-blue: rgb(118, 159, 189);
  $color-brand: $color-navy-blue-light;
  $color-dark-grey: rgb(50,50,50);
  $color-grey: #808080;
  $color-grey-light: #ccc;
  $color-grey-background: #f0f0f0;
  $color-grey-line: #b7b7b7;
  $color-dossier-blue: #1c7bab;
  $color-dossier-red: #910216;
  $color-dossier-green: #426e2f;
  $color-dossier-orange: #d07f30;
  $color-background: #fff;
/* 2015 button colors */
  $color-button-blue: #094067;
  $color-button-purple: #513c5f;
  $color-button-lightblue: #5e8cac;
  $color-button-green: #759c64;
  $color-button-orange: #eaa663;
  $color-button-lightred: #af010e;


/* 2016 MAYDAY COLORS */
  $mayday-blue-black:      #212230;
  $mayday-blue-dark:       #00467e;
  $mayday-blue-medium:     #0054b9;
  $mayday-blue-light:      #2ac4ea;
  $mayday-grey-dark-alpha: rgba(#7b8082,0.65);
  $mayday-grey-dark:       #7b8082;
  $mayday-grey-medium:     #dae4e7;
  $mayday-grey-light:      #f4f4f4;
  $mayday-orange-medium:   #ee3800;
  $mayday-orange-light:    #f36433;
  $mayday-green-light:     #0ad6b2;
  $mayday-yellow-light:    #fdd63f;

  /* 2016 image overlay pixels image names*/
  $pixel_blue_black:    'overlay_blue_black_212230.png';
  $pixel_blue_medium:   'overlay_blue_medium_0054b9.png';
  $pixel_blue_dark:     'overlay_blue_dark_00467e.png';
  $pixel_blue_light:    'overlay_blue_light_2ac4ea.png';
  $pixel_grey_dark:     'overlay_grey_dark_7b8082.png';
  $pixel_grey_medium:   'overlay_grey_medium_dae437.png';
  $pixel_grey_light:    'overlay_grey_light_f4f4f4.png';
  $pixel_orange_medium: 'overlay_orange_medium_ee3800.png';
  $pixel_orange_light:  'overlay_orange_light_f36433.png';
  $pixel_green_light:   'overlay_green_light_0ad6b2.png';
  $pixel_yellow_light:  'overlay_yellow_light_fdd63f.png';

  $mayday-text: $mayday-blue-black;
  $mayday-background: #fff;

/* common elements */


/* iframe loading animation */

iframe {
	background:white;
	background-image:url('/images/loading-md.gif');
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:128px;
	position:relative;
	background-size:20px;
	transition: height 50ms ease-out;
	-webkit-transition: height 50ms ease-out;
	-moz-transition: height 50ms ease-out;
	-o-transition: height 50ms ease-out;
}

/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	max-width: 960px;
	margin: 0 auto 1em;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* contribution rules */

.contribution-rules {
	background: transparent !important;
	padding:0 !important;
	margin-top: 0 !important;
	
	h4 {
		color:$mayday-grey-dark;
		margin-bottom:10px;
	}
	p, li {
		color:$mayday-grey-dark;
		font-size:15px;
		line-height:22px;
	}
	p {
		margin-bottom:10px;
	}
}

.btn-mayday.facebook {
	background-color:$mayday-blue-medium;
}

.btn-mayday.twitter {
	background-color:$mayday-blue-light;
}

.text-blue-medium {
	color:$mayday-blue-medium;	
}

.text-blue-dark {
	color:$mayday-blue-dark;
}

.text-grey-medium {
	color:$mayday-grey-medium;	
}

.text-grey-dark {
	color:$mayday-grey-dark;
}

.box {
	padding:20px;
	border-radius:2px;
	background:white;
}

.box-grey-light {
	background:$mayday-grey-light;
}

.box-blue-medium {
	background:$mayday-blue-medium;
}

.green {
	background:$mayday-green-light;
}

body {
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

#pre-donate-form {
	text-align:center;
	position:relative;
	
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 80px;
		background: $mayday-grey-light;
		margin-top: -80px;
	}
	
	h3 {
		color:white;
		margin-bottom:10px;
		padding-bottom:10px;
		border-bottom: 2px solid $mayday-grey-medium;
		display:inline-block;
	}
	
	.container {
		margin:0 auto;
	}
	
	.btn-group.btn-group-mayday {
		width: 100%;
		text-align: center;
	
	}
	
	.btn {
		background:$mayday-blue-dark;
		color:white;
		display:inline-block;
		float:none;
		margin:0 0 20px;
		
		&.green {
			background:$mayday-green-light;
		}
		
		&:hover {
			background:$mayday-blue-light;
		}
	}

}

a.btn.btn-mayday.paypal {
    display: inline;
    width: auto;
    padding: 5px;
    font-size: 14px;
    background: rgba($mayday-blue-medium,.5);
	font-weight:400;
	
	&:hover {
		background:$mayday-blue-medium;
	}
}

.we-need-your-help {
    color: white !important;
    background: $mayday-orange-light;
    padding: 20px 20px 0px;
    margin: -42px -40px 40px;
	position:relative;
	font-weight:400;
	
	span {
		position:relative;
		z-index:1;
	}
	
	&:before {
		content:' ';
		display:block;
		position:absolute;
		width:50%;
		background:$mayday-orange-light;
		height:40px;
		left:0;
		bottom:-20px;
		z-index:0;
		transform: skew(0deg, 2deg) ;
		-webkit-transform: skew(0deg, 3deg) ;
		-moz-transform: skew(0deg, 3deg) ;
		-o-transform: skew(0deg, 3deg) ;
		-ms-transform: skew(0deg, 3deg) ;
	}
	
	&:after {
		content:' ';
		display:block;
		position:absolute;
		width:50%;
		background:$mayday-orange-light;
		height:40px;
		right:0;
		bottom:-20px;
		z-index:0;
		transform: skew(0deg, -3deg) ;
		-webkit-transform: skew(0deg, -3deg) ;
		-moz-transform: skew(0deg, -3deg) ;
		-o-transform: skew(0deg, -3deg) ;
		-ms-transform: skew(0deg, -3deg) ;
	}
	
}