
.dossier-page{
  margin-top: -45px;
  h2{
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1.5px;
  }
  p{
    font-weight: 400;
  }
  .dossier-img{
    width: 315px;
    padding:2px;
    border-radius:2px;
  }
  .lead-title{
    margin-top: 0;
  }
  .links{
    margin-top: 18px;
    font-size: 16px;
    font-weight: 400;
  }
  .page-content{
    margin-top: 18px;
    .election-info{
      margin-top: 0;
      color: #9b9c9e;
      font-size: 14px;
    }
  }
  .spacer{
    padding-left: 15px;
  }
  .bottom-line, .top-line-left{
    height: 6px;
  }
  .top-line-left{
    height: 20px;
  }
}
.dossier-page.with-us-true{
  h2{
    color: $color-dossier-blue;
  }
  .dossier-img{
    border:3px solid $color-dossier-blue;
  }
  .bottom-line, .make-call, .top-line-left{
    background-color: $color-dossier-blue;
  }
}
.dossier-page.with-us-false{
  h2{
    color: $color-dossier-red;
  }
  .dossier-img{
    border:3px solid $color-dossier-red;
  }
  .bottom-line, .make-call, .top-line-left{
    background-color: $color-dossier-red;
  } 
}
.twitter-small{
  margin-left: 10px !important;
  >.fa-twitter{
    color: $color-twitter;
    font-size:1.5em;
    line-height: 50%;
  }
}
.facebook-small>.fa-facebook{
  color: $color-facebook;
  font-size:1.3em;
  line-height: 50%;
}
.talley{
  height: 45px;
}
