/** 
 * Mayday Panel Styles
 */
.panel-title {

}
/** 
 * Mayday Content
 */
.faq-qa{
  width: 6.5%;
  display: inline-block;
  float: left;
  padding-right: 1rem;

  @include small-desktop {
    width: 10%

  }
  
  @include tablet {
    width: 10%

  }

  @include phone {
    width: 10%;

  }
}
.faq-content{
  width: 87.5%;
  display: inline-block;
  float: left;


  @include small-desktop {
    width: 85%

  }
  
  @include tablet {
    width: 85%

  }

  @include phone {
    width: 85%

  }
}
.faq-content p {
  padding-top: 7px;
  padding-bottom: 0;
  margin-bottom: 7px;

  @include small-desktop {

  }
  
  @include tablet {

  }

  @include phone {
    padding-top: 1rem;

  }
}
.faq-letter{
  color: $dark-red-color;
  font-weight: 700;
}

/** 
 * Mayday Button
 */

.btn-submit-join{
  width: 100%;
  background-color: $dark-red-color;
  border-color: $grey-blue-color;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.5rem;


  &:hover {
    background-color: $grey-color-light;
    border-color: $grey-color-light;
  }
}

