

/** 
 * Mayday Panel Styles
 */
.panel-title {

}
/** 
 * Mayday Content
 */
.faq-qa{
  width: 6.5%;
  display: inline-block;
  float: left;
  padding-right: 1rem;
}
.faq-content{
  width: 87.5%;
  display: inline-block;
  float: left;
}
.faq-content p {
  padding-top: .6rem;
}
.faq-letter{
  color: $dark-red-color;
}

/** 
 * Mayday Button
 */

.btn-submit-join{
  width: 100%;
  background-color: $dark-red-color;
  border-color: $grey-blue-color;
  text-transform: uppercase;
  color: #FFF;
  font-size: 1.5rem;


  &:hover {
    background-color: $grey-color-light;
    border-color: $grey-color-light;
  }
}
/*
 a.btn-targets {
  background-color: $dark-red-color;
  border-color: $grey-blue-color;
  text-transform: uppercase;
  color: white;
  font-weight: 100;

  @include large-desktop {
    padding: 4px 8px;
    font-size: 12px;
  }

  @include small-desktop {
    padding: 4px 8px;
    font-size: 12px;
  }
  
  @include tablet {
    padding: 6px 16px;
    font-size: 14px;
  }

  @include phone {
    padding: 6px 16px;
    font-size: 14px;
  }

  &:hover {
    background-color: $grey-color-light;
    border-color: $grey-color-light;
  }
}*/
