
/**
 * buttons
 */

 /**
 * Wide Button Mixin
 * @param {Color} $color-bg
 */
@mixin button-colors($color-bg, $color-font: #fff) {
  color: $color-font;
  background-color: $color-bg;
  // border: 1px solid $color-bg;
  &:hover {
    color: $color-font;
    background-color: lighten( $color-bg, 5% );
    // border-color: lighten( $color-bg, 5% );
  }
  &:visited, &:link, &:focus{
    color: $color-font;
  }
}
.btn-md-wide, .btn-md-md{
  @include button-colors($color-dark-red);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 6px;
  padding: 16px;
  font-size: 28px;
  line-height: normal;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-md-md{
  padding: 8px;
  font-size: 22px;
}

@mixin simple-button{
  margin:0;
  letter-spacing: 1px;
  @include phone{
    letter-spacing: 0;
    font-size:20px;
  }
}

.btn-md-red, a.btn-md-red:link {
  @include simple-button;
}
.btn-md-gray, a.btn-md-gray:link {
  @include button-colors($color-grey);
  @include simple-button;
  font-weight: 300;
}

.vid-share-button{
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 400;
  padding: 10px 0;
}
.tw-row{
  @include button-colors($color-twitter);
  width: 98%;
  margin: 3% 0 2% 2.5%;
}
.fb-row{
  @include button-colors($color-facebook);
  width: 98%;
  margin: 3% 2% 2% 0;
}


.btn-share-center {
  margin-top: 12px;
  height: 50px;
  text-align: center;
  font-size:20px;
  font-weight: 400;

  .fa {
    font-size: 1.5em;
    line-height: 0;
  }

  .text {
    text-align: center;
    font-weight: 400;
  }


  &.facebook {
    @include button-colors($color-facebook);
  }
  &.reddit {
    @include button-colors($color-reddit);
  }
  &.twitter {
    @include button-colors($color-twitter);
  }
  &.youtube {
    @include button-colors($color-youtube);
  }
}

/**
 * Mayday Button Newest Leaders
 */

a.btn-targets {
  margin-top:12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  @include button-colors(#b0aeaf);
  color: #fff ;


  @include large-desktop {
    padding: 6px 28px;
    font-size: 14px;
  }

  @include small-desktop {
    // padding: 8px 15px;
    font-size: 12px;
  }
}

 /**
 * Donate button Mixin
 * @param {Color} $color-dark-red
 */
@mixin donate-button($color-dark-red){
  border-radius: 5px;
  text-decoration: none;
  background-color: $color-dark-red;
  font-size: 20px;
  border: 2px solid darken(white, 10%);
  padding: 6px 20px;
  &:hover {
    color: #fff;
    background-color: lighten( $color-dark-red, 5% );
    border: 2px solid #fff;
  }
}


input.error{
  border-color: $color-dark-red;
}
label.error{
  position: absolute;
  top: 55px;
  left: 10px;
  background: $color-grey-background;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid $color-dark-red;
  padding: 0 3px;
  box-shadow:2px 2px 10px #000;
  white-space: nowrap;
  max-width: initial;
  color:$color-dark-red;
  z-index: 999;

  &:before, &:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: auto;
  }

  &:before {
    margin-left: 10px;
    top: -13px;
    border: 6px solid;
    border-color: transparent transparent $color-dark-red transparent;
  }
  &:after{
    left: 8px;
    top: -13px;
    border: 8px solid;
    border-color: transparent transparent #f0f0f0 transparent;
  }
}

.help-block.for-checkboxes{
  font-size:15px;
  line-height: 1em;
  margin-top:0;
}

.md-select-container{
  padding-top:25px !important;
}
select.md-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAMAAACo9wirAAAAYFBMVEVgom3///9Gk1ZFklW618BIlVhLlluu0LW007vL4c+31b3J381JlVnG3svR5NWEt47O4tLD3MhIlFdMl1uqzbHT5denzK+kyqxEkVREklS82MGx0ri+2cSx0be718G+2cO1O2/xAAAAfElEQVR42u2SVw6AMAxDcUPLpuw97n9LlgSoQA8A5Cex9D5sK4ZR6+cHvgzIMTnLpJMKMCDmh+IxGgVgJoKd4AFMpnpgLjx/O30PLruaJBuOWA7hwKa7FNQimgkRoaf7mGQhTNMQFj32kCHPkemKKoBC32RZrqv6P+pdwAQUF3SzOG6XwQAAAABJRU5ErkJggg==);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOtJREFUeNpiZICC9PT0BCDVD8SBM2fOPMBABADqcQBS64G4EKhnAUiMCSoxH0iBsAAQ74caTsgwkJr9UD3zoWYwMEIZ2AxIhNmKxbACqG/QwQImqA3YANxWNMPm4zAMBASYz549u9LExEQByDHAosAAJAdUsxHJMFzBsQDoo0hGJJtBthbgUHwBZgEO+UagYQ3gMMQS0PMZSAMoYc2MLAP02gWgFx8CmaDkwEHAoA9AnIkecYw4YtEAKUngMswRaNgFdAlGPOkMl6E4DcNrINRQAaihBkiRAzLsAy49jETkCJihDIQMAwGAAAMAgcJYQ9I0xNEAAAAASUVORK5CYII=);
  background-position: right 13px center;
  background-repeat: no-repeat;
  border: 1px $color-navy-blue solid;
  border-radius: 5px;
  color: $color-dark-grey;
  display: block;
  font-size: 16px; /* cannot be set lower or causes iOS zoom */
  padding: 10px 50px 10px 10px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
}


form.md-inputs {
  padding-bottom: 15px;
}

.md-inputs {
  input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
    font-size: 22px;
    width: 100%;
    /*border: 2px solid #16213f;*/
    border:none;
    background-color:#efefef;
    padding: 8px 0 8px 12px;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(90,90,90,0.1) inset;

    &.error{
      border-color:$color-dark-red;
    }
  }
  &.smaller-form{
    padding-bottom: 0;
    .form-group{
      input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
  input:disabled, input:disabled:-webkit-autofill{
    border-color:#999;
    color:#666;
    -webkit-text-fill-color:#666;
    background-color: #ddd;
    -webkit-box-shadow: 0 0 0 1000px #ddd inset;
  }
}
form.md-inputs{
  ::-webkit-input-placeholder{color:#aaa;}
  :-moz-placeholder{color:#aaa;}
  ::-moz-placeholder{color:#aaa;}
  :-ms-input-placeholder{color:#aaa;}

  input[type=text], input[type=email], input[type=tel], input[type=number], textarea {
    padding:5px 10px;
    height:auto;
  }
  .help-block{
    margin:0;
    font-size:15px;
    text-align: left;
    margin-left:2px;
    line-height: normal;
    padding-top:0;
    margin-top:-15px;
    margin-bottom:10px;
  }

  .btn + .help-block, label + .help-block{
    margin-top:0;
  }
}