
/**
 * buttons
 */

  /**
 * Wide Button Mixin
 * @param {Color} $color-bg
 */
@mixin button-colors($color-bg: $mayday-orange-medium) {
  background-color: $color-bg;
  &:hover {
    background-color: lighten( $color-bg, 5% );
  }
}

.btn-mayday{
  @include button-colors;
  padding:10px;
  background-color:$mayday-orange-medium;
  font-weight:700;
  text-transform: uppercase;
  color: $mayday-background;
  font-size:18px;
  width: 100%;
  border-radius: 2px;

  .fa{
    padding-left:5px;
  }

  small{
    text-transform: none;
    font-weight: 400;
    font-size: 70%;
    padding-left: 3px;
  }


  &:hover, &:visited, &:link, &:focus{
    color: $mayday-background;
  }

  &.btn-mayday-lg{
    padding:18px;
    font-size:24px;
    font-weight: 500;
  }
  &.btn-mayday-md{
    padding: 9px;
    font-size: 14px;
  }
  &.short{
    line-height: 17px;
    font-size:20px;
  }

  &.btn-mayday-blue{@include button-colors($mayday-blue-dark);}
  &.btn-mayday-blue-medium{@include button-colors($mayday-blue-medium);}
  &.btn-mayday-white{
    background-color: #fff;
    color:$mayday-grey-dark;
    &:hover{
      color: $mayday-blue-black;
    }
    &.active{
      background-color:$mayday-grey-medium;
    }
  }
  &.btn-mayday-hollow{
    background-color: transparent;
    border: 2px solid $mayday-background;
    border-radius: 4px;
    width: auto;
    padding: 8px 20px;

    &:hover{background:$mayday-background;}
  }
  &.btn-mayday-hollow.green-light-hover:hover{color:$mayday-green-light;}
  &.btn-mayday-hollow.yellow-light-hover:hover{color:$mayday-yellow-light;}
  &.btn-mayday-hollow.blue-light-hover:hover{color:$mayday-blue-light;}
  &.btn-mayday-clear{
    background:none;
    color:$mayday-blue-medium;
    width:auto;
    &:hover {
      background-color: rgba(50,50,50,0.1);
      color: $mayday-blue-dark;
    }
    &.active{
      background-color: $mayday-yellow-light;
    }
    #index &.active{
      background-color: $mayday-background;
    }
  }
}

.btn{
  &.btn-social{
    color:$mayday-background;
    .fa{margin-right:5px;}
  }
  &.btn-facebook {@include button-colors($color-facebook);}
  &.btn-reddit   {@include button-colors($color-reddit);}
  &.btn-twitter  {@include button-colors($color-twitter);}
  &.btn-youtube  {@include button-colors($color-youtube);}
}

/* BTN GROUP OVERRIDES */
.btn-group{
  &.btn-group-flexed{
    @include flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &.btn-group-mayday>.btn{
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
  }
  .btn-social{
    border-radius: 0;
    width:80px;
    padding:21px 0 20px;
  }
  .btn.active{
    box-shadow: none;
  }
}


/**************************2016 INPUTS */
.mayday-inputs form, form.mayday-inputs{
  text-align:left;
}
.mayday-inputs{
  @include input-placeholder{
    color: $mayday-grey-dark;
  }

  input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
    font-family: $base-font-family;
    border:2px solid $mayday-blue-black;
    border-width:0 0 2px;
    background:transparent;
    width:100%;
    font-size: 20px;
    padding: 6px 0;
    border-radius:0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  input{
    &:focus{
      outline:none;
    }
    &.error{
      border-color:$color-dark-red;
    }
    &:disabled{
      border-color:$mayday-grey-medium;
      &::-webkit-input-placeholder{color:$mayday-grey-medium}
      &:-moz-placeholder{color:$mayday-grey-medium}
      &::-moz-placeholder{color:$mayday-grey-medium}
      &:-ms-input-placeholder{color:$mayday-grey-medium}
    }
  }

  input[type=checkbox], input[type=radio] {
    margin-top:6px;
  }
  .checkbox label, label.checkbox-inline, .radio label, label.radio-inline{
    color: $mayday-grey-dark;
  }

  &.single-row{
    .form-group{margin-bottom: 0}
  }

  &.black-background{
    background-color: rgba(0,0,0,0.5);
    padding:20px 40px 30px;
    border-radius:2px;
  }

  &.white-inputs{
    input[type=text], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
      border:none;
      border-bottom:2px solid $mayday-background;
    }

    @include input-placeholder{
      padding-left:1px;
      color:rgba($mayday-background, 0.8);
    }
  }

  .help-block{
    font-size:15px;
    text-align: left;
    line-height: normal;
    padding-top:0;
    margin:-5px 0 10px 0;
    &.for-checkboxes{
      font-size:15px;
      line-height: 1em;
      margin-top:0;
    }
    .btn + &, label + &{
      margin-top:0;
    }
  }
  p.help-block{
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    color:$mayday-grey-dark-alpha;
  }
}

/**************************LEGACY ERROR POPUPS */
input.error{
  border-color: $color-dark-red;
}
label.error{
  position: absolute;
  top: 55px;
  left: 10px;
  background: $color-grey-background;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid $color-dark-red;
  padding: 0 3px;
  box-shadow:2px 2px 10px #000;
  white-space: nowrap;
  max-width: initial;
  color:$color-dark-red;
  z-index: 999;

  &:before, &:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: auto;
  }

  &:before {
    margin-left: 10px;
    top: -13px;
    border: 6px solid;
    border-color: transparent transparent $color-dark-red transparent;
  }
  &:after{
    left: 8px;
    top: -13px;
    border: 8px solid;
    border-color: transparent transparent #f0f0f0 transparent;
  }
}

.md-select-container{
  padding-top:25px !important;
}
select.md-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAMAAACo9wirAAAAYFBMVEVgom3///9Gk1ZFklW618BIlVhLlluu0LW007vL4c+31b3J381JlVnG3svR5NWEt47O4tLD3MhIlFdMl1uqzbHT5denzK+kyqxEkVREklS82MGx0ri+2cSx0be718G+2cO1O2/xAAAAfElEQVR42u2SVw6AMAxDcUPLpuw97n9LlgSoQA8A5Cex9D5sK4ZR6+cHvgzIMTnLpJMKMCDmh+IxGgVgJoKd4AFMpnpgLjx/O30PLruaJBuOWA7hwKa7FNQimgkRoaf7mGQhTNMQFj32kCHPkemKKoBC32RZrqv6P+pdwAQUF3SzOG6XwQAAAABJRU5ErkJggg==);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOtJREFUeNpiZICC9PT0BCDVD8SBM2fOPMBABADqcQBS64G4EKhnAUiMCSoxH0iBsAAQ74caTsgwkJr9UD3zoWYwMEIZ2AxIhNmKxbACqG/QwQImqA3YANxWNMPm4zAMBASYz549u9LExEQByDHAosAAJAdUsxHJMFzBsQDoo0hGJJtBthbgUHwBZgEO+UagYQ3gMMQS0PMZSAMoYc2MLAP02gWgFx8CmaDkwEHAoA9AnIkecYw4YtEAKUngMswRaNgFdAlGPOkMl6E4DcNrINRQAaihBkiRAzLsAy49jETkCJihDIQMAwGAAAMAgcJYQ9I0xNEAAAAASUVORK5CYII=);
  background-position: right 13px center;
  background-repeat: no-repeat;
  border: 1px $color-navy-blue solid;
  border-radius: 5px;
  color: $color-dark-grey;
  display: block;
  font-size: 16px; /* cannot be set lower or causes iOS zoom */
  padding: 10px 50px 10px 10px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
}