header .navbar-fixed-top{
  top:20px;

  .navbar-header{
    padding-right: 30px;
  }

  a:after{
    display:none;
  }

  .nav-pills{
    >li{
      vertical-align: middle;

      >a{
        &:link:not(.btn), &:visited:not(.btn) {
          color: #212230;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          border:none;
          padding: 15px 15px 10px;
        }
      }
      &.btn-wrap{
        width:0.5%;
        a:not(.btn){
          padding:0;
        }
        a:hover:not(.btn){
          background-color:transparent;
        }
        span{
          float:right;
          width:auto;
          padding: 7px 14px;
        }
      }
    }
  }

  .navbar-brand:link:not(.btn), .navbar-brand:visited:not(.btn){
    color: $mayday-blue-dark;
  }

  .navbar-brand:hover:not(.btn){
    color: $mayday-text;
  }

  .navbar-brand{
    padding-left: 85px;
    padding-top: 17px;
    position: relative;
    font-weight: 500;
    font-size: 30px;

    &:hover{
      color: $mayday-text
    }

    img{
      position: absolute;
      width: 65px;
      top: -8px;
      left:0;
    }
  }
}

.jumbotron{
  padding-top:100px;
  padding-bottom:0;
  color:#fff;

  p a:hover{
    color:$mayday-grey-medium;
  }
}


footer{
  h1 {
    position: relative;
    line-height: 35px;
    font-size: 24px;
    font-weight: 500;

    a:link:not(.btn), a:visited:not(.btn){
      padding-left: 45px;
      color: $mayday-blue-dark;
    }
    a:hover:not(.btn) {
      color: $mayday-text;
    }

    img{
      position: absolute;
      width: 30px;
      top: 0;
      left:0;
    }
  }

  .btn-group{
    a:hover {
      color: $mayday-text;
    }
    .btn{
      color: $mayday-grey-dark;
    }
  }

  nav{
    li{
      list-style-type: none;
      margin-bottom:5px;

      a:link:not(.btn), a:visited:not(.btn) {
        color: $mayday-grey-dark;
        font-size: 16px;
        &:after{
          border-color: $mayday-grey-dark;
        }
      }
      a:hover:not(.btn) {
        color: $mayday-text;
        &:after{
          border-color:$mayday-text;
        }
      }
    }
  }

  .disclaimer-box {
    color: lighten($mayday-grey-dark, 20%);
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    padding: 8px;
    margin-top: 15px;
    width: 80%;
    border: 1px solid lighten($mayday-grey-dark, 20%);
  }
  .copyright {
    margin-top: 15px;
    color: lighten($mayday-grey-dark, 20%);
    font-size: 15px;
  }
  .creative-commons {
    margin-top: 15px;
  }
}