header .navbar-fixed-top{
  top:20px;
  background-color:$mayday-background;
  @include phone{
    padding-left:10px;
  }

  .navbar-header{
    padding-right: 30px;

    @include tablet-minus{
      padding-right:0;
    }
  }

  a:after{
    display:none;
  }

  .nav-pills{
    >li{
      vertical-align: middle;

      >a{
        &:link:not(.btn), &:visited:not(.btn), &:focus:not(.btn) {
          color: $mayday-blue-black;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;
          border:none;
          padding: 15px 15px 10px;
          border-radius: 0;
          background-color:$mayday-background;
          white-space: nowrap;
          &.collapse{background-color:$mayday-grey-light}
          &.collapsed.collapse{background-color:$mayday-background;}
          @include tablet-minus{
            padding-left:7px;
            padding-right:7px;
          }
        }
        &:hover:not(.btn){
          &.collapsed.collapse{background-color:$mayday-grey-light;}
          background-color:$mayday-grey-light;
        }
      }
      &.btn-wrap{
        width:0.5%;
        a:not(.btn){
          padding:0;
        }
        a:hover:not(.btn){
          background-color:transparent;
        }
        span{
          float:right;
          width:auto;
          padding: 7px 14px;

          @include tablet-minus{
            padding:7px;
          }
        }
        @include phone{
          width:auto;
          span{
            float:none;
          }
        }
      }
    }
  }

  .expanded-menu{
    h4{padding-top: 40px;}
    ul{padding-bottom: 20px;}
  }

  .navbar-brand:link:not(.btn), .navbar-brand:visited:not(.btn){
    color: $mayday-blue-dark;
  }

  .navbar-brand:hover:not(.btn){
    color: $mayday-text;
  }

  .navbar-brand{
    padding-left: 85px;
    padding-top: 17px;
    position: relative;
    font-weight: 500;
    font-size: 30px;

    &:hover{
      color: $mayday-text
    }

    img{
      position: absolute;
      width: 65px;
      top: -8px;
      left:0;
    }

    @include tablet-minus{
      font-size:24px;
      padding-left: 70px;

      img{
        width:55px;
        top:-6px;
      }
    }
  }
}

.jumbotron{
  padding-top:120px;
  padding-bottom:20px;
  color:$mayday-background;

  p a:hover{
    color:$mayday-grey-medium;
  }

  &.dark{
    background:transparent url('/images/campaigns/20160203_jumbotron_bg_2400x900.jpg') center center no-repeat;
    background-size:cover;
    h1{text-shadow: 3px 3px 2px #212230;}
    h2{color:$mayday-yellow-light;}
  }
  @include tablet{
    h1{
      font-size:40px;
    }
  }

}


footer{
  padding-bottom:10px;
  h1 {
    position: relative;
    line-height: 35px;
    font-size: 24px;
    font-weight: 500;

    a:link:not(.btn), a:visited:not(.btn){
      padding-left: 45px;
      color: $mayday-blue-dark;
    }
    a:hover:not(.btn) {
      color: $mayday-text;
    }

    img{
      position: absolute;
      width: 30px;
      top: 0;
      left:0;
    }
  }

  .btn-group{
    a:hover {
      color: $mayday-text;
    }
    .btn{
      color: $mayday-grey-dark;
    }
  }

  .disclaimer-box {
    color: lighten($mayday-grey-dark, 20%);
    display: inline-block;
    font-size: 15px;
    line-height: 16px;
    padding: 8px;
    margin-top: 15px;
    width: 80%;
    border: 1px solid lighten($mayday-grey-dark, 20%);
  }
  .copyright {
    margin-top: 15px;
    color: lighten($mayday-grey-dark, 20%);
    font-size: 15px;
  }
  .creative-commons {
    margin-top: 15px;
  }
}

.expanded-menu{
  li{
    list-style-type: none;
    margin-bottom:5px;
    line-height:18px;

    a:link:not(.btn), a:visited:not(.btn) {
      color: $mayday-grey-dark;
      font-size: 16px;
      &.text-orange{color:$mayday-orange-medium;}
      &:after{
        border-color: $mayday-grey-dark;
      }
    }
    a:hover:not(.btn) {
      color: $mayday-text;
      &:after{
        border-color:$mayday-text;
      }
    }
  }
}