/* helper classes */

/* DEPRRECATED */
  .margin-y-0-md{
    @include tablet-plus{margin-top:0 !important;margin-bottom:0 !important;}
  }

  .top-spacer-btn, .top-spacer{margin-top:20px;}
  .margin-bottom-0, .top-spacer-btn .form-group{margin-bottom:0 !important;}
  .bottom-margin{margin-bottom:15px;}
  .bottom-spacer{margin-bottom:80px;}

/* FUTURE USE */
  .thinner-font{font-weight:300;}

  .padding-0{padding:0 !important;}

  .margin-y-0{margin-bottom:0 !important;margin-top:0 !important;}
  .margin-y-xs{margin-bottom:10px !important;margin-top:10px !important;}
  .margin-y-sm{margin-bottom:20px !important;margin-top:20px !important;}
  .margin-y-md{margin-bottom:40px !important;margin-top:40px !important;}
  .margin-y-lg{margin-bottom:60px !important;margin-top:60px !important;}
  .margin-top-0{margin-top:0 !important;}
  .margin-top-xs{margin-top:10px !important;}
  .margin-top-sm{margin-top:20px !important;}
  .margin-top-md{margin-top:40px !important;}
  .margin-top-lg{margin-top:60px !important;}
  .margin-top-xl{margin-top:80px !important;}
  .margin-bottom-0{margin-bottom:0 !important;}
  .margin-bottom-xs{margin-bottom:10px !important;}
  .margin-bottom-sm{margin-bottom:20px !important;}
  .margin-bottom-30{margin-bottom:30px !important;}
  .margin-bottom-md{margin-bottom:40px !important;}
  .margin-bottom-lg{margin-bottom:60px !important;}
  .margin-bottom-xl{margin-bottom:80px !important;}

  .jumbotron h1.text-hide { //bootstrap override
    color:transparent;
  }

.stuck {
  position:fixed;
  top:0;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.vertical-center-inner{
  width:100%;
}