#index {
  font-weight: 300;

/*  .top-panel {
    padding: 40px 0 70px 0;
    .page-title {
      color: $navy-blue-color;
      font-size: 34px;
    }
    .first-row {
      height: 450px;
      margin-top: 40px;
    }
    .second-row {
      height: 350px;
      margin-top: 60px;
      @include phone{
        height: 155%
      }
      @include tablet {
        height: 120%;
      }
      @include small-desktop{
        height: 120%;
      }
    }
    .row {
      div[class*='col-'] {
        margin: 0;
        height: 100%;
        padding-right:0;
        padding-left:0;
      }
      @include tablet {
        >div:first-of-type {
          padding-right: 1.5%;
        }
        >div:nth-of-type(2) {
          padding-left: 1.5%;
        }
      }
      @include small-desktop {
        >div:first-of-type {
          padding-right: 1.5%;
        }
        >div:nth-of-type(2) {
          padding-left: 1.5%;
        }
      }
      @include large-desktop {
        >div:first-of-type {
          padding-right: 1.5%;
        }
        >div:nth-of-type(2) {
          padding-left: 1.5%;
        }
      }
    }
  }
*/

  .homepage-panel{
    padding-top: 115px;
    height: 400px;
    position: relative;
    overflow: hidden;

    h2 {
      font-size: 48px;
    }

    .panel-headline-small {
      margin-top: 30px;
      font-size: 32px;
    }

    p {
      margin-top: 30px;
      font-size: 24px;
      line-height: 40px;
    }

    &.dark {
      background: $navy-blue-light-color;
      color: #ffffff;

      h2{
        color:#fff
      }
    }

    &.light {
    }

    &.ten-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -400px;
        top: -250px;
        height: 650px;
        opacity: .03;
        -ms-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: -500px;
        top: 80px;
        height: 800px;
        opacity: .03;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(3) {
        position: absolute;
        left: 10%;
        top: -160px;
        height: 265px;
        opacity: .03;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(4) {
        position: absolute;
        left: 1%;
        top: -70px;
        width: 600px;
        opacity: .015;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(5) {
        position: absolute;
        left: 25%;
        top: -200px;
        height: 350px;
        opacity: .03;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(6) {
        position: absolute;
        left: 25%;
        top: 260px;
        height: 350px;
        opacity: .02;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(7) {
        position: absolute;
        left: 35%;
        top: 100px;
        height: 200px;
        opacity: .02;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(8) {
        position: absolute;
        left: 33%;
        top: -180px;
        height: 850px;
        opacity: .03;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(9) {
        position: absolute;
        left: 76%;
        top: -170px;
        height: 600px;
        opacity: .03;
        -ms-transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
      }
      .bg-star:nth-of-type(10) {
        position: absolute;
        left: 82%;
        top: 275px;
        height: 200px;
        opacity: .04;
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }
    }

    &.starless{
    }

    &.two-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -35%;
        top: -450px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: 35%;
        top: -750px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
      }
    }

    &.three-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -35%;
        top: -450px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        z-index: 0;
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: 40%;
        top: 200px;
        height: 1000px;
        opacity: .04;
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
              z-index: 0;

      }
      .bg-star:nth-of-type(3) {
        position: absolute;
        left: -40%;
        top: 400px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
              z-index: 0;

      }
    }
  }
}

.bottom-join-form {
  position: relative;
  background-color: #ffffff;
  display: block;
  height: 300px;
  width: 600px;
  margin: 80px auto;
  z-index: 999;

  border: 1px solid $navy-blue-color;
  .box-title {
    height: 70px;
    padding: 18px 0px 0px 30px;
    color: #ffffff;
    background-color: $navy-blue-light-color;
    font-size: 27px;
    border-bottom: 10px solid $navy-blue-color;
  }
  .rally {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 22px;
  }
  form {
    margin: 15px 20px 0px 20px;
    font-size: 22px;
    input {
      border: 2px solid $navy-blue-color;
      padding: 8px 0px 8px 12px;
      border-radius: 4px;
      margin-bottom: 15px;
      &[name="email"] {
        width: 62%;
        margin-right: 5px;
      }
      &[name="zip"] {
        width: 36%;
      }
    }
    button {
      width: 100%;
      color: #ffffff;
      font-size: 28px;
      padding: 20px 0px;
      border: none;
      border-radius: 5px;
      background-color: $dark-red-color;
    }
  }
}

#onboarding-modal {
  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    height: 100%;
    margin: 0 auto;
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%;
  }

  .modal-body {
    height: 100%;
  }

  #onboarding-overlay {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }
}