#index {
  font-weight: 300;
  padding-bottom:290px;/* hack for now MARIO TODO*/

  h1{
    margin-bottom:10px;
  }

  .action-panel{
    text-align:center;
    border-radius:5px;
    border: 1px solid $navy-blue-color;
    border-top: 6px solid $navy-blue-color;
    padding:0;

    .panel-icon{
      padding:0;
      background: $navy-blue-color;
      border-bottom:5px solid $navy-blue-light-color;
      text-align:center;
      height:20px;

      .img-responsive{
        position:absolute;
        top:-12px;
        height:45px;
        left:50%;
        margin-left:-20px;
        z-index:100;
      }
      .fade-line{
        position: absolute;
        top: 6px;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        display: block;
        border: none;
        color: white;
        height: 2px;
        color: white;
        height: 2px;
        background: black;
        background: -webkit-radial-gradient(circle, #ffffff, $navy-blue-color);
        background: radial-gradient(circle, #ffffff, $navy-blue-color);
      }
    }


    h2{
      margin-top:0;
      color: $navy-blue-color;
      font-weight:400;
      font-size:26px;

      strong{
        font-size:50px;
      }
    }

    p{
      font-size:18px;
      font-weight:400;
    }

    .img-capitol{
      width:50%;
      margin:0 auto;
    }

    form{
      button{
        width: 100%;
        color: $background-color;
        font-size: 30px;
        font-weight:400;
        padding: 20px 0px;
        border: none;
        border-radius: 5px;
        background-color: $dark-red-color;
        text-transform:uppercase;
      }
    }
  }


  .homepage-panel{
    position: relative;
    overflow: hidden;
    padding-top:50px;
    padding-bottom:50px;

    .container{
      padding-top:0;
      padding-bottom:0;
    }

    h2 {
      font-size: 48px;
      margin-top:0;
    }

    .panel-headline-small {
      margin-top: 30px;
      font-size: 32px;
    }

    p {
      margin-top: 30px;
      font-size: 24px;
      line-height:30px;
    }

    &.dark {
      background: $navy-blue-light-color;
      color: #ffffff;

      h2{
        color:#fff
      }
    }

    &.light {
    }

    &.ten-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -400px;
        top: -250px;
        height: 650px;
        opacity: .03;
        -ms-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: -500px;
        top: 80px;
        height: 800px;
        opacity: .03;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(3) {
        position: absolute;
        left: 10%;
        top: -160px;
        height: 265px;
        opacity: .03;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(4) {
        position: absolute;
        left: 1%;
        top: -70px;
        width: 600px;
        opacity: .015;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(5) {
        position: absolute;
        left: 25%;
        top: -200px;
        height: 350px;
        opacity: .03;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(6) {
        position: absolute;
        left: 25%;
        top: 260px;
        height: 350px;
        opacity: .02;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(7) {
        position: absolute;
        left: 35%;
        top: 100px;
        height: 200px;
        opacity: .02;
        -ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
      }
      .bg-star:nth-of-type(8) {
        position: absolute;
        left: 33%;
        top: -180px;
        height: 850px;
        opacity: .03;
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
      .bg-star:nth-of-type(9) {
        position: absolute;
        left: 76%;
        top: -170px;
        height: 600px;
        opacity: .03;
        -ms-transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
      }
      .bg-star:nth-of-type(10) {
        position: absolute;
        left: 82%;
        top: 275px;
        height: 200px;
        opacity: .04;
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
      }
    }

    &.starless{
    }

    &.two-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -35%;
        top: -450px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: 35%;
        top: -750px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
      }
    }

    &.three-star {
      .bg-star:first-of-type {
        position: absolute;
        left: -35%;
        top: -450px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        z-index: 0;
      }
      .bg-star:nth-of-type(2) {
        position: absolute;
        left: 40%;
        top: 200px;
        height: 1000px;
        opacity: .04;
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
              z-index: 0;

      }
      .bg-star:nth-of-type(3) {
        position: absolute;
        left: -40%;
        top: 400px;
        height: 1500px;
        opacity: .04;
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
              z-index: 0;

      }
    }
  }

  .bottom-form-wrap {
    margin-top:40px;
    margin-bottom:10px;

    .col-md-6.center-block{
      float:none;

      .box-inner.top-right-box{
        background:#fff;
      }

      h2{
        font-size:36px;
        font-weight:400;
      }

      p{
        font-size: 18px;

        &.rally{
          font-size:24px;
        }
      }

      form{
        padding-bottom:0;
      }

      button{
        font-weight:400;
        text-transform:uppercase;
      }
    }
  }
}

/*
.bottom-join-form {
  position: relative;
  background-color: #ffffff;
  display: block;
  height: 300px;
  width: 600px;
  margin: 80px auto;
  z-index: 999;

  border: 1px solid $navy-blue-color;
  .box-title {
    height: 70px;
    padding: 18px 0px 0px 30px;
    color: #ffffff;
    background-color: $navy-blue-light-color;
    font-size: 27px;
    border-bottom: 10px solid $navy-blue-color;
  }
  .rally {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 22px;
  }
  form {
    margin: 15px 20px 0px 20px;
    font-size: 22px;
    input {
      border: 2px solid $navy-blue-color;
      padding: 8px 0px 8px 12px;
      border-radius: 4px;
      margin-bottom: 15px;
      &[name="email"] {
        width: 62%;
        margin-right: 5px;
      }
      &[name="zip"] {
        width: 36%;
      }
    }
    button {
      width: 100%;
      color: #ffffff;
      font-size: 28px;
      padding: 20px 0px;
      border: none;
      border-radius: 5px;
      background-color: $dark-red-color;
    }
  }
}
*/

.sign-up {
  fieldset {
    text-align: center;
    max-width: 625px;
    border: 1px #124b9a solid;
    border-radius: 5px;
    display: block;
    margin: 35px auto;
  }
  
  legend {
    float: left;
    width: 100%;
    border: 0;
    text-align: center;
    padding: 20px 30px;
    margin: 0;
    color: #3c3642;
    font-weight: 100;
    font-size: 150%;
  }
  
  input {
    border: 1px #124b9a solid;
    border-radius: 5px;
    padding: 7px;
    font-size: 125%;
    font-weight: 100;
  }
  
  label {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  dt {
    display: none;
  }

  dd {
    display: inline;
  }
  
  #firstname,
  #lastname {
    width: 40%;
  }
  
  #email {
    width: 60%;
  }
  
  #zipcode {
    width: 20%;
  }
  
  #firstname,
  #lastname,
  #email, 
  #zipcode {
    margin: 10px 5px;
  }
  
  button {
    margin: 10px 0 30px 0;
    width: 82%;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: #b0010e;
    text-transform: uppercase;
  }
}

#onboarding-modal {
  .modal-body {
    padding: 0;
  }

  .modal-dialog {
    height: 100%;
    margin: 0 auto;
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 100%;
  }

  .modal-body {
    height: 100%;
  }

  #onboarding-overlay {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }
}