$tablet-min-width: 650px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

@mixin phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin tablet-minus {
  @media (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin small-desktop-minus {
  @media (max-width: #{$large-desktop-min-width - 1px}) {
    @content;
  }
}


@mixin small-desktop {
  @media (min-width: #{$small-desktop-min-width}) and (max-width: #{$large-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-min-width}) {
    @content;
  }
}

/**
 * Reset some basic bootstrap elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, legend{
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

/**
 * Basic styling
 */
html, body {
  height: auto;
  background-color: $color-background;
  -webkit-text-size-adjust: 100%;
  @include phone{
    overflow-x: hidden;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/**
 * Page content
 */
.page-content {
  padding: 0 0 10px;
  line-height: $page-content-line-height;
  min-height: 100%;
  letter-spacing: .1px;
  height: auto !important;
  height: 100%;
  .index-page &{
    padding: 0;
  }
  @include phone{
    line-height: 1.7em;
  }

  strong{
    font-weight:500;
  }
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
form.no-gutter fieldset > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}

.center-block{
  float: none;
}
/* for videos page */
.has-tall-neighbor{
  padding-bottom:1.2em;
 }

@mixin star-rotation($rotation) {
  -ms-transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  transform: rotate($rotation);
}

@mixin overlay-with-pixel($pixel_image, $background_declaration){
  background: url('/images/2016_image_overlay_pixels/#{$pixel_image}') repeat 0 0,
    #{$background_declaration};
}

@mixin overlay-blue-light($background_declaration){
  @include overlay-with-pixel($pixel_blue_light, $background_declaration);
}
@mixin overlay-green-light($background_declaration){
  @include overlay-with-pixel($pixel_green_light, $background_declaration);
}
@mixin overlay-grey-medium($background_declaration){
  @include overlay-with-pixel($pixel_grey_medium, $background_declaration);
}
@mixin overlay-orange-light($background_declaration){
  @include overlay-with-pixel($pixel_orange_light, $background_declaration);
}
@mixin overlay-orange-medium($background_declaration){
  @include overlay-with-pixel($pixel_orange_medium, $background_declaration);
}
@mixin overlay-yellow-light($background_declaration){
  @include overlay-with-pixel($pixel_yellow_light, $background_declaration);
}

@mixin flex{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}