$tablet-min-width: 768px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

@mixin phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin tablet-minus {
  @media (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin tablet-plus {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop-min-width}) and (max-width: #{$large-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-min-width}) {
    @content;
  }
}

/**
 * Reset some basic bootstrap elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, legend{
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

/**
 * Basic styling
 */
html, body {
  height: auto;
  background-color: $color-background;
  -webkit-text-size-adjust: 100%;
  @include phone{
    overflow-x: hidden;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 300px;
  @include tablet-minus{
    margin-bottom: 420px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: 0 0 10px;
  line-height: $page-content-line-height;
  min-height: 100%;
  letter-spacing: .1px;
  height: auto !important;
  height: 100%;
  // margin: 0 auto -300px;
  .footer-push {
    height: 300px;
    clear: both;
    content: '';
  }
  .index-page &{
    padding: 0;
  }
  @include phone{
    line-height: 1.7em;
  }

  strong{
    font-weight:500;
  }
}

/**
 * responsive margins
.container {
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-bottom: 80px;
  @include phone {
    padding-right: 10px;
    padding-left: 10px;
  }
}
 */

.sm-gutter > [class*='col-'] {
  padding-right:5px;
  padding-left:5px;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.no-gutter-phone  > [class*='col-'] {
  @include phone {
    padding-right:0;
    padding-left:0;
  }
}
.gutter-justphone  > [class*='col-'] {
  @include tablet {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include small-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
  @include large-desktop {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
  }
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
form.no-gutter fieldset > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}
.no-gutter-top > [class*='col-'] {
    padding-top:0;
    margin-top: 0;
}
.wide-gutter > [class*='col-'] {
  padding-left:30px;
  padding-right:30px;
}
.center-block{
  float: none;
}


/**
 * Columns of same height styles
 */

// .row-full-height {
//   height: 100%;
// }
// .col-full-height {
//   height: 100%;
//   vertical-align: top;

//   .panel{
//     height: 100%;
//     display: inline-block;
//   }
// }
// .row-same-height {
//   display: table;
//   width: 100%;
//   /* fix overflow */
//   table-layout: fixed;
// }
// .col-xs-height {
//   display: table-cell;
//   float: none !important;
// }

// @media (min-width: 768px) {
//   .col-sm-height {
//     display: table-cell;
//     float: none !important;
//   }
// }
// @media (min-width: 992px) {
//   .col-md-height {
//     display: table-cell;
//     float: none !important;
//   }
// }
// @media (min-width: 1200px) {
//   .col-lg-height {
//     display: table-cell;
//     float: none !important;
//   }
// }

@mixin star-rotation($rotation) {
  -ms-transform: rotate($rotation);
  -webkit-transform: rotate($rotation);
  transform: rotate($rotation);
}

@mixin overlay-with-pixel($pixel_image, $background_declaration){
  background: url('/images/2016_image_overlay_pixels/#{$pixel_image}') repeat 0 0,
    #{$background_declaration};
}

@mixin overlay-blue-light($background_declaration){
  @include overlay-with-pixel($pixel_blue_light, $background_declaration);
}
@mixin overlay-green-light($background_declaration){
  @include overlay-with-pixel($pixel_green_light, $background_declaration);
}
@mixin overlay-grey-medium($background_declaration){
  @include overlay-with-pixel($pixel_grey_medium, $background_declaration);
}
@mixin overlay-orange-light($background_declaration){
  @include overlay-with-pixel($pixel_orange_light, $background_declaration);
}
@mixin overlay-orange-medium($background_declaration){
  @include overlay-with-pixel($pixel_orange_medium, $background_declaration);
}
@mixin overlay-yellow-light($background_declaration){
  @include overlay-with-pixel($pixel_yellow_light, $background_declaration);
}

@mixin flex{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}