/**
 * Site header
 */
.site-header {
  .top-nav {
    background-color: $navy-blue-color;
    height: 80px;

    .icon-bar-left {
      margin-left: 8px;
      float: left;
      width: 30%;
      margin-top: 26px;
      height: 28px;
      span {
        font-size: 28px;
        color: white;
        margin-right: 28px;
      }
    }

    .center-ribbon {
      z-index: 99;
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 0;

      width: 296px;
      margin-left: -148px;
      font-size: 38px;
      @include tablet {
        width: 322px;
        margin-left: -161px;
        font-size: 42px;
      }
      @include small-desktop {
        width: 368px;
        margin-left: -184px;
        font-size: 48px;
      }
      @include large-desktop {
        width: 424px;
        margin-left: -212px;
        font-size: 55px;
      }

      .trapezoid {
        height: 96px;
        overflow: hidden;
        .left-triangle {
          float: left;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 28px 130px 0;
          border-color: transparent $navy-blue-mid-color transparent transparent;
          -moz-transform: scale(.9999);
          overflow: hidden;
          -webkit-filter: drop-shadow(0px 3px 2px #000);
          filter: drop-shadow(0 1px 2px #000);
        }
        .ribbon-rectangle {
          float: left;
          text-align: center;
          color: white;
          padding-top: 5%;
          background-color: $dark-red-color;
          height: 100%;
          width: 240px;

          @include tablet {
            width: 266px;
          }
          @include small-desktop {
            width: 312px;
          }
          @include large-desktop {
            width: 368px;
          }
        }
        .right-triangle {
          float: right;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 130px 28px 0 0;
          border-color: $navy-blue-mid-color transparent transparent transparent;
          -moz-transform: scale(.9999);
          overflow: hidden;
          -webkit-filter: drop-shadow(0px 3px 2px #000);
          filter: drop-shadow(0 1px 2px #000);
        }

      }

      .triangle-down {
        z-index: -1;
        overflow: hidden;
        width: 0;
        height: 0;
        border-style: solid;
        margin-left: 28px;
        border-color: $dark-red-color transparent transparent transparent;

        border-width: 9px 120px 0 120px;
        @include tablet {
          border-width: 10px 133px 0 133px;
        }
        @include small-desktop {
          border-width: 11px 156px 0 156px;
        }
        @include large-desktop {
          border-width: 12px 184px 0 184px;
        }

        -moz-transform: scale(.9999);
        -webkit-filter: drop-shadow(0 1px 2px #000);
        filter: drop-shadow(0 1px 2px #000);
      }
    }
    .search-section-right {
      z-index: 99;
      position: relative;
      float: right;
      text-align: right;
      width: 30%;
      margin-top: 26px;
      form {
        display: inline-block;

        width: 200px;
        @include tablet {
          width: 200px;
        }
        @include small-desktop {
          width: 250px;
        }
        @include large-desktop {
          width: 250px;
        }
        input {
          height: 28px;
          margin: 0;
          padding: 0;
          padding-left: 4px;
          display: inline-block;
          width: 75%;
          float: left;
        }
        button {
          display: inline-block;
          float: right;
          width: 25%;
          height: 2em;
          margin: 0;
          outline: none;
          border: 0;
          background-color: $dark-red-color;
          span {
            color: white;
            font-size: 1.5em;
          }
        }
      }
    }
    .fade-line {
      position: absolute;
      top: 39px;
      width: 550px;
      left: 50%;
      margin-left: -275px;
      display: block;
      border: none;
      color: white;
      height: 2px;
      background: black;
      background: -webkit-radial-gradient(circle, #ffffff, $navy-blue-color);
      background: radial-gradient(circle, #ffffff, $navy-blue-color);
    }
  }

  .sub-nav {
    height: 50px;
    padding-top: 18px;
    background-color: $navy-blue-light-color;
    font-weight: 300;

    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,.65);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,.65);
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,.65);

    @include tablet {
      font-size: 1.2em;
    }
    @include small-desktop {
      font-size: 1.4em;
    }
    @include large-desktop {
      font-size: 1.4em;
    }
    a {
      color: rgb(228,228,228);
    }
    .middle-dot {
      color: rgba(255,255,255, .25);
      font-weight: bold;
      margin: 0 8px;
    }
    .left-links {
      float: left;
      display: inline-block;
      width: 40%;
    }
    .right-links {
      float: right;
      text-align: right;
      display: inline-block;
      width: 40%;
    }
  }

  .bottom-taper {
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: $navy-blue-light-color;
    .triangle-up {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      margin-left: -1000px;
      border-width: 0 1000px 20px 1000px;
      border-color: transparent transparent white transparent;
      -moz-transform: scale(.9999);
    }
  }
}

/**
 * Globals
 */

a:link, a:visited, a:active {
  color: #007acf;
}

/**
 * Site footer
 */
.site-footer {
  height: 300px;
  background-color: $navy-blue-light-color;
  padding-top: 60px;
  color: #ffffff;
  a {color: #ffffff;}

  .vertical-fade-line {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    display: block;
    border: none;
    color:  #ffffff;
    width: 1px;
    background: #000000;
    background: -webkit-radial-gradient(circle, rgba(255,255,255,.6), $navy-blue-mid-color);
    background: radial-gradient(circle, rgba(255,255,255,.6), $navy-blue-mid-color);
  }

  .left-col {
    text-align: center;
    position: relative;

    .icon-line {
      span {
        margin: 0px 10px;
        font-size: 32px;
      }
    }

    form {
      margin-top: 40px;
      width: 65%;
      display: inline-block;
      font-size: 16px;
      ::-webkit-input-placeholder { /* WebKit browsers */
        color: $navy-blue-light-color;
        font-weight: bold;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $navy-blue-light-color;
        opacity: 1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $navy-blue-light-color;
        opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $navy-blue-light-color;
      }
      input {
        height: 2.5em;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        display: inline-block;
        width: 75%;
        float: left;
        border: none;

      }
      button {
        display: inline-block;
        float: right;
        width: 25%;
        height: 2.5em;
        margin: 0;
        outline: none;
        border: 0;
        background-color: #ffffff;
        span {
          color: $navy-blue-light-color;
          font-size: 1.5em;
        }
      }
    }
  }
  .center-col {
    text-align: center;
    position: relative;
    .name {
      font-weight: bold;
      font-size: 38px;
    }
    .disclaimer-box {
      color: $grey-color-light;
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      padding: 6px;
      margin-top: 15px;
      width: 80%;
      border: 1px solid #e6e6e6;
    }
    .copyright {
      margin-top: 15px;
      color: #e6e6e6;
      font-size: 12px;
    }
    .creative-commons {
      margin-top: 15px;
    }
  }
  .right-col {
    position: relative;
    font-size: 18px;
    div {
      margin: 0 0 14px 30%;
      a {
        color: #e6e6e6;
      }
    }
    .hr {
      background-color: #ffffff;
      height: 1px;
      width: 100px;
      opacity: .3;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  // @include media-query($on-laptop) {
  //   font-size: 36px;
  // }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    // @include media-query($on-laptop) {
    //   font-size: 28px;
    // }
  }

  h3 {
    font-size: 26px;

    // @include media-query($on-laptop) {
    //   font-size: 22px;
    // }
  }

  h4 {
    font-size: 20px;

    // @include media-query($on-laptop) {
    //   font-size: 18px;
    // }
  }
}

.about_us {
  h1 {
    margin: 30px 0 15px 0;
    font-weight: 300;
    color: #0c3962;
  }
  
  .aboutBlurb {
    font-size: 160%;
    margin-bottom: 50px;
  }
  
  .icons {
    display: block;
    text-align: center;
    
    li {
      display: inline-block;
      list-style-type: none;
      font-size: 200%;
      font-weight: 500;
      color: #0c3962;
      text-align: center;
      width: 155px;
      height: 195px;
      margin: 0 15px 50px 15px;
      
      border: 1px #f00 solid; /* todo: replace this with imgs */
      .thePlan {
        /* todo: icon */
      }
      .theFacts {
        /* todo: icon */
      }
      .qa {
        /* todo: icon */
      }
      .ourMedia {
        /* todo: icon */
      }
      .ourTeam {
        /* todo: icon */
      }
    }
  }
  
  .contact {
    display: block;
    text-align: center;

    li {
      display: inline-block;
      list-style-type: none;
      color: #0c3962;
      vertical-align: top;
      max-width: 165px;
      margin: 0 25px 50px 0;

      h3 {
        font-size: 175%;
        font-weight: 500;
        text-align: left;
      }

      li {
        font-size: 125%;
        text-align: left;
        list-style-type: disc;
        display: list-item;
        margin: 5px 0 0 20px;
        
        .reddit {
          /* todo: bullet icon */
        }
        .facebook {
          /* todo: bullet icon */
        }
        .twitter {
          /* todo: bullet icon */
        }
      }
      
      address {
        text-align: left;
      }
    }
  }
}
