///////////////////////////////////////////////
//  From homepage

.js-legislators{
  padding-top:45px;

  .pulled-image{
    margin-right:2%;
    margin-left:2%;
  }

  .background-square{
    height: 100px;
    width: 100px;
    background-size: 100%;
    background:$color-grey url() center center no-repeat;
    @include small-desktop{
      height: 90px;
      width: 90px;
    }
    @include phone{
      padding: 0 5px 0 0;
    }
  }

  &.newest-leaders{
    .new-legislator{
      @include tablet-minus{
        padding-left: 0;
      }
    }
  }

  h3{
    // padding-top: 4px;
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
    @include small-desktop{
      font-size: 16px;
    }
    @include small-desktop{
      font-size: 20px;
    }
    @include phone{
      padding-top: 8px;
      font-size: 18px;
    }
  }
  h4{
    color: $color-brand;
    margin-top:7px;
    font-size: 15px;
    @include small-desktop{
      font-size: 13px;
    }
    @include phone{
      font-size: 14px;
    }
  }
}


///////////////////////////////////////////////
//  Legislators page

.legislators-listing{

  h3{
    font-size:20px;
    white-space: nowrap;
  }
  h4{
    font-size: 16px;
  }

  .fa{
    display: inline-block;
    margin-right:1px
  }

  .background-square{
    border:4px solid #b0aeaf;
  }

  .with-us-true{
    .fa-check-square-o{display:inline-block}
    .fa-minus-circle{display:none}
    .fa-question-circle{display:none}
    .btn-targets{
      background-color: $color-dossier-green;
    }
  }
  .with-us-unknowable{
    .fa-question-circle{display:true}
    .fa-check-square-o{display:none}
    .fa-minus-circle{display:none}
  }
  .with-us-false{
    .fa-question-circle{display:none}
    .fa-check-square-o{display:none}
    .fa-minus-circle{display:inline-block}
    .btn-targets{
      background-color: $color-dossier-red;
    }
  }
}


#js-legislator{
  text-align: center;
  margin-bottom:5px;
}

.page-open{
  padding-top:40px;
}
.dossier-page{
  margin-top: -45px;
  .jumbotron{
    overflow:visible;
    margin-bottom: 0;
    .container{
      position:relative;
    }
  }

  h2{
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1.5px;
  }
  p{
    font-weight: 400;
  }
  .lead-title{
    // padding-left:285px;
  }
  .homepage-panel{
    padding-top:30px;
    padding-bottom:20px;
  }
  .dossier-img-wrap{
    margin-right:15px;
    position:absolute;
    top:20px;
    margin-bottom:15px;
  }
  .dossier-img, .brighter{
  }
  .dossier-img{
    height: 285px;
    width: 235px;
    margin: 0 0 4px;
    border:5px solid transparent;
    border-radius: 5px;
    color:#444;

    &>.brighter > div{
      border-radius: 5px;
      height: 275px;
      width: 225px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom:8px;
    }
  }
  h1.lead-title{
    margin-top: 0;
    font-weight: 400;
    font-size:28px;
    text-align: left;
    margin-bottom:10px;
  }
  .bottom-line, .top-line-left{
    height: 6px;
  }
  .top-line-left{
    height: 20px;
  }
  .tallies{
    position:relative;
    overflow: hidden;

    >.col-md-6:first-child .talley{float:right}
    >.col-md-6:last-child .talley{float:left}
    >.col-md-12 .talley{margin:0 auto;text-align:center;}
  }
  .talley{
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    line-height: 18px;
    width:190px;
    margin:0 auto;
    .fa{
      font-size: 46px;
      float: left;
      margin-right: 3px;
    }
  }

  .tail-message{
    font-size: 30px;
  }

  .make-call{
    cursor: text;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    &::selection {
      background: $color-dossier-red;
    }
    &::-moz-selection {
      background: $color-dossier-red;
    }
  }

}

.dossier-page.with-us-true{
  h2, h1.lead-title, .talley{
    color: $color-dossier-blue;
  }
  .dossier-img{
    border-color:$color-dossier-blue;
    background-color: $color-dossier-blue;
    &>.brighter>div{
      background-color: $color-dossier-blue;
    }
  }
  .bottom-line, .make-call, .top-line-left{
    background-color: $color-dossier-blue;
  }
  .bg-star{
    background-image:url('/images/star_blue.svg') no-repeat;
    opacity:0.1;
  }
}
.dossier-page.with-us-false{
  h2, h1.lead-title, .talley{
    color: $color-dossier-red;
  }
  .dossier-img{
    border-color: $color-dossier-red;
    background-color: $color-dossier-red;
    &>.brighter>div{
      background-color: $color-dossier-red;
    }
  }
  .bottom-line, .make-call, .top-line-left{
    background-color: $color-dossier-red;
  }
  .talley .fa{
      font-size: 38px;
      margin-right: 8px;
  }
  .bg-star{
    opacity:0.2;
  }
}

.with-us-true{
  .leader-visible{
    display: initial;
    &.tallies{display:block}
  }
  .leader-hidden{
    display: none;
  }
}

.with-us-false{
  .leader-visible{
    display: none;
  }
  .leader-hidden{
    // display: initial;
  }
}

.make-call>.fa-phone{
  padding-right: 5px
}
.twitter-small{
  margin-left: 10px !important;
  @include tablet{
    margin-left: 1% !important;
  }
  @include phone{
    margin-left: 0 !important;
  }
  >.fa-twitter{
    color: $color-twitter;
    font-size:1.5em;
    line-height: 50%;
  }
}
.facebook-small{
  margin-left: 10px !important;
  @include phone{
    margin-left: 0 !important;
  }
  @include tablet{
    margin-left: 1% !important;
  }
  >.fa-facebook{
    color: $color-facebook;
    font-size:1.3em;
    line-height: 50%;
  }
}

.triangle-up .leg{
  margin-top: 45px;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 30px auto 20px;
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: $color-grey-background;
  border: 8px solid $color-navy-blue;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  padding:15px 20px;

  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
  color:$color-navy-blue;

  &:before, &:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    left: 50%;
    bottom: auto;
  }

  &:before {
    margin-left:-36px;
    top: -64px;
    border: 32px solid;
    border-color: transparent transparent $color-navy-blue transparent;
  }
  &:after{
    margin-left:-24px;
    top: -40px;
    border: 20px solid;
    border-color:  transparent transparent $color-grey-background transparent;
  }

  p {
    margin:0 0 10px;
  }
}

.dossier-page {
  .bg-star{
    position: absolute;
  }
  .bg-star:first-of-type {
    left: -400px;
    top: -250px;
    height: 650px;
    @include star-rotation(-30deg)
  }
  .bg-star:nth-of-type(2) {
    left: -500px;
    top: 280px;
    height: 800px;
    @include star-rotation(-50deg);
  }
  .bg-star:nth-of-type(3) {
    left: 10%;
    top: -160px;
    height: 265px;
    @include star-rotation(-50deg);
  }
  .bg-star:nth-of-type(4) {
    left: 1%;
    top: -70px;
    width: 600px;
    @include star-rotation(35deg);
  }
  .bg-star:nth-of-type(5) {
    left: 25%;
    top: -200px;
    height: 350px;
    @include star-rotation(35deg);
  }
  .bg-star:nth-of-type(6) {
    left: 25%;
    top: 260px;
    height: 350px;
    @include star-rotation(35deg);
  }
  .bg-star:nth-of-type(7) {
    left: 35%;
    top: 100px;
    height: 200px;
    @include star-rotation(-50deg);
  }
  .bg-star:nth-of-type(8) {
    left: 47%;
    top: -120px;
    height: 850px;
    @include star-rotation(35deg);
  }
  .bg-star:nth-of-type(9) {
    left: 76%;
    top: -170px;
    height: 600px;
    @include star-rotation(40deg);
  }
  .bg-star:nth-of-type(10) {
    left: 82%;
    top: 475px;
    height: 200px;
    @include star-rotation(-15deg);
  }
}

.legislators-listing{
  min-height: 300px;

  .js-legislators{
    padding-top:15px;
  }
}

  .legislators-all{
    .with-us-true{display:block}
    .with-us-false{display:block}
    .with-us-unknowable{display:block}
    .potential-true{display:block}
    .show-potential{visibility:hidden}
  }
  .legislators-potential{
    .with-us-true{display:none}
    .with-us-false{display:none}
    .with-us-unknowable{display:none}
    .potential-true{display:block}
    .show-potential{visibility: visible;}
  }
  .legislators-leaders{
    .potential-true{display:none}
    .with-us-false{display:none}
    .with-us-true{display:block}
    .with-us-unknowable{display:none}
    .show-potential{visibility: hidden;}
  }
form.md-inputs.legislators-filter{
  padding-bottom:0;

  .form-group{margin:0}

  &.md-inputs input.form-control[type=text]{
    margin-bottom: 0;
  }
  .radio-inline{
    margin-right:12px;

    &:first-child{
      padding-left:0;
    }
    input[type=radio]{
      margin-top: 7px
    }
  }
}

@media(max-width:$small-desktop-min-width){
  .dossier-page h1.lead-title{padding:0}
}


@media(max-width:550px){
  .dossier-page{
  // .dossier-img-wrap{float:none;}
    .lead-title{
      // padding-left:170px;
      text-align: left;
    }
    .dossier-img{
      height: 206px;
      width: 170px;

      &>div{
        height: 200px;
        width: 164px;
      }
    }
  }
}

@media(max-width:460px){
  .dossier-page h1.lead-title{font-size: 24px}
}

@media(max-width:400px){
  .dossier-page{
    .lead-title{
      padding-left:0;
      blockquote{display:inline-block}
    }
  }
}