
h3.panel-title {
  font-size:20px;
}
.panel-heading{
  .byline{font-size:14px}
}

.label{
  a:link, a:visited, a:active {color:#fff}
}

#headline .byline{
  font-size:14px;
  .label{display:none;}
}

.text-only-goal{
  border:2px dashed #ccc;
  background:#eee;
  outline:5px solid #eee;
  padding:10px 0;
}

.tipsy-s{
  position:absolute;
}