/**
 * Mayday News Icons
 */
@mixin icon($img-url) {
  background-image: url(#{$img-url});
  background-size: 100% auto;
  background-repeat: none;
  background-position: bottom;
}

.md {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-bottom: -8px;
  border-bottom-width: 15px;

}

.md-envelope {
  @include icon('../images/envelope.svg');
  margin-bottom: -12px;
}

.md-newspaper {
  @include icon('../images/newspaper.svg');
  margin-bottom: -12px;
}

.md-microphone {
  @include icon('../images/microphone.svg');
  margin-bottom: -12px;
}

.md-download {
  @include icon('../images/download.svg');
  margin-bottom: -10px;
}

.md-shield {
  @include icon('../images/shield.svg');
  margin-bottom: -14px;
}
.kill-li-indent {
  text-indent: -15px;
}


/**
 * Mayday News Panels
 **/

@mixin news-panel {

  -webkit-box-shadow: none;
  box-shadow: none;

  h3 {
    margin-top: 0px;
  }

  hr {
    height: 1px;
    background-color: $grey-color;
  }

  .panel-body {
    padding-top: 0px;
    font-size: 18px;

    li {
      margin-top: 10px;
    }
    .press-date {
      display: inline-block;
      font-weight: 400;
    }
    .press-link {
      display: inline-block;
      vertical-align: top;
      width: 70%;
    }
    .more-link {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 600;
      float: right;
    }
  }
  .panel-links {
    font-weight: 100;
    margin-left: -15px;
  }
}

.panel-news {
  @include news-panel;
}

.panel-news-border {
  border: 2px solid $light-grey-color;
  @include news-panel;
}

.news-content {
  margin-bottom: 100px;
}
.contact-info{
  h3{
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-weight: 400;
}
  p{
    line-height: 1.5em;
    margin-top: 0.18em;
    margin-bottom: 0.18em;
  }
}


