/**
 * Mayday Panel Styles
 */


.action-panel{
  text-align:center;
  border-radius:2px;
  border-width:0;
  padding:0;
  background:$mayday-grey-light;
  margin-bottom: 0;

  h2{
    color: $mayday-blue-dark;
  }

  .mayday-inputs{
  }

  .panel-body{
    padding: 40px 50px 50px;

    // p{
      // @include phone{
        // padding-bottom: 0;
      // }
    // }

    h2 {
      position: relative;
      padding-top: 60px;
      // color: $mayday-blue-dark;

      &:before {
        content: ' ';
        position: absolute;
        background: url('/images/2016_mayday-logo-sheild.svg') center 0 no-repeat;
        top: 0;
        left: calc( 50% - 20px);
        z-index: 20;
        width: 40px;
        height: 40px;
      }
      &:after {
        content: ' ';
        position: absolute;
        border-bottom: 4px #ccc solid;
        width: calc( 40px * 3);
        top: calc( 40px / 2 - 3px);
        left: calc( 50% - (40px * 1.5 ) );
      }

      &.small{
        // font-size: 26px;
        // color:#fff;
      }
    }

    .skip-next{
      margin-top:15px;
    }
  }

  .img-capitol{
    width:70%;
    margin:0 auto;
  }


  &.donate{
    .panel-title h2{
      padding:40px 20px 20px;
    }
    .progress-meter{
      background-color:$mayday-blue-dark;
      ul.list-unstyled{
        @include flex;
        padding:6px 0;

        >li{
          width: 100%;
          color:rgba($mayday-background, 0.5);
          font-weight:500;
          .fa-check{display:none;}
          &.active{color:$mayday-background;}
          &.complete{
            color:$mayday-yellow-light;
            .fa-check{display:inline-block;}
            .step-count{display:none;}
          }

          .fa-arrow-right{
            color:$mayday-blue-medium;
          }
        }
      }
    }
    .btn-group-flexed{
      &.donation-amounts{
        flex-wrap: wrap;
        label.btn{
          // flex-grow:1;
          width: calc(100% * 1/3 - 5%);
          margin-right:5%;
          margin-bottom:5px;
          &:last-child{
            position:relative;
            flex-grow:1;
            padding-top:6px;
            padding-bottom:4px;
            margin-right:0;
            margin-left:6%;
            line-height: inherit;
            input[type=number]{
              padding:0;
              border-color:$mayday-blue-medium;
              width:calc(100% - 20px);
            }
          }
          &:nth-child(3n+3){
            margin-right:0;
          }
        }
      }
      &.donation-recurring{
        .btn-mayday-white{
          flex-grow:1;
          width:100%;
          margin-right:10px;
          &:last-child{
            margin-right:0;
          }
        }
      }
      &.payment-method{
        .btn-mayday-white{
          width:100%;
          margin-right:10px;
          &:last-child{
            margin-right:0;
          }
          .fa{
            display:block;
            width:100%;
          }
        }
      }
    }
  }

}



#call-congress-modal .modal-dialog{
  padding-bottom: 10px;
  @include tablet-plus{
    width: 800px;
  }
}

.modal-body {
  padding:0;
  .md-modal-wrap{
    padding:20px;
  }
  h3, h2{
    // font-weight: 400;
  }
  dl, ul, li{
    margin-left:20px;
  }
  dt{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .close{
    margin-top:-14px;
    margin-right:-8px;
  }
}