/**
 * Mayday Panel Styles
 */


.action-panel{
  text-align:center;
  border-radius:2px;
  border-width:0;
  padding:0;
  background:$mayday-grey-light;
  margin-bottom: 0;

  .mayday-inputs{
  }

  .panel-body{
    padding: 40px 50px 50px;

    p{
      @include phone{
        padding-bottom: 0;
      }

      &.small{
      }

      &.help-block{
      }
    }

    h2 {
      position: relative;
      padding-top: 60px;
      color: $mayday-blue-dark;

      &:before {
        content: ' ';
        position: absolute;
        background: url('/images/2016_mayday-logo-sheild.svg') center 0 no-repeat;
        top: 0;
        left: calc( 50% - 20px);
        z-index: 20;
        width: 40px;
        height: 40px;
      }
      &:after {
        content: ' ';
        position: absolute;
        border-bottom: 4px #ccc solid;
        width: calc( 40px * 3);
        top: calc( 40px / 2 - 3px);
        left: calc( 50% - (40px * 1.5 ) );
      }

      &.small{
        // font-size: 26px;
        // color:#fff;
      }
    }

    .skip-next{
      margin-top:15px;
    }

  }

  .img-capitol{
    width:70%;
    margin:0 auto;
  }


}



#call-congress-modal .modal-dialog{
  padding-bottom: 10px;
  @include tablet-plus{
    width: 800px;
  }
}

.modal-body {
  padding:0;
  .md-modal-wrap{
    padding:20px;
  }
  h3, h2{
    // font-weight: 400;
  }
  dl, ul, li{
    margin-left:20px;
  }
  dt{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .close{
    margin-top:-14px;
    margin-right:-8px;
  }
}