/**
 * Mayday Panel Styles
 */

.action-panel{
  text-align:center;
  border-radius:5px;
  border: 1px solid $navy-blue-color;
  padding:0;
  background:#fff;
  overflow:hidden;

  .panel-heading{
    padding-top:0;
    padding-bottom:0;
    background-color: $navy-blue-light-color;
    border-bottom: 10px solid  $navy-blue-color;
  }

  .panel-body{
    padding-top: 0;

    a.btn-mayday{
      margin-bottom:15px;
    }
  }

  &.with-shield{

    .panel-icon{
      padding:0;
      background: $navy-blue-color;
      border-bottom:5px solid $navy-blue-light-color;
      text-align:center;
      height:20px;

      .img-responsive{
        position:absolute;
        top:-12px;
        height:45px;
        left:50%;
        margin-left:-20px;
        z-index:100;
        @include phone{
          top:22px;
        }
        @include tablet{
          top:22px;
        }
      }
      .fade-line{
        position: absolute;
        top: 8px;
        width: 100px;
        left: 50%;
        margin-left: -50px;
        display: block;
        border: none;
        color: white;
        height: 1px;
        color: white;
        height: 2px;
        background: black;
        background: -webkit-radial-gradient(circle, rgba(255,255,255, 0.5), $navy-blue-color);
        background: radial-gradient(circle, rgba(255,255,255, 0.5), $navy-blue-color);
      }
    }
    h2{
      color: $navy-blue-color;
      font-weight:400;
      font-size:26px;
      background-color:transparent;
      padding-bottom: 0;

      strong{
        font-size:50px;
      }
    }
  }

  .img-capitol{
    width:70%;
    margin:0 auto;
  }

  p{
    font-size: 18px;
    font-weight:400;
    line-height: 140%;

    &.small{
      font-size: 16px;
      margin-bottom:0;
      margin-top:0;
    }
  }

  h2 {
    margin-top:0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:36px;
    font-weight:400;
    color: #ffffff;

    &.small{
      font-size: 26px;
      color:#fff;
    }

  }

  form {
    margin: 25px 15px 0 15px;
    padding-bottom: 15px;
    input[type=text], input[type=email] {
      font-size: 22px;
      width: 100%;
      border: 2px solid $navy-blue-color;
      padding: 8px 0px 8px 12px;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  }
}

.panel-mayday-counters {
  height: 100%;
  position: relative;
  background-color: rgb(228,229,233);
  border-radius: 4px;
  text-align: center;
  color: $navy-blue-light-color;
  font-weight: 400;
  padding-top: 22px;
  .headline {
    font-size: 34px;
  }
  .icon-line {
    margin-top: 10px;
    height: 20px;
    text-align: center;
    position: relative;
    .half-hr {
      display: inline-block;
      width: 60px;
      background-color: rgb(193,197,200);
      height: 1px;
      margin-bottom: 8px;
    }
    i {
      font-size: 20px;
      padding: 0 10px;
    }
  }
  .counter-label {
    font-size: 24px;
  }
  .counter-row {
    margin-top: 6px;
    height: 84px;
    .tile {
      margin: 0 1.5px;
      padding-top: 28px;
      border-radius: 8px;
      color: #fff;
      display: inline-block;
      height: 100%;
      width: 56px;
      background-color: $navy-blue-light-color;
      font-size: 76px;
      position: relative;
      .hr {
        width: 100%;
        position: absolute;
        top: 42px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgb(0,0,0);
      }
    }
  }
}

#submit-candidate-modal {
  .modal-dialog {
    height: 100%;
    max-width:440px;
  }
  .modal-thankyou{
    max-width:340px;
  }
  .modal-content {
    background-color: #e4e4e4;
    border: none;
  }

  .modal-body {
    .close{
      margin-top:-14px;
      margin-right:-8px;
    }

    h2{
      font-weight:400;
      font-size:28px;
    }

    h2:first-of-type{
      margin-top:5px;
    }
    p{
      color: $navy-blue-color;
      line-height: 20px;
      font-size:16px;
    }

    .bootstrap-select{
      &:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
      }
      & > .btn{
        border-color: $navy-blue-color;
      }
      &.btn-group .btn .filter-option{
        color: $navy-blue-color;
        font-weight: 400;
        font-size:18px;
      }
      .text-muted{
        color:$navy-blue-color;
        font-weight:300;
        padding-left:4px;
      }
      .dropdown-menu li.active a small{
        color:$light-grey-color;
      }
    }

    .form-control{
      border-color: $navy-blue-color;
    }

    .form-group:last-child{
      margin-bottom:0;
    }
  }

  #onboarding-overlay {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
  }
}