/**
 * Variables
 */
$progress-breakpoint-large:1200px;
$progress-breakpoint-medium:968px;
$progress-breakpoint-small:715px;

@mixin breakpoint-small {
  @media (max-width: #{$progress-breakpoint-small - 1px}) {
    @content;
  }
}

@mixin breakpoint-medium {
   @media (min-width: #{$progress-breakpoint-medium}) and (max-width: #{$progress-breakpoint-medium - 1px}) {
     @content;
   }
}

@mixin breakpoint-large {
  @media (min-width: #{$progress-breakpoint-medium}) and (max-width: #{$progress-breakpoint-large - 1px}) {
    @content;
  }
}


.progress-include {
  background: #e4e5e9 url(/images/capitol_building.png) 0 bottom;
  overflow: hidden;
  font-weight: 400;
  position: relative;
  border-radius: 4px;
  height: 100%;
  .headline {
    color: $color-navy-blue-light;
    font-size: 34px;
    padding: 20px 3.5% 0 3.5%;
    position: relative;
    z-index: 99;
    margin:0;
    font-weight: 400;
  }
  .sub-headline {
    font-size: 22px;
    span {
      font-size: 24px;
    }
    line-height: 28px;
    margin-top: 14px;
    padding: 14px 3.5% 0 3.5%;
    position: relative;
    z-index: 99;
    @include breakpoint-large{
      padding-bottom: 1em;
    }

    @include breakpoint-medium {
      padding-bottom: 0em;

    }

    @include breakpoint-small {
      padding-bottom: 1em;
    }
  }
  .legend {
    color: $color-dark-red;
    text-align: right;
    font-size: 27px;
    margin: 15px 5% 8px 0;
    i {
      font-size: 20px;
    }
    position: relative;
    z-index: 99;
  }
  .lengend-shift{
    @include breakpoint-large{
      width: 50%;
      float: right;
    }

    @include breakpoint-medium {
      width: 100%;
      float: right;
    }

    @include breakpoint-small {
      width: 50%;
      float: right;
    }

  }
  .bar-line {
    height: 60px;
    position: relative;
    margin-bottom: 25px;
    .label {
      display: inline-block;
      width: 14%;
      padding: 12px 0 0 3.5%;
      height: 100%;
      font-size: 34px;
      font-weight: 300;
      color: $color-navy-blue;
    }
    .bar {
      float: right;
      margin-right: 5%;
      height: 100%;
      width: 75%;
      border: 2px solid #ffffff;
      border-radius: 5px;
      display: inline-block;
      position: relative;
      @include breakpoint-large{
        width: 87%;
        margin-right: 10%;
      }

      @include breakpoint-medium {

      }

      @include breakpoint-small {
        width: 87%;
        margin-right: 10%;
      }

    }
    .progress-section {
      display: inline-block;
      height: 100%;
      float: left;
      background-color: rgba(68, 147, 84, .9);
    }
    .count {
      float: right;
      color: white;
      font-weight: 400;
      font-size: 45px;
      margin: 14px 8px 0 0;
    }
    .togo-section {
      display: inline-block;
      float: right;
      height: 100%;
      background-color: rgba(123, 123, 123, .9);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .out-of {
      text-align: center;
      width: 50px;
      color: white;
      position: absolute;
      right: -25px;
      top: 6px;
      .rectangle {
        background-color: $color-dark-red;
        height: 30px;
        font-size: 20px;
        padding-top: 6px;
      }
      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 25px 0 25px;
        border-color: $color-dark-red transparent transparent transparent;
        /* force anti-aliasing */
        -moz-transform: scale(.9999);
        -webkit-transform: scale(.9999);
        -ms-transform: scale(.9999);
        -o-transform: scale(.9999);
        transform: scale(.9999);
      }
    }
  }
  .mobile-break{
    display: none;

    @include breakpoint-large{
      display: inline-block;
    }

    @include breakpoint-medium {
      display: none;
    }

    @include breakpoint-small {
      display: inline-block;
    }

  }

  .senate {
    .progress-section {
      width: 45%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .togo-section {
      width: 55%
    }
  }
  .house {
    .progress-section {
      width: 87%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .togo-section {
      width: 13%;
    }
  }
}

