/**
 * Mayday Content
 */

.record {

  .cta{
    h2{
      background-color: $color-grey-background;
      display:inline-block;
      padding: 20px 30px;
      border-radius: 5px;
    }
    strong{
      white-space: nowrap;
    }
  }

  .simple-list{
    strong{
      color: #000;
    }
  }

  .panel {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 400;
  }

  .tooltip-prompt {
    text-decoration: none;
    cursor: default;
  }

}