/**
 * Sign Up page
 **/

.sign-up{

  @include large-desktop {
    h1{
      margin-bottom: 50px;
    }
  }
  .action-panel.with-shield .panel-icon .img-responsive {
    @include tablet {
      top: -12px;
    }
    @include phone {
      top: -12px;
    }
  }

  form {
    text-align: center;
    border-radius: 5px;
    float:none;
    margin:25px auto 0;

    fieldset {
      border-radius: 5px;
      display: block;
      float:none;
      margin: 10px auto 0;
    }

    legend {
      text-align: center;
      border:none;
      line-height:140%;
      float:left;
      padding:0 20px;
    }

    input[type=text],  input[type=email]{
      border: 2px $color-navy-blue solid;
      border-radius: 5px;
      margin-bottom: 0;
      height: 43px;
      font-size: 110%;
      font-weight: 300;
      text-align: left;
    }

    .checkbox-inline{
      text-align: left;
      width:100%;
    }
  }
}
.col-md-6.form-left, .col-md-8.form-left{
  padding-left:0;
  padding-right:5px;
  @include tablet{
    padding-right:0px;
  }
  @include phone{
    padding-right:0px;
  }
}
.col-md-6.form-right, .col-md-4.form-right{
  padding-right:0;
  padding-left:5px;
  @include tablet{
    padding-left:0px;
  }
  @include phone{
    padding-left:0px;
  }
}
.col-md-6.form-left-sm, .col-md-8.form-left-sm{
  padding-left:30px;
  padding-right:5px;
  @include tablet{
    padding-right:30px;
  }
  @include phone{
    padding-right:30px;
  }
}
.col-md-6.form-right-sm, .col-md-4.form-right-sm{
  padding-right:30px;
  padding-left:5px;
  @include tablet{
    padding-left:30px;
  }
  @include phone{
    padding-left:30px;
  }
}
