
.sign-up{

  form {
    text-align: center;
    border: 2px $navy-blue-color solid;
    border-radius: 5px;
    float:none;
    margin:25px auto;

    fieldset {
      border-radius: 5px;
      display: block;
      float:none;
      margin: 10px auto 0;
    }

    legend {
      text-align: center;
      border:none;
      line-height:140%;
      float:left;
      padding:0 20px;
    }

    input {
      border: 2px $navy-blue-color solid;
      border-radius: 5px;
      padding: 20px 10px;
      font-size: 120%;
      font-weight: 300;
      text-align: left;
    }

    .checkbox-inline{
      text-align: left;
      width:100%;
    }
  }
}
