.sign-up {
  fieldset {
    text-align: center;
    max-width: 625px;
    border: 1px #124b9a solid;
    border-radius: 5px;
    display: block;
    margin: 35px auto;
  }

  legend {
    float: left;
    width: 100%;
    border: 0;
    text-align: center;
    padding: 20px 30px;
    margin: 0;
    color: #3c3642;
    font-weight: 100;
    font-size: 150%;
  }

  input {
    border: 1px #124b9a solid;
    border-radius: 5px;
    padding: 7px;
    font-size: 125%;
    font-weight: 100;
  }

  label {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  dt {
    display: none;
  }

  dd {
    display: inline;
  }

  #firstname,
  #lastname {
    width: 40%;
  }

  #email {
    width: 60%;
  }

  #zipcode {
    width: 20%;
  }

  #firstname,
  #lastname,
  #email,
  #zipcode {
    margin: 10px 5px;
  }

  button {
    margin: 10px 0 30px 0;
    width: 82%;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    background-color: #b0010e;
    text-transform: uppercase;
  }
}