/**
 * Mixins for Panels and Buttons
 */


/**
 * Grid of Panels
 */

.action-tree{
  float:none;
  margin-bottom:40px;

  >li{
    padding:0 75px 20px;
    position:relative;
    @include phone{
      padding:0 0 20px;
    }

    >.panel{display:none}

    >.btn-md-wide{
      margin:0;
      text-align:left;
      @include phone {
        font-size: 16px;
      }
    }

    &:nth-child(1) > .btn-md-wide{background:#094067}
    &:nth-child(2) > .btn-md-wide{background:#513c5f}
    &:nth-child(3) > .btn-md-wide{background:#5e8cac}
    &:nth-child(4) > .btn-md-wide{background:#759c64}
    &:nth-child(5) > .btn-md-wide{background:#eaa663}
    &:nth-child(6) > .btn-md-wide{background:#af010e}

    >small{
      position:absolute;
      top:1px;
      left:0;
      width:65px;
      height:65px;
      background:#fff url('/images/action/check.svg') center center no-repeat;

      &.icon-sign-up{background-image: url('/images/action/sign_up_1_off.svg')}
      &.icon-get-educated{background-image: url('/images/action/get_educated_2_off.svg')}
      &.icon-spread-the-word{background-image: url('/images/action/spread_the_word_3_off.svg')}
      &.icon-call-congress{background-image: url('/images/action/call_congress_4_off.svg')}
      &.icon-join-discussion{background-image: url('/images/action/join_disscussion_5_off.svg')}
      &.icon-volunteer{background-image: url('/images/action/volunteer_6_off.svg')}
      @include phone{
        width: .01px; //hidden on phone
      }
    }


    &.active{
      >.btn{display:none}
      >.panel{display:block}
      >small.show-incomplete{
        &.icon-sign-up{background-image: url('/images/action/sign_up_1_on.svg')}
        &.icon-get-educated{background-image: url('/images/action/get_educated_2_on.svg')}
        &.icon-spread-the-word{background-image: url('/images/action/spread_the_word_3_on.svg')}
        &.icon-call-congress{background-image: url('/images/action/call_congress_4_on.svg')}
        &.icon-join-discussion{background-image: url('/images/action/join_disscussion_5_on.svg')}
        &.icon-volunteer{background-image: url('/images/action/volunteer_6_on.svg')}
      }
    }

    &.incomplete{
      background:transparent url('/images/action/tmp-vertical-dots.png') 32px 20px no-repeat;
      .show-complete{display:none}
      .show-incomplete{display:initial;}
      @include phone{background: none;} //hidden on phone
    }

    &.complete{
      .show-complete{display:initial;}
      .show-incomplete{display:none;}
      .panel{background:#eee;}
      >.btn-md-wide{background:$color-grey;}
    }

    &:last-child{background:none;}
  } // li
}