/**
 * Mayday Page Styles
 */
#plan-byline{//the plan-byline and progress-clearance are just to make sure the typography remains correct
  margin-bottom: .8em;
  font-size: 25px;
  @include small-desktop {
    margin-bottom: .7em;
  }
}
#progress-clearance{
  margin:0 0 1.8em 0;
}
.small-break p{
  line-height: 1.7;
  margin-top: 0em;
  margin-bottom: 1.15em;

  @include phone {
    width: 100%
  }
}

.small-break h2, .small-break h3{
  font-weight: 400;
  margin: 1.2em 0 .65em 0;
}

/**
 * Mayday Panel Styles
 */

.panel-mayday {
  .mayday-profile {
    padding-left: 0;
    margin-bottom: $bottom-spacing;
    margin-left: 2px;
    &:hover > .headshot > img {
      border: 3px solid $color-navy-blue-light;
      opacity: 1.0;
    }
    .headshot {
      padding-right: 10px;;
    }
    .push-left{
      margin-left: 0;
      padding-left: 0;
    }
    .headshot > img {
      border: 3px solid transparent;
      opacity: 0.8;
      width: 100%;
    }
    h4 {
      margin: 0;
    }
    h6 {
      margin: 3px 0;
    }

    @include tablet {
      h4 {
        margin: inherit;
        font-size: 1.6em;
      }
      h6 {
        margin: 8px 0;
        font-size: 1.2em;
      }

    }

    @include phone {
      h4 {
        font-size: 1.2em;
      }
      h6 {
        margin: 8px 0;
        font-size: 0.8em;
      }

    }
  }
}

/**
 * Mayday Button
 */

 a.btn-targets {
  background-color: $color-grey-blue;
  border-color: $color-grey-blue;
  text-transform: uppercase;
  color: white;
  font-weight: 300;

  @include large-desktop {
    padding: 4px 8px;
    font-size: 12px;
  }

  @include small-desktop {
    padding: 4px 8px;
    font-size: 12px;
  }

  @include tablet {
    padding: 6px 16px;
    font-size: 14px;
  }

  @include phone {
    padding: 6px 16px;
    font-size: 14px;
  }

  &:hover {
    background-color: $color-grey-light;
    border-color: $color-grey-light;
  }
}
/**
 * sticky form
 */
.sticky{
  position: fixed;
  z-index: 10;
  padding-left: 0;
  width: 9%;
  div{
    font-size: 14px;
    margin-bottom: 14px;
  }
}
