/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $standard-margin;
}

html, body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $mayday-text;
  @include phone{
    color: #333;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

.embed-responsive{
  background: $color-grey-background;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

hr{
  border:none;
  border-top:2px solid $mayday-grey-medium;
}


/**
 * Lists
 */
.page-content .wrapper{
  ul, ol {
    margin-left: $left-margin-spacing;
    margin-bottom: 10px;
  }

  li {
    > ul,
    > ol {
      margin-bottom: 0;
    }
  }
}

/**
 * simple list
 */

 ol.simple-list {
    list-style-type: none;
    margin: 1em 0 1em 3em;
    padding: 0;
    counter-reset: li-counter;

  li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCC;
    font-size:18px;
  }
  li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
  &.small-list li:before {
    font-size: 2em;
    left:-1.2em;
  }
  > li ul{
    margin-bottom:1em;
  }
  li ul li{
    list-style-type:square;
  }
}

.md-modal-wrap ol.simple-list{
  margin-left:10px;
}

.page-content ul.blog-listings{
  margin:0;

  li{
    list-style-type:none;
  }
  time{
    position:relative;
    background-color:$mayday-background;
    width:100%;
    display:inline-block;
    overflow:hidden;

    span{
      display:inline-block;
      padding-right:10px;
      background: $mayday-background;
    }

    &:after{
      content:" ";
      position:absolute;
      width:100%;
      top: calc(50% - 1px);
      border-bottom:2px solid $mayday-blue-light;
    }
  }
}


/**
 * Headings
 */

h1, h2, h3, h4, h5, h6, legend {
  color: $mayday-text;
  margin-bottom:20px;
  a:link:not(.btn), a:visited:not(.btn){
    color: $mayday-text;
  }
}

h1, .as-if-h1{font-size: 60px; font-weight: 700; line-height: 60px; letter-spacing: 0;   text-transform: none}
h2, .as-if-h2{font-size: 40px; font-weight: 400; line-height: 48px; letter-spacing: 0;   text-transform: none}
h3, .as-if-h3{font-size: 32px; font-weight: 500; line-height: 38px; letter-spacing:+3px; text-transform: uppercase; }
h4, .as-if-h4{font-size: 18px; font-weight: 500; line-height: 24px; letter-spacing:+2px; text-transform: uppercase; }
h5, .as-if-h5{font-size: 21px; font-weight: 400; line-height: 30px; letter-spacing: 0;   text-transform: none}
h6, .as-if-h6{font-size: 13px; font-weight: 400; line-height: 20px; letter-spacing: 0;   text-transform: uppercase}

h1 a:hover:not(.btn) {
  text-decoration: none;
  .text-orange{color:$mayday-grey-dark}
}

legend{
  font-size: 24px;
}

@mixin generate-text-color($class-name, $color) {
  .#{$class-name},
  a:link:not(.btn).#{$class-name},
  a:visited:not(.btn).#{$class-name}{color: $color}
}

.red-text{color: $color-dark-red}
@include generate-text-color("text-orange", $mayday-orange-medium);
@include generate-text-color("text-yellow", $mayday-yellow-light);
@include generate-text-color("text-grey-light", $mayday-grey-medium);
@include generate-text-color("text-blue-highlight", $mayday-blue-light);
@include generate-text-color("text-grey-medium", $mayday-grey-dark);

/**
 * Paragraph
 */
p {
  margin-bottom: $bottom-spacing;

  &.subheader {
    color: $color-navy-blue-light;
    font-weight: 300;
  }

  &.byline{
    color: $mayday-grey-dark;
    font-weight: 700;
    font-size:21px;
    &.small{
      font-weight:400;
      font-size:15px;
      line-height: 22px;
      margin-top:0;
    }
  }

  &:first-child{
    margin-top:0;
  }
}

.page-content p{
  @include phone{
    padding-bottom: 18px;
  }
}

/**
 * Links
 */
/* nots are UNFORTUNATELY needed for NB, or spend 10s of hours fixing nb dependencies */
a:link:not(.btn), a:visited:not(.btn), a:active:not(.btn) {
  color: #007acf;
  position: relative;
}

a:hover:not(.btn) {
  color: $mayday-text;
  text-decoration: none;
}

  /* animated underlines*/
  a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid $mayday-orange-medium;
    transition: 0.5s ease;
  }

  a:hover:not(.btn):after {
    width: 100%;
  }


/**
 * Blockquotes
 */
blockquote {
  color: $mayday-text;
  padding: 0.5em 1em;
  display:inline-block;
  margin-left:1em;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  background: #FAFAFA;

  > :first-child{
    margin-top:0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: #eef;
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $color-grey;
    }
  }
}

/* flash messages */

.flash-message {
  z-index: 999;
  margin-bottom: 20px;
  padding:5px;
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }
  &.notice {
    border: solid 4px #26722D;
    background-color: #A4E7A0;
  }
  &.success {
    border: solid 4px #5CB85C;
    background-color: #D7F9C9;
  }
  h3{
    font-weight: 700;
    margin:0;
  }
}


@mixin input-placeholder {
  ::-webkit-input-placeholder{@content}
  :-moz-placeholder{@content}
  ::-moz-placeholder{@content}
  :-ms-input-placeholder{@content}
}