/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $standard-margin;
}

html, body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $mayday-text;
  @include phone{
    color: #333;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

.embed-responsive{
  background: $color-grey-background;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
.page-content .wrapper{
  ul, ol {
    margin-left: $left-margin-spacing;
    margin-bottom: 10px;
  }

  li {
    > ul,
    > ol {
      margin-bottom: 0;
    }
  }
}


/**
 * Headings
 */

h1, h2, h3, h4, h5, h6, legend {
  color: $mayday-text;
  margin-bottom:20px;
}

h1{font-size: 60px; font-weight: 700; line-height: 60px; }
h2{font-size: 40px; font-weight: 400; line-height: 48px; }
h3{font-size: 32px; font-weight: 500; line-height: 38px; letter-spacing:+3px; text-transform:uppercase; }
h4{font-size: 18px; font-weight: 500; line-height: 24px; text-transform:uppercase; }
h5{font-size: 21px; font-weight: 400; line-height: 30px; }

legend{
  font-size: 24px;
}

.red-text{color: $color-dark-red}

/**
 * Paragraph
 */
p {
  margin-bottom: $bottom-spacing;

  &.subheader {
    color: $color-navy-blue-light;
    font-weight: 300;
  }

  &.byline{
    color: $color-navy-blue-light;
    font-weight: 700;
    font-style: italic;
    font-size:21px;
    &.small{
      font-weight:400;
      font-size:85%;
      margin-top:0;
    }
  }

  &:first-child{
    margin-top:0;
  }
}

.page-content p{
  @include phone{
    padding-bottom: 18px;
  }
}

/**
 * Links
 */
/* nots are UNFORTUNATELY needed for NB, or spend 10s of hours fixing nb dependencies */
a:link:not(.btn), a:visited:not(.btn), a:active:not(.btn) {
  color: #007acf;
}
a:hover:not(.btn) {
  color: $mayday-text;
}

/**
 * simple list
 */

 ol.simple-list {
    list-style-type: none;
    margin: 1em 0 1em 3em;
    padding: 0;
    counter-reset: li-counter;

  li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
    font-size:18px;
  }
  li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
  }
  &.small-list li:before {
    font-size: 2em;
    left:-1.2em;
  }
  > li ul{
    margin-bottom:1em;
  }
  li ul li{
    list-style-type:square;
  }
}

.md-modal-wrap ol.simple-list{
  margin-left:10px;
}

/**
 * Blockquotes
 */
blockquote {
  color: $mayday-text;
  padding: 0.5em 1em;
  display:inline-block;
  margin-left:1em;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  background: #FAFAFA;

  > :first-child{
    margin-top:0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: #eef;
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $color-grey;
    }
  }
}

/* flash messages */

.flash-message {
  z-index: 999;
  margin-bottom: 20px;
  padding:5px;
  &.error {
    border: solid 4px #900;
    background-color: #FF6565;
  }
  &.notice {
    border: solid 4px #26722D;
    background-color: #A4E7A0;
  }
  &.success {
    border: solid 4px #5CB85C;
    background-color: #D7F9C9;
  }
  h3{
    font-weight: 700;
    margin:0;
  }
}
