@font-face {
  font-family: "socicontumblr";
  src: url("//frontend-staging.mayday.us/fonts/socicon/socicon-webfont.eot");
  src: url("//frontend-staging.mayday.us/fonts/socicon/socicon-webfont.eot?#iefix") format("embedded-opentype"),
    url("//frontend-staging.mayday.us/fonts/socicon/socicon-webfont.woff") format("woff"),
    url("//frontend-staging.mayday.us/fonts/socicon/socicon-webfont.ttf") format("truetype"),
    url("//frontend-staging.mayday.us/fonts/socicon/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}
.socicon {
  font-family: "socicontumblr" !important;
}