/**
 * Tumblr Posts
 */

article{
  margin: 0 0 80px;

  .post-content {
    div:last-child, div:last-child p,
    div:last-child ul, div:last-child ol,
    div:last-child blockquote {margin-bottom: 0;}
      img {margin-bottom: 20px;padding: 10px;}
      &.post-type-text ol li {
		  list-style-type: decimal;
			padding-left: 10px;
			margin: 10px;
		  }
        &.post-type-text ol ol li {list-style-type: lower-latin;}
    &.post-type-photoset .html_photoset {background: #eee;margin-bottom: 20px;padding: 10px;}
    &.post-type-link .link-wrap {margin-bottom: 20px;}
    &.post-type-chat .label {color: #333;font-weight: bold;}
    &.post-type-video .video-wrap {background: #f0f0f0;margin-bottom: 20px;padding: 10px;}
    &.post-type-audio .caption {margin-top: 10px;}
  }
  .post-meta {padding-top:5px;border-top:1px solid $mayday-grey-medium; overflow: hidden;}
    .post-meta .type a {font-size:20px;padding: 0 0 10px;text-decoration: none;}
    .post-meta .date, .post-meta .comments, .post-meta .note-count {float: left;padding: 0 10px 0 0;}
    .post-meta .date {padding: 0;}
    ul.post_controls{float: right; width:70px; padding:0; margin: 0; }
      ul.post_controls li{padding:5px 5px 0;margin:0;display:inline-block;float:right;}
}

#disqus_thread {border-top: 1px solid #ccc;padding: 10px 30px 0;}
  #dsq-content .dsq-subscribe-menu {font-size: 12px;}
#post-notes {border-top: 1px solid #ccc;padding: 30px;}
  #post-notes ol li {border-bottom: 1px dotted #ccc;padding: 10px 0;}
    #post-notes ol li img {background: none;padding-right: 3px;vertical-align: middle;}
ul.pagination {width:100%;overflow:hidden;padding:0;margin:0;}

.widget {color: #333;font-size: 18px;padding: 0 20px 20px 20px;}
    .widget h3 a, .widget h3 a:visited {text-decoration: none;}
    .widget h3 a:focus, .widget h3 a:hover, .widget h3 a:active {}
  .widget img {padding: 5px;max-width: 250px;}
  .widget p:last-child, .widget ul:last-child, .widget ol:last-child, .widget blockquote:last-child {margin-bottom: 0;}
#about {overflow: hidden;}
  #about img {background: #fff;border: 1px solid #ccc;float: left;margin: 0 10px 0 0;padding: 3px;}
.like_post {border-bottom: 1px dotted #ccc;margin-bottom: 20px;padding-bottom: 20px;}
.like_post:last-child {border: none;margin: 0;padding: 0;}
  .like_post ul {padding-left: 20px;}
    .like_post ul ul {margin-bottom: 0;}
    .like_post ul li {list-style-type: disc;}
      .like_post ul ul li {list-style-type: circle;}
  .like_post ol {padding-left: 20px;}
    .like_post ol ol {margin-bottom: 0;}
    .like_post ol li {list-style-type: upper-latin;}
      .like_post ol ol li {list-style-type: lower-latin;}
  .like_post p:last-child, .like_post ul:last-child, .like_post ol:last-child, .like_post blockquote:last-child {margin-bottom: 0;}
#tweets {margin-bottom: 10px;}
  #tweets .content {margin-bottom: 10px;}
    #tweets a {text-decoration: none;}
#following_container {overflow: hidden;padding-bottom: 20px;}
  #following_container li {display: inline;padding: 0;margin: 0;}