/** 
 * Mayday Content
 */


.all-videos {
  margin-bottom: 40px;
}
.video-group{
  display: inline-block;
  float: left;
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
    @include large-desktop {
      &.two-line-height-on-lg {
        min-height: 48px;
      }
    }
  }
  .video-box{
    padding-top: 15px;
    padding-bottom: 20px;
    height:0;
    padding-bottom:56.25%;
    overflow:hidden;
    position: relative;
  }
  .video-box iframe,.video-box object, .video-box embed {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
  }
  .button-row{
    border-radius: 4px;
  }
  .fb, .tw {
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    width: 98%;
    margin: 10px 0;
    vertical-align: middle;
    .fa {
      font-size: 28px;
      line-height: 1;
      vertical-align: middle;
      margin-right: 5px;
    }
    .share-button-text {
      vertical-align: middle;
    }
  }
  .fb {
    background-color: $facebook-color;
    float: left;
  }
  .tw{
    background-color: $twitter-color;
    float: right;
  }
}


.top-signup {
  float: right;
  @include tablet{
    display: none;
  }
  @include phone{
    display: none;
  }
}

.bottom-signup{
  display: none;
  @include tablet{
    display: inline-block;
  }
  @include phone{
    display: inline-block;
  }
}
