---
layout: default
title: Announcing MD Stuff
permalink: elect-jamie-raskin/volunteer/
hideMenus: true
hideHeaderSignUp: true
meta_content: |
  <meta property="og:url" content="https://mayday.us/elect-jamie-raskin/"/>
  <link rel="canonical" href="https://mayday.us/elect-jamie-raskin/">
  <meta property="og:image" content="https://mayday.us/images/campaigns/20151019_md_launch_social_800x500_v01.1.jpg"/>
  <meta property="og:title" content="Let's put the Spotlight on Campaign Finance Reform"/>
  <meta property="og:description" content="Let's show candidates that their supporters want fundamental reform of the way elections are funded. Donate to help us inscrease our sample size"/>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="{{ root_path }}/images/M_shield_callout_box.svg" name="twitter:image:src"/>
  <meta content='@mayday' name="twitter:site"/>
  <title>Let's put the Spotlight on Campaign Finance Reform - MAYDAY</title>
---
{% capture custom_css %}
<style type="text/css">
  .control-label h3{font-weight:400;}
  .page-content{padding-bottom: 0}
  .donate-flavor-text > p, .donate-flavor-text > p:first-of-type{font-weight:400}
  .not-ready-link{line-height:100%;margin: 5px 0 0;}
  .not-ready-link a{color:#808080;}
</style>
{% endcapture %}

{% capture content %}
{% include campaigns/20151019_md_jumbotron.html action_text="We need 250 volunteers to build a revolution that will carry us to victory." %}



<div class="container">
  <div class="row">
    {% include campaigns/20151019_md_progress_bars.html alt_title="Volunteer" %}
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-7 donate-flavor-text">
      {% include campaigns/20151019_md_flash_message.html thanks_follow_up="Now let's figure out how you can volunteer!" %}
      <h2><strong>Change starts at the grass roots</strong></h2>
      <p>We are back in electoral politics, with new vision. <strong>And we need your help.</strong></p>
      <p><strong>Our first race is in Maryland, in one of the most important congressional races this cycle.</strong></p>
      <p>We&rsquo;re backing Jamie Raskin, one of the most effective leaders in Maryland because he consistently puts the people over special interests.</p>
      <p>He&rsquo;s relying on grassroots support; the majority of his money comes from voters in Maryland. Meanwhile, his opponent is raising Big Money from interests in DC and outside of the district she wants to represent.</p>
      <p><strong>We need 250 volunteers &ndash; including 40 in Maryland &ndash; to build a revolution that will carry us to victory.</strong></p>


    </div>
    <div class="col-md-6 col-lg-5">
      {% capture panel_body %}
      <div class="panel-body">
        <h2>Volunteer to elect a reformer</h2>
        <p>Help send Jamie Raskin to Congress to fight big money from special interests!</p>
        <form class="join js-volunteer md-inputs">
          <fieldset>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label sr-only" for="person[first_name]">First Name</label>
                <input id="person[first_name]" name="person[first_name]" type="text" placeholder="First Name">
              </div>

              <div class="form-group col-md-6">
                <label class="control-label sr-only" for="person[last_name]">Last Name</label>
                <input id="person[last_name]" name="person[last_name]" type="text" placeholder="Last Name">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <label class="control-label sr-only" for="person[email]">Email Address</label>
                <input id="person[email]" name="person[email]" type="email" placeholder="Email Address" required="true">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-8 no-bottom-margin">
                <label class="control-label sr-only" for="person[phone]">Phone</label>
                <input id="person[phone]" name="person[phone]" type="tel" placeholder="Phone" required="true">
              </div>

              <div class="form-group col-md-4 no-bottom-margin">
                <label class="control-label sr-only" for="person[zip]">ZIP</label>
                <input id="person[zip]" name="person[zip]" pattern="\d{5,5}(-\d{4,4})?" type="text" placeholder="ZIP" required="true">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-10 center-block text-left">
                <label class="control-label" for="volunteer_tasks">I'm willing to... </label>
                <span class="help-block for-checkboxes">Check all that apply.</span>
                <div class="checkbox">
                  <label for="person-tags-0">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-0" value="20151026_md_phonebanking">
                    Make Calls
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-1">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-1" value="20151026_md_fundraising">
                    Fundraise
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-2">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-2" value="20151026_md_spreading">
                    Spreading the word on social media
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-3">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-3" value="20151026_md_talking">
                    Talking to voters in person
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-4">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-4" value="20151026_md_attend">
                    Attend Events and rallies
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-5">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-5" value="20151026_md_organizing">
                    Organize other volunteers
                  </label>
                </div>
                <div class="checkbox">
                  <label for="person-tags-6">
                    <input type="checkbox" name="person[remote_fields][tags][]" id="person-tags-6" value="20151026_md_donate">
                    Donate
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-11 center-block">
                <label class="control-label sr-only" for="singlebutton">Submit</label>
                <input type="hidden" name="template_id" value="20151026_md_volunteer">
                <input type="hidden" name="person[remote_fields][tags][]" value="20151026_md_volunteer">
                <input type="hidden" name="person[is_volunteer]" value="1">
                <button type="submit" class="btn btn-md-wide btn-md-red">Let's get started</button>
                <p class="help-block">We respect your privacy. Your phone number will not be shared with outside parties. Note:  If submitting your cell number, you are certifying that this cell phone number belongs to you and granting Mayday PAC and its contracted phone vendors permission to call you at this cell phone number during legal calling hours. Message &amp; data rates may apply.</p>
              </div>
            </div>
            <div class="row">
            </div>
          </fieldset>
        </form>
      </div>
      {% endcapture %}
      {% include panels/panel_empty.html %}
    </div>
  </div>
</div>

{% endcapture %}

{% capture panel_signup_js %}

<script>
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
  })();
  $('.js-volunteer').validate({
    submitHandler: function(form) {
      console.log('submitHandler');
      var share_redirect = 'http://shpg.org/220/16397',
          $form = $(form);
      $form.find('button.btn').html('<i class="fa fa-refresh fa-spin"></i> Loading...');
      console.log('loading');
      $.post('{{site.services_url}}/actions', $form.serialize()).done(function(){
        console.log('done posting');
        window['optimizely'] = window['optimizely'] || [];
        window.optimizely.push(["trackEvent", "JoinSignup"]);
        {% if include.facebook_pixel_id %}
        window._fbq = window._fbq || [];
        _fbq.push(['track',{{include.facebook_pixel_id}},{'value':'0.00','currency':'USD'}]);
        {% endif %}
        window.location = share_redirect;
      });
    }
  });
</script>
{% endcapture %}
{% capture footer_scripts %}{{footer_scripts}}{{panel_signup_js}}{% endcapture %}


{% include sub_layouts/default_layout.html %}
