---
layout: default
title: Take Action
permalink: /june23/
hideMenus: true
hideHeaderSignUp: true
meta_content: |
  <meta property="og:url" content="https://mayday.us/june23/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150623_social_day_of_action.png"/>
  <meta property="og:title" content="June 23 Day of Action to Reform Congress"/>
  <title>June 23: Take Five minutes to Help to Reform Congress</title>
  <meta property="og:description" content=" I just took action to reform Congress, and I hope you’ll do it too. MAYDAY is helping us reform the way campaigns are funded. It’s easy, and it makes a big difference."/>
  <link rel="canonical" href="https://mayday.us/june23/">
---
{% capture custom_css %}
<style type="text/css">
  .dayofaction .thanks-message{display:none;}
  .jumbotron{background: #af010e url("/images/campaigns/20150615_dayofaction-rsvp_landing_page_1170x133_v02.png") center bottom no-repeat; min-height: 140px}
  .control-label h3{font-weight:400;}
</style>
{% endcapture %}

{% capture content %}

<div class="jumbotron text-hide  hidden-xs hidden-sm">
  <h1>RSVP for the Day of Action: Tuesday June 23</h1>
</div>

<div class="container dayofaction">
  <h1>A Day of Action: Tuesday June 23</h1>
  <h3>Take five minutes to help reform Congress</h3>
  <div class="row">
    <div class="col-md-10">
      <p>It's time for the people to take back our country from special interests. Take 5 minutes to help change the way campaigns are funded and end the system of corruption in Washington, DC! </p>
    </div>
  </div>
  <br/>
  <ul class="action-tree col-md-10 center-block list-unstyled">
    <li class="incomplete js-rsvp-wrap">
      <small class="text-hide show-complete">Completed:</small>
      <small class="text-hide show-incomplete icon-sign-up">Incomplete</small>
      <a href="#" class="btn btn-md-wide" title="Get Involved in Your District">
        <strong class="show-complete">Completed:</strong>
        <strong class="show-incomplete">1.</strong>
        Get Involved in Your District
      </a>
      {% include panels/campaign/20150623_multi_actions.html %}
    </li>
    <li class="incomplete js-record-message">
      <small class="text-hide show-complete">Completed:</small>
      <small class="text-hide show-incomplete icon-call-congress">Incomplete</small>
      <a href="#" class="btn btn-md-wide" title="Record a Message">
        <strong class="show-complete">Completed:</strong>
        <strong class="show-incomplete">2.</strong>
        Record a message
      </a>
      {% include panels/campaign/20150623_record_action.html show_instructions=true %}
    </li>
    <li class="incomplete js-spread-the-word">
      <small class="text-hide show-complete">Completed:</small>
      <small class="text-hide show-incomplete icon-spread-the-word">Incomplete</small>
      <a href="#" class="btn btn-md-wide" title="Invite your friends">
        <strong class="show-complete">Completed:</strong>
        <strong class="show-incomplete">3.</strong>
        Invite your friends
      </a>
      <div class="panel action-panel with-shield">
        <div class="panel-icon">
          <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
          <div class="fade-line hidden-xs hidden-sm"></div>
        </div>
        <div class="panel-body">
          <div class="row">
            <h2>Invite your friends</h2>
            <p>Success depends on building this movement. Email a few friends to join the movement by recording a message to Congress.</p>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-8 center-block">
              <a href="mailto:&body=MAYDAY%20is%20helping%20us%20end%20the%20system%20of%20corruption%20in%20Washington%2C%20DC%20by%20changing%20the%20way%20campaigns%20are%20funded.%20%0A%0AWill%20you%20join%20me%20to%20take%20action%20to%20reform%20Congress%3F%20It%20takes%20less%20than%20minute%20to%20respond%20and%20will%20make%20a%20big%20difference%20--%20thanks%20in%20advance%21%20https%3A%2F%2Fmayday.us%2FJune23%2F.%0A&subject=Please%20help%20reform%20Congress" target="_blank" class="btn btn-md-wide btn-share-center youtube">
                <span class="text"><i class="fa fa-envelope-o"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
<!--   <div class="row">
    <div class="col-md-6">
      <div class="rsvp-wrap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="action-wrap">
      </div>
    </div>
  </div> -->
</div>
{% endcapture %}


{% capture day_of_action_js %}

<script>

</script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{day_of_action_js}}{% endcapture %}

{% include sub_layouts/default_layout.html %}
