---
layout: default
title: MAYDAY.US - Elect Jamie Raskin to reform Congress
permalink: /elect-jamie-raskin/
hideMenus: true
hideHeaderSignUp: true
meta_content: |
  <meta property="og:url" content="https://mayday.us/elect-jamie-raskin/"/>
  <link rel="canonical" href="https://mayday.us/elect-jamie-raskin/">
  <meta property="og:image" content="https://mayday.us/images/campaigns/20151019_md_launch_social_800x500_v01.1.jpg"/>
  <meta property="og:title" content="MAYDAY.US: Sign up to elect Jamie Raskin to reform Congress"/>
  <meta property="og:description" content="Our first people-powered candidate is Jamie Raskin. He has spent his entire career fighting big money corruption in politics for citizen-funded elections. Raskin has pledged to refuse all campaign contributions from Big Oil, Big Gas, and Big Coal PACs. You can help him win a seat in Congress."/>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="{{ root_path }}/images/M_shield_callout_box.svg" name="twitter:image:src"/>
  <meta content='@mayday' name="twitter:site"/>
  <title>Let's elect someone to fight big money corruption in politics - MAYDAY.US</title>
---
{% capture custom_css %}
<style type="text/css">
  .control-label h3{font-weight:400;}
  .page-content{padding-bottom: 0}
  .donate-flavor-text > p, .donate-flavor-text > p:first-of-type{font-weight:400}
  .not-ready-link{line-height:100%;margin: 5px 0 0;}
  .not-ready-link a{color:#808080;}
</style>
{% endcapture %}

{% capture content %}
{% include campaigns/20151019_md_jumbotron.html action_text='Join the grassroots movement. <br class="hidden-sm hidden-xs hidden-md"/>Let’s take back our Republic.' %}




<div class="container">
  <div class="row">
    {% include campaigns/20151019_md_progress_bars.html alt_title="Join" %}
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-7 donate-flavor-text">
      <h2><strong>Change starts at the grassroots.</strong></h2>
      <p>In 2016, MAYDAY.US will focus on the most important fights between entrenched power and open, democratic elections. We&rsquo;ll fight to elect reformers at all levels of government, bringing &ldquo;netroots&rdquo; people power wherever we go. </p>
      <p><strong>Our first race is in Maryland, in one of the most important congressional races this cycle.</strong></p>
      <p>We&rsquo;re backing Jamie Raskin, one of the most effective leaders in Maryland because he consistently puts the people over special interests.</p>
      <p>Jamie is a powerful voice for reform who has spent his entire career fighting to end corruption from big money in politics. He focuses on the people and advocates for a better democracy. A law professor at American University, Jamie literally wrote the campaign finance reform book about the &ldquo;wealth primary.&rdquo;</p>
      <p><strong>The stakes could not be more clear.</strong> Jamie&rsquo;s donations come from his district voters, the people he&rsquo;s fighting to represent. His main opponent&rsquo;s donations come from investment bankers, Fortune 500 executives, and DC insiders.</p>
      <p>Kathleen Matthews thinks the way to do things is with a well-connected few. She&rsquo;s a corporate lobbyist who represents powerful interests and politics as usual.</p>
      <p>Her Big Money is outpacing Jamie&rsquo;s grassroots campaign. She just outraised him by $200,000, primarily from special interests.</p>
      <p><strong>Help us fight back and elect a leader for reform!</strong></p>


    </div>
    <div class="col-md-6 col-lg-5">
      {% include panels/campaign/20151026_md_panel_signup.html %}
    </div>
  </div>
</div>

{% endcapture %}

{% include sub_layouts/default_layout.html %}
