---
layout: default
title: MAYDAY.US VIDEO: Progress in 2015
permalink: /progress-in-2015/
hideMenus: true
hideHeaderSignUp: true
meta_content: |
  <meta property="og:url" content="https://mayday.us/progress-in-2015/"/>
  <link rel="canonical" href="https://mayday.us/progress-in-2015/">
  <meta property="og:image" content="https://mayday.us/images/campaigns/20151019_md_launch_social_800x500_v01.1.jpg"/>
  <meta property="og:title" content="MAYDAY.US VIDEO: Progres in 2015"/>
  <meta property="og:description" content="A volunteer just created this video to celebrate—watch and share the incredible work volunteers did to move our country closer to reform."/>
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="{{ root_path }}/images/M_shield_callout_box.svg" name="twitter:image:src"/>
  <meta content='@mayday' name="twitter:site"/>
  <title>VIDEO: Progress in 2015 fighting big money in politics - MAYDAY.US</title>
---
{% capture custom_css %}
<style type="text/css">
  .control-label h3{font-weight:400;}
  .page-content{padding-bottom: 0}
  .donate-flavor-text > p, .donate-flavor-text > p:first-of-type{font-weight:400}
  .not-ready-link{line-height:100%;margin: 5px 0 0;}
  .not-ready-link a{color:#808080;}
</style>
{% endcapture %}

{% capture content %}
{% include campaigns/20151019_md_jumbotron.html action_text='Join the grassroots movement. <br class="hidden-sm hidden-xs hidden-md"/>Let’s take back our Republic.' %}




<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-7 donate-flavor-text">
      <h2><strong>Change is happenning at the grassroots.</strong></h2>
      <p>You did it! MAYDAY.US citizens in Missouri got Congressman Lacy Clay to co-sponsor the Government by the People Act! Then Congressman Dan Kildee of Michigan joined, hitting our goal of 35 members of Congress since we launched our campaign!</p>
      <p><strong>Maine and Seattle just passed fundamental reform, and a volunteer just created this video to celebrate the new national progress! Watch and share the incredible work volunteers did to move our country closer to reform:</strong></p>
      <p>We&rsquo;re backing Jamie Raskin, one of the most effective leaders in Maryland because he consistently puts the people over special interests.</p>
      <h3 class="bottom-spacer-xs">Zephyr Teachout announces campaign to elect Jamie Raskin</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" allowfullscreen src="//www.youtube.com/embed/9Ps0vvytB64"></iframe>
      </div>
      <p>Jamie is a powerful voice for reform who has spent his entire career fighting to end corruption from big money in politics. He focuses on the people and advocates for a better democracy. A law professor at American University, Jamie literally wrote the campaign finance reform book about the &ldquo;wealth primary.&rdquo;</p>
      <p><strong>The stakes could not be more clear.</strong> Jamie&rsquo;s donations come from his district voters, the people he&rsquo;s fighting to represent. His main opponent&rsquo;s donations come from investment bankers, Fortune 500 executives, and DC insiders.</p>
      <p>Kathleen Matthews thinks the way to do things is with a well-connected few. She&rsquo;s a corporate lobbyist who represents powerful interests and politics as usual.</p>
      <p>Her Big Money is outpacing Jamie&rsquo;s grassroots campaign. She just outraised him by $200,000, primarily from special interests.</p>
      <p><strong>Help us fight back and elect a leader for reform!</strong></p>


    </div>
    <div class="col-md-6 col-lg-5 bottom-spacer-sm">
      {% include panels/campaign/20151026_md_panel_signup.html %}
    </div>
  </div>
</div>

{% endcapture %}

{% include sub_layouts/default_layout.html %}
