---
layout: default
title: Take Action
permalink: /townhall/
meta_content: |
  <meta property="og:url" content="https://mayday.us/townhall/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150429-hero-bg.jpg"/>
  <meta property="og:title" content="MAYDAY PAC - Make calls with Team MAYDAY"/>
  <meta property="og:description" content="Join MAYDAY leaders for a Google Hangout to call Congress. This session will be limited to the first 20 citizens to RSVP. We’ll report on campaign progress, make calls to Congress together, then give you a sneak peek at the campaign’s next steps to get your input. Let's do our part together."/>
  <link rel="canonical" href="https://mayday.us/townhall/">
---
{% capture custom_css %}
<style type="text/css">
  .somePageSpecificCss{}
</style>
{% endcapture %}

{% capture content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Make Calls with Team MAYDAY</h2>
      <p>Join Team MAYDAY to call Congress together. With a small group of the first citizens to RSVP, we’ll report campaign progress, make calls to Congress together, then get your input during a sneak peek of our next steps to reform the way campaigns are funded. Let's do this together.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/lJSYDe-iEVw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      {% include panels/campaign/20150514_rsvp_action.html %}
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}

<script>
//custom scripts per page
//This in included just before before the close body tag.
</script>

