---
layout: default
title: Take Action
permalink: /townhall/
meta_content: |
  <meta property="og:url" content="https://mayday.us/townhall/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150429-hero-bg.jpg"/>
  <meta property="og:title" content="MAYDAY PAC - Make calls with Team MAYDAY"/>
  <title>MAYDAY PAC - Make calls with Team MAYDAY</title>
  <meta property="og:description" content="Join me and MAYDAY leaders for a Google Hangout to learn about the campaign’s next steps. Let's do our part together!"/>
  <link rel="canonical" href="https://mayday.us/townhall/">
---
{% capture custom_css %}
<style type="text/css">
  .somePageSpecificCss{}
</style>
{% endcapture %}

{% capture content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Make Calls with Team MAYDAY</h2>
      <p>Join Team MAYDAY to learn how to move your member of Congress to be a Leader for Reform. With a small group of the first citizens to RSVP, we’ll report campaign progress, talk about the best ways to get involved in your district, then get your input during a sneak peek of our next steps to reform the way campaigns are funded. Let's do this together.</p>
      <h3>Join the call on <strong>June 23rd at 3pm ET</strong> <a href="https://plus.google.com/hangouts/_/hoaevent/AP36tYcENDjmFho8lYRX1kCs_uNN-c8HoVoLtxwBHZOjDz4rFOo5yA?authuser=1&hl=en">click here</a>.</h3>
      <br/>
      <div class="embed-responsive embed-responsive-16by9">
        <a href="https://plus.google.com/hangouts/_/hoaevent/AP36tYcENDjmFho8lYRX1kCs_uNN-c8HoVoLtxwBHZOjDz4rFOo5yA?authuser=1&hl=en" title="Join the call at 3pm on June 23rd"><img  class="embed-responsive-item" src="/images/campaigns/20150526-townhall_fake_video.jpg" /></a>
        <!-- <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/Oa1yAWTO9oc?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe> -->
      </div>
    </div>
    <div class="col-md-4">
      {% include panels/campaign/20150514_rsvp_action.html %}
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}

<script>
//custom scripts per page
//This in included just before before the close body tag.
</script>

