---
layout: default
title: Announcing a our new CEO
permalink: /june27/
hideMenus: true
hideHeaderSignUp: true
---
{% capture custom_css %}
<style type="text/css">
  .dayofaction .thanks-message{display:none;}
  .jumbotron{background: #af010e;min-height: 140px; text-align:center; color:#fff;}
  .control-label h3{font-weight:400;}
  .page-content{padding-bottom: 0}
</style>
{% endcapture %}

{% capture content %}

<div class="jumbotron hidden-xs hidden-sm">
  <h1>Placeholder</h1>
</div>

<div class="donate-page container">
  <div class="col-md-6 col-lg-6 donate-flavor-text">
    <h1>Support our new CEO</h1>
    <p>Be part of the movement to restore our democracy.</p>
    <p>Mayday is built on the idea that harnessing the full strength of our community will make reform possible.</p>
    <p>We've got a million ideas for different ways to experiment on how best to move members to commit to fundamental reform. Help us learn what works, by supporting MaydayPAC.</p>
  </div>
  <div class="col-sm-8 col-md-6 col-lg-5">
    <div class="box-inner donate-page-box">
      <h2 class="box-title">Support our new CEO</h2>
      {% include donate_form.html %}
    </div>
  </div>
</div><!-- END .donate-page.container -->

<div id="rules" class="contribution-rules container-fluid">
  <div class="container">
    <div class="col-md-10">
    {% include donate_rules.html %}
    </div>
  </div>
</div>
{% endcapture %}

{% include sub_layouts/default_layout.html %}
