---
layout: default
title: Take Action
permalink: /demo/donor-strike/
meta_content: |
  <meta property="og:url" content="https://mayday.us/demo/donor-strike/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150429-hero-bg.jpg"/>
  <meta property="og:title" content="Donor Strike Demo"/>
  <title>Donor Strike Demo</title>
  <meta property="og:description" content="This is optional content"/>
  <link rel="canonical" href="https://mayday.us/demo/donor-strike/">
  <meta name="robots" content="noindex"><!--  remove no-index when you take pages live -->
---
{% capture custom_css %}
<style type="text/css">
  .somePageSpecificCss{}
</style>
{% endcapture %}

{% capture content %}
<style type="text/css" media="screen">
  .jumbotron{
    background: transparent url('/images/campaigns/20160120_generic_jumbotron.jpg') no-repeat center center;
    padding-top: 120px;
    padding-bottom: 20px;
  }
  .jumbotron h1{text-shadow: 3px 3px 2px #212230;}
</style>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Donor strike demo</h1>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <form class="mayday-inputs" id="js-search-form" style="background-color:#eee;padding:10px">
      <fieldset>

        <legend>Form Name</legend>

        <div class="form-group">
          <label class="col-md-4 control-label sr-only" for="name">Your Name</label>
          <div class="col-md-4">
            <input id="name" name="name" type="text" placeholder="Your Name" class="">
            <span class="help-block">You can search by your full name</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label sr-only" for="city">City</label>
          <div class="col-md-4">
            <input id="city" name="city" type="text" placeholder="City" class="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label sr-only" for="zip">Zip</label>
          <div class="col-md-4">
            <input id="zip" name="zip" type="text" placeholder="Zip" class="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label sr-only" for="state">State</label>
          <div class="col-md-4">
            <select id="state" name="state" class="form-control">
              {%include state_options.html%}
            </select>
          </div>
        </div>

        <div id="js-claims-holder"></div>

        <div class="form-group" id="js-search-buttons">
          <label class="col-md-4 sr-only" for="search">Search</label>
          <div class="col-md-4">
            <button id="search" name="search" class="btn btn-mayday">Search</button>
          </div>
        </div>

        <hr class="margin-y-lg"/>
        <div id="js-results-holder"></div>
      </fieldset>
    </form>

  </div>
</div>
{% endcapture %}


{% capture page_specific_javascript %}
  <script>

    md.donorstrike = {};
    (function(donorstrike) {
      donorstrike.base_url = 'http://simple-search-service-mayday-2040.mybluemix.net/search?q=';

      donorstrike.isValidQueryParam = function (param_name){
        valid_params = ['name','city','state','zip']
        return ($.inArray(param_name, valid_params) > -1);
      }
      donorstrike.isValidSearchQuery = function (keyPair) {
        return donorstrike.isValidQueryParam(keyPair.name) && keyPair.value != '';
      }
      donorstrike.buildSearchQuery = function (formData){
        var queryParams = [];
        formData.forEach(function(keyPair){
          if(donorstrike.isValidSearchQuery(keyPair)){
            queryParams.push(keyPair.name+':"'+keyPair.value+'"');
          }
        });
        return queryParams.join('+AND+');
      }
      donorstrike.submitSearchQuery = function(callback){
        var formData = $('#js-search-form').serializeArray(),
          searchPath = donorstrike.base_url + donorstrike.buildSearchQuery(formData),
          $resultsHolder = $('#js-results-holder');
        $.get(searchPath, function(data){
          $.each(data.rows, function(index,row){
            $resultsHolder.append(HandlebarsTemplates['donor-strike'](row));
          });
          callback();
        });
      }
      donorstrike.claim = function ($input_element) {
        $target_element = $($input_element).parents('.form-group');
        $clone = $target_element.clone();
        $clone.find('.js-claim-text').text('Unclaim it.');
        var amount = $($input_element).data('amount');
        $target_element.html('<h4>Claimed $'+amount+'!</h4>')
        $('#js-claims-holder').append($clone);
      }
      donorstrike.initializeClaim = function() {
        $('.js-claimable-contribution').on('change', function(element){
          donorstrike.claim(this);
        });
      }
      donorstrike.initialize = function(){
        console.log('initializing')
        $('#js-search-form').on('submit', function(e){
          e.preventDefault();
          donorstrike.submitSearchQuery(donorstrike.initializeClaim);
        });
      }
    })(md.donorstrike);

    $(document).ready(function(){
      md.donorstrike.initialize();
    });
  </script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}

{% include sub_layouts/default_layout.html %}