---
layout: default
title: Take Action
permalink: /donate/new/
meta_content: |
  <meta property="og:url" content="https://mayday.us/donate/new/"/>
  <meta property="og:image" content="https://mayday.us/images/campaigns/20150429-hero-bg.jpg"/>
  <meta property="og:title" content="Create your donation page"/>
  <title>Create your donation page</title>
  <meta property="og:description" content="This is optional content"/>
  <link rel="canonical" href="https://mayday.us/donate/new/">
  <meta name="robots" content="noindex"><!--  remove no-index when you take pages live -->
---
{% capture custom_css %}
<style type="text/css">
  body.activeActionPanel{margin-top:80px;}
  .js-p2p-form-container textarea{min-height:240px;}
  .js-preview-action-panel{position:absolute;z-index:5000;width:100%;top:0;}
  .js-cloudinary-thumbnails .cloudinary-thumbnails{display:none;float:right;}
  .js-cloudinary-thumbnails .cloudinary-thumbnails:last-child{display:block;}
</style>
{% endcapture %}

{% capture content %}
<div class="container js-p2p-form-container">
  <div class="col-md-12">
    <div class="row">
      <h1>Make your own donation page!</h1>
      <p>Let's get started</p>
    </div>
    <div class="row">
      <form class="join md-inputs">
        <fieldset>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label sr-only" for="person[first_name]">First Name</label>
              <input id="person[first_name]" name="person[first_name]" type="text" required="required" placeholder="First Name">
            </div>

            <div class="form-group col-md-6">
              <label class="control-label sr-only" for="person[last_name]">Last Name</label>
              <input id="person[last_name]" name="person[last_name]" type="text" required="required" placeholder="Last Name">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label sr-only" for="person[zip]">ZIP</label>
              <input id="person[zip]" name="person[zip]" pattern="\d{5,5}(-\d{4,4})?" type="text"  required="required" placeholder="ZIP" />
            </div>

            <div class="form-group col-md-8">
              <label class="control-label sr-only" for="person[email]">Email Address</label>
              <input id="person[email]" name="person[email]" type="email" placeholder="Email Address" required="required" />
            </div>
          </div>
        </fieldset>
        <fieldset class="grey-content-wrap">
          <div class="row">
            <div class="col-md-12">
              <h2 class="bottom-spacer-sm">Your page info</h2>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label sr-only" for="donation_page[title]">Page title</label>
              <input id="donation_page[title]" name="donation_page[title]" required="required" type="text" placeholder="Your page title" />
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-8">
              <label class="control-label sr-only" for="donation_page[visible_user_name]">Your Display Name</label>
              <input id="donation_page[visible_user_name]" name="donation_page[visible_user_name]" required="required" type="text" placeholder="Your Display Name" />
            </div>

            <div class="form-group col-md-4">
              <label class="control-label sr-only" for="donation_page[slug]">Slug</label>
              <input type="text" name="donation_page[slug]" placeholder="Unique URL" class="js-slug" required="required" />
              <span class="help-block">You can create a unique URL so that users can </span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label sr-only" for="donation_page[intro_text]">Intro</label>
              <textarea name="donation_page[intro_text]" placeholder="Intro"> *MAYDAY.US* is leading a modern day civil rights movement to bring true political equality back to our Republic. You may not be able to afford your own personal lobbyist, but you can band together with members of this community and support leaders who are on the right side of history.

Our innovative technologies and organizational strategies are inspiring a new generation of activism. To continue this work, we need your support. Every time you give, it’s a vote against political corruption, against legalized bribery, against crony capitalism. So, please, give what you can. Give with hope for our future, that we may one day restore our democracy.
              </textarea>
              <span class="help-block">Please say why people should donate. Text can be styled with <a href="/donate/markdown-guide/" target="_blank">markdown</a>.</span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label sr-only" for="donation_page[photo_url]">Your Photo</label>
              <div class="input-group">
                <a href="#" id="upload_widget_opener" class="btn btn-md-md btn-md-lightblue">Upload your photo</a>
              </div>
              <span class="help-block">Add your photo because it's you!</span>
            </div>
            <div class="col-md-8 js-cloudinary-thumbnails"></div>
          </div>
        </fieldset>
        <fieldset>

          <div class="row">
            <div class="form-group col-md-6 center-block">
              <div class="col-md-5">
                <label class="control-label sr-only" for="singlebutton">Preview</label>
                <button type="submit" class="btn btn-md-wide btn-md-red btn-md-green js-preview-button">Preview</button>
              </div>
              <input type="hidden" name="template_id" value="20150720_tech_volunteer">
              <input type="hidden" name="person[remote_fields][tags][]" value="20150720_tech_volunteer">
              <input type="hidden" name="person[is_volunteer]" value="1">
            </div>
          </div>
          <div class="row">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="grey-content-wrap hidden js-preview-action-panel">
  <div class="container">
    <form class="form-horizontal md-inputs">
      <fieldset>
        <div class="row">
          <div class="form-group col-md-8 no-gutter">
            <label class="control-label col-md-4 col-lg-2 text-left">Your URL:&nbsp;</label>
            <div class="col-md-8 col-lg-10">
              <input type="text" name="" value="" class="js-sample-url" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-5">
              <label class="control-label sr-only" for="singlebutton">Edit</label>
              <button type="submit" class="btn btn-md-md btn-md-lightblue js-edit">Edit</button>
            </div>
            <div class="col-md-7">
              <label class="control-label sr-only" for="singlebutton">Finish &amp; Save!</label>
              <button type="submit" class="btn btn-md-md btn-md-green js-save">Finish &amp; Save!</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="container hidden js-preview">
  {% include donate/p2p_page_body.html %}
</div>
{% endcapture %}


{% capture page_specific_javascript %}
{% javascript vendor/marked.min.js %}
<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script>
 md.p2p = {};
(function(p2p) {
  p2p.cloudinary_base_url = 'http://res.cloudinary.com/mayday/'

  p2p.cloudinary_options = {
      cloud_name: 'mayday',
      upload_preset: 'gxmwkd7p',
      cropping: 'server',
      folder: 'p2p-donate-pages',
      button_caption: 'Upload a profile photo',
      button_class: 'btn btn-md-md btn-md-lightblue',
      // theme: 'mininal',
      cropping_aspect_ratio: 1,
      field_name: 'donation_page[photo_url]',
      multiple: false,
      max_file_size: 1024000,
      max_files: 1,
      thumbnail_transformation: {width: 200, height: 200, crop: 'fill' },
      thumbnails: '.js-cloudinary-thumbnails'
    }

  p2p.initializeDomObjects = function(){
    p2p.$renderElement      = $('.js-rendered-p2p-placeholder');
    p2p.$parentElement      = $('.js-rendered-p2p-placeholder').parents('.container');
    p2p.$previewElement     = $('.js-preview');
    p2p.$actionBarElement   = $('.js-preview-action-panel');
    p2p.$editingElement     = $('.js-p2p-form-container');
    p2p.$editingFormElement = p2p.$editingElement.find('form');
    p2p.$body               = $('body');
  }

  p2p.initializeImageUploader = function(){
    $('#upload_widget_opener').cloudinary_upload_widget(
      p2p.cloudinary_options,
      function(error, result) { console.log(error, result) }
    );
  }

  p2p.generateRenderedPageData = function(){
    p2p.formObject = p2p.$editingFormElement.serializeObject();
    var donation_page = p2p.formObject.donation_page;
    donation_page.slug = slugify(donation_page.slug);
    donation_page.intro_text_markdown = marked(donation_page.intro_text);
    donation_page.thumbnail = p2p.parseTransformedThumbnailUrl(donation_page.photo_url)
    return donation_page;
  }

  p2p.parseTransformedThumbnailUrl = function(cloundiary_string){
    if(typeof cloundiary_string != 'undefined'){
      var transformed_image_path = cloundiary_string
        .replace(/#.+/,'')
        .replace('image/upload','image/upload/h_200,w_200,c_fill');
      return (p2p.cloudinary_base_url + transformed_image_path);
    }
  }

  p2p.renderPreview = function(){
    console.log('render')
    var donation_page_data = p2p.generateRenderedPageData(),
      renderedHtml = HandlebarsTemplates['p2p-donate-content'](donation_page_data);
    $('.js-sample-url').val('https://mayday.us/mydonate/#'+donation_page_data.slug);
    p2p.$renderElement.empty().append(renderedHtml);
    p2p.$parentElement.removeClass('hidden');
    p2p.$actionBarElement.removeClass('hidden');
    p2p.$previewElement.removeClass('hidden');
    p2p.$editingElement.addClass('hidden');
    p2p.$body.addClass('activeActionPanel');
  }

  p2p.renderEdit = function(){
    p2p.$body.removeClass('activeActionPanel');
    p2p.$actionBarElement.addClass('hidden');
    p2p.$previewElement.addClass('hidden');
    p2p.$editingElement.removeClass('hidden');
  }

  p2p.initializeFormValidator = function(){
    p2p.$editingFormElement.validate({
      submitHandler: function(form) {
        p2p.storeDonationPage();
      },
    });
  }

  p2p.storeDonationPage = function(){
    console.log('posting:', p2p.formObject, 'to: services_url');
    $.post(services_url + '/donation_pages', p2p.formObject, function(data){
      Cookies.set('personal_donation_page_uuid', data.slug)
      data.inspect
      // window.location = 'https://mayday.us/mydonate/#' + data;
    })
  }

  p2p.renderExistingDonatePage = function(slug){
    // p2p.existingPageUuid = Cookies.get('personal_donation_page_uuid');
    $.get(services_url + '/donation_page', {id: slug}, function(data){
      $p2p.showDonationPageData = data;
      $p2p.showDonationPageData.intro_text_markdown = marked($p2p.showDonationPageData.intro_text);
      $p2p.showDonationPageData.thumbnail = p2p.parseTransformedThumbnailUrl(donation_page.photo_url)
      renderedHtml = HandlebarsTemplates['p2p-donate-content']($p2p.showDonationPageData);
      p2p.$renderElement.append(renderedHtml);
    });
  }

  p2p.initializeEventBindings = function(){
    $('.js-slug').on('blur', function(e){
      e.currentTarget.value = slugify(e.currentTarget.value);
    });
    $('.js-preview-button').on('click', function(e){
      e.preventDefault();
      if(p2p.$editingFormElement.valid()){
        p2p.renderPreview();
      }
    });
    $('.js-edit').on('click', function(){
      p2p.renderEdit();
    });
    $('.js-save').on('click', function(){
      p2p.$editingFormElement.submit();
      // alert('not implemented, but goal to save and redirect to target page');
    });
    $('.js-preview-action-panel form').on('submit', function(e){
      e.preventDefault();
    })
  }

  p2p.initialize = function(){
    p2p.initializeEventBindings();
    p2p.initializeDomObjects();
    p2p.initializeImageUploader();
    p2p.initializeFormValidator();
  }

})(md.p2p);

$(document).ready(function(){
  md.p2p.initialize();
});

</script>
{% endcapture %}

<!-- following line combines page scripts into footer scripts, below loaded libraries -->
{% capture footer_scripts %}{{footer_scripts}}{{page_specific_javascript}}{% endcapture %}

{% include sub_layouts/default_layout.html %}
