<div class="panel action-panel with-shield">
  <div class="panel-icon">
    <img src="/images/M_shield_callout_box.svg" class="img-responsive" alt="">
    <div class="fade-line hidden-xs hidden-sm"></div>
  </div>
  <div class="panel-body">
    <h2>{% if include.alt_title %}{{include.alt_title}}{% else %}Sign Up Now{% endif %}</h2>
    <p>{% if include.alt_title %}{{include.alt_body}}{% else %}Be part of the movement to repair our republic.{% endif %}</p>
    <form class="row smaller-form js-rsvp-form">

      <fieldset class="col-md-12">

      <div class="row sm-gutter">
        <div class="form-group col-md-6">
          <label class="control-label sr-only" for="person[first_name]">First Name</label>
          <input id="person[first_name]" name="person[first_name]" type="text" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
          <label class="control-label sr-only" for="person[last_name]">Last Name</label>
          <input id="person[last_name]" name="person[last_name]" type="text" placeholder="Last Name">
        </div>
      </div>

      <div class="row sm-gutter">
        <div class="form-group col-md-8">
          <input type="tel" class="no-bottom-margin" name="person[phone]" placeholder="Phone Number" required="required" phoneUs="phoneUs"/>
        </div>

        <div class="form-group col-md-4">
          <label class="control-label sr-only" for="person[zip]">ZIP</label>
          <input id="person[zip]" name="person[zip]" pattern="\d{5,5}(-\d{4,4})?" type="text" placeholder="ZIP">
        </div>
      </div>

      <div class="row sm-gutter no-bottom-margin">
        <div class="form-group col-md-12 no-bottom-margin">
          <label class="control-label sr-only" for="person[email]">Email Address</label>
          <input id="person[email]" name="person[email]" type="email" placeholder="Email Address" required="required">
        </div>
      </div>

      <div class="row sm-gutter">
        <div class="form-group col-md-12 text-left">
          <div class="radio">
            <label for="radios-0">
              <input type="radio" name="event_id" id="radios-0" value="35" required="required">
              Tuesday, May 19th at 9pm ET
            </label>
          </div>
          <div class="radio">
            <label for="radios-1">
              <input type="radio" name="event_id" id="radios-1" value="36" required="required">
              Thursday, May 21st at 3pm ET
            </label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-12">
        <label class="control-label sr-only" for="singlebutton">Submit</label>
        <input type="hidden" name="template_id" value="rsvp">
        <input type="hidden" name="person[remote_fields][tags][]" value="20150515_rsvp">
        <button type="submit" class="btn btn-md-wide btn-md-red">I'm in</button>
      </div>
          <p class="help-block">We respect your privacy. Your phone number will not be shared with any third party. Note: If submitting your mobile number, you certify that this  phone number is yours and you grant Mayday PAC permission to call you.</p>

      </fieldset>
    </form>

  </div>
</div>
{% capture panel_signup_js %}
<script>
  $('.js-rsvp-form').validate({
    submitHandler: function(form) {
      $form = $(form);
      $form.find('button.btn').html('<i class="fa fa-refresh fa-spin"></i> Loading...');
      $.post('{{site.services_url}}/events/create_rsvp', $form.serialize(), function(data){
      }).done(function(){
        location = '/take-action/#get-educated'
      });
    }
  });
</script>
{% endcapture %}
{% capture footer_scripts %}{{footer_scripts}}{{panel_signup_js}}{% endcapture %}
